.article__text{
	font-size: 20px;
    color: #8c5700;
    text-align: left;
}
.article__image{
	display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

