.article__text{
	font-size: 20px;
    color: #8c5700;
    text-align: left;
}
.article__image{
	display: block;
    max-width: 100%;
    height: auto;
}

span{
    font-size: 25px;
    font-family: Monotype Corsiva, sans-serif;
    text-decoration: underline;
    color: gray;
}

.bullet {
margin-left: 0;
list-style: none;
counter-reset: li;
}
.bullet li {
position: relative;
margin-bottom: 1.5em;
border: 3px solid #CADFCF;
padding: 0.6em;
border-radius: 4px;
background: #FEFEFE;
color: #231F20;
font-family: "Trebuchet MS", "Lucida Sans";
}
.bullet li:before {
position: absolute;
top: -0.7em;
padding-left: 0.4em;
padding-right: 0.4em;
font-size: 16px;
font-weight: bold;
color: #DCC24B;
background: #FEFEFE;
border-radius: 50%;
counter-increment: li;
content: counter(li);
}