{% extends 'main/layout.html'%}
{% load static %}

{% block link %} <link rel="stylesheet" href= "{% static 'main/css/Americano.css' %}"> {% endblock %}

{% block title %} Americano {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Американо</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Americano</h3>
                <h2 class="section__title">Американо</h2>
                <div class="section__text">
                    <p>
                        Кофе американо (итал. Caffè Americano) – это эспрессо, разбавленный горячей водой. Наличие пенки (крема́) зависит от того, каким способом смешивают кофе и воду.<br>
                        <br>

                        <p class="margin">
                            <b>Внимание!</b> Нельзя путать понятия «американо» и «кофе по-американски». Во втором случае имеется в виду не разбавленный эспрессо, а напиток, приготовленный через фильтр-систему, второе название – «Кружка Джо».
                        </p>
                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Americano\kofe-kruzhka-dzho.jpg' %}" alt=""> 
                                <figcaption>
                                    Американский солдат с Кружкой Джо — прообразом современного кофе американо
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content%}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История американо.</h2>

                <div class="article__text">
                    <p>
                        В США ещё c XIX века были популярны капельные кофеварки. В них используются фильтры. По технологии горячая вода проливается сквозь слой молотого кофе на фильтре. Поэтому кофе, приготовленный в капельной кофеварке, называют фильтр-кофе. Во всех барах Америки посетителям предлагали так называемую «кружку Джо» – ёмкость с 220 мл фильтр-кофе, на приготовление которого уходило 5–7 минут.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Americano\kofe-kruzhka-dzho.jpg' %}" alt=""> 
                                <figcaption>
                                    Американский солдат с Кружкой Джо — прообразом современного кофе американо
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        В конце Второй мировой войны американские солдаты, освобождавшие Италию от фашистов, замучили местных барменов требованиями приготовить «кружку Джо». Горячо любимый итальянцами эспрессо казался американцам слишком крепким, а порции по 30 мл после большой чашки фильтр-кофе – и вовсе смехотворными.<br>
                        <br>

                        <p class="margin">
                            Итальянцы просьбу приготовить едва ли не бадью некрепкого кофе считали как минимум чудачеством. Но клиент всегда прав. Вскоре специально для американцев эспрессо начали разбавлять горячей водой и подавать в чашках для латте. А чтобы не знающим итальянского языка военным было легче заказывать разведённый эспрессо, его стали называть americano.
                        </p><br>
                        <br>

                        Со временем выяснилось, что вкус американо достаточно оригинален и во многом зависит от способа смешивания ингредиентов. У нового напитка появились ценители в разных странах Европы. С американо проводили смелые эксперименты, добавляя в него молоко, колотый лёд, алкоголь.<br>
                        <br>

                        <p class="margin">
                            Вернувшиеся домой американские военные сохранили верность любимому фильтр-кофе и думать забыли о напитке, изобретённом именно для них. Как это ни парадоксально, по-настоящему Америка открыла для себя кофе американо только в 90-х годах XX века, когда напиток появился в меню сети кофеен Starbuks.
                        </p><br>
                        <br>

                        Возникло недоразумение: хотя напитки отличаются друг от друга по вкусу и способу приготовления, некоторые бариста до сих пор путают кофе по-американски, то есть фильтр-кофе, и американо – разведённый эспрессо.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Правила приготовления кофе американо.</h2>

                <div class="article__text">
                    <p>
                        Если бы кофе можно было сравнить с живописью, то эспрессо – яркий, жизнеутверждающий натюрморт одного из старых голландских мастеров, а американо – акварельный набросок в пастельных тонах. Особенность американо – нежный вкус. Этот кофе отличается от других напитков очень низкой концентрацией кофеина: в порции американо объёмом от 60 до 120 мл (а иногда и больше) – столько же кофеина, сколько в 30 мл эспрессо.<br>
                        <br>
                        <div class="image_center">
                            <center>
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Americano\kofe-amerikano-v-stakane-768x432.jpg' %}" alt="">
                                <figcaption>
                                    Для большой порции американо стакан подходит лучше чашки
                                </figcaption>
                            </center>
                        </div><br>
                        <br>

                        Американо часто отдают предпочтение люди с очень чувствительными вкусовыми рецепторами, способные распознавать малейшие оттенки вкуса. Другая категория – те, кто больше любит аромат кофе, чем вкус.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики кофе американо (таблица).</h2>

                <div class="article__text">
                    <p>
                        От других видов кофе классический эспрессо отличается отсутствием примесей: молока, сливок, спиртных напитков, пряностей. Добавляя в эспрессо эти ингредиенты в различных пропорциях, можно получить несколько десятков других кофейных напитков.<br>
                        <br>

                        <h3><b><center>Характеристики эспрессо (таблица)</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Смесь из нескольких сортов арабики или 90% арабики и 10% робусты</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>От средней (Полной Городской или Венской) до тёмной (Итальянской или Французской). Чем темнее обжарка, тем больше во вкусе горечи и меньше кислинки</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Тонкий эспрессо или средний</td>
                            </tr>

                            <tr>
                                <td>Давление в кофемашине</td>
                                <td>В эспрессо-камере – не менее 9 бар, рабочее давление помпы – не менее 15 бар</td>
                            </tr>

                            <tr>
                                <td>Температура воды в группе</td>
                                <td>Для кофе средней обжарки – от +91 до +93 °C,<br>
                                    для тёмной – от +88 до +91 °C</td>
                            </tr>

                            <tr>
                                <td>Температура воды, с которой смешивают готовый эспрессо</td>
                                <td>От +90 до +92 °C</td>
                            </tr>

                            <tr>
                                <td>Температура готового кофе</td>
                                <td>На выходе из носика холдера — +88 ± 2 °C,<br>
                                    в чашке – от +75 до +85 °C (в зависимости от количества горячей воды, которой разбавляют эспрессо)</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>25–30 секунд, в зависимости от модели кофеварки</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>Преимущественно 60–120, но в редких случаях – и до 500</td>
                            </tr>
                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>50–68 мг (в одной порции)</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1-3</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>7</td>
                            </tr>

                            <tr>
                                <td>Калорийность</td>
                                <td>9 кКал на 100 мл, 2,25 кКал на порцию</td>
                            </tr>

                            <tr>
                                <td>Калорийность с сахаром</td>
                                <td>21,60 кКал — порция кофе с 5 г сахара (1 стикером)</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Выбор кофе для американо.</h2>

                <div class="article__text">
                    <p>
                        Если во вкусе кофейной смеси есть кислинка, то в американо она проявляется особенно ярко. Тем, кто любит такой оттенок привкуса, рекомендуется варить кофе из смеси нескольких сортов арабики, обжарка должна быть Полной Городской.<br>
                        <br>

                        Если хочется чуть больше благородной горечи, стоит выбрать смесь из 90% арабики и 10% робусты. Заодно кофе будет немного крепче: в робусте выше содержание кофеина. На американо, приготовленном из смеси арабики с робустой, пенка несколько плотнее и устойчивее, чем на кофе из чистой арабики. Но смеси, где робусты больше 10%, обладают менее интенсивным ароматом и горчат, они хороши только для любителей смешивать американо с молоком.<br>
                        <br>

                        <p class="margin">
                            Кенийская арабика придаёт кофе шоколадный привкус с лёгким намёком на перечную остроту. Для индийской арабики Plantation A характерна шоколадная сладость, лёгкая кислинка и густой, насыщенный вкус. Формируя смесь в специализированном магазине, стоит добавить в неё по 20–30% кенийской и индийской арабики: тогда даже американо, разведённый в пропорции 1:2 не покажется жидким и безвкусным.
                        </p>

                        Любителям тёплых, шоколадных нот подойдут зёрна Венской обжарки. При более тёмной обжарке (Французской или Итальянской) усиливается горечь. Для приготовления американо смеси с сильной степенью обжарки можно использовать, только если эспрессо разбавляют водой в пропорции не более, чем 1:2 (на 1 часть эспрессо – 2 части воды): в менее концентрированном кофе привкус горечи неприятен, его приходится маскировать сахаром или молоком.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Помол.</h2>

                <div class="article__text">
                    <p>
                        Для американо оптимален тонкий эспрессо помол, в крайнем случае – средний. Чем крупнее помол, тем менее концентрированным получится эспрессо, а при разбавлении водой некрепкого кофе вкус станет совсем невыразительным.<br>
                        <br>

                        <div class="image_center">
                            <center>
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Americano\pravilnyj-pomol-kofe-dlya-amerikano.jpg' %}" alt="">
                            </center>
                        </div><br>
                        <br>

                        <h3><b>Кофеварка для американо</b></h3>

                        Для американо подойдёт хорошая кофеварка эспрессо: в металлическом корпусе, с рожком из нержавеющей стали, обеспечивающая в эспрессо-камере давление не менее 9 бар. Желательно, чтобы у такой кофеварки отдельно был кран для горячей воды.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Классический рецепт американо.</h2>

                <div class="article__text">
                    <p>
                        <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>молотый кофе – 7–11 грамм.</li>

                            <li>вода – 30 мл для варки эспрессо и 30–470 мл воды для того, чтобы его разбавить.</li>

                            <li>сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления</center></b></h3>

                        <ol class="bullet">
                            <li>Включить кофеварку и дождаться срабатывания индикатора готовности.</li>

                            <li>Если кофемашина оснащена кофемолкой, положить в неё столовую ложку с горкой кофейных зёрен.</li>

                            <li>Если кофеварка – рожковая, отмерить 7–11 г молотого кофе (мерной ёмкостью или чайной ложкой, в 1 чайной ложке – 3 г). Темпером утрамбовать кофе в рожке, прилагая усилие не менее 20 кг.</li>

                            <li>Установить рожок в кофеварку.</li>

                            <li>Подогреть большую толстостенную чашку (к примеру, бокал для латте) для кофе и другую – горячей воды.</li>

                            <li>Установить чашку для эспрессо в лоток для сбора капель, время приготовления кофе – 25–30 секунд.</li>

                            <li>Во вторую чашку набрать горячей воды (ориентировочная температура – от +90 до +92 °C).</li>

                            <li>Смешать ингредиенты. Добавить сахар по вкусу.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>
                                <img class="article__image" src="{% static 'main\images\coffee_sort\Americano\kofe-amerikano-v-domashnix-usoviyax-768x512.jpg' %}" alt="">
                                <figcaption>
                                    Характер пенки зависит от метода смешивания эспрессо с водой
                                </figcaption>
                            </center>
                        </div><br>
                        <br>

                        <p class="margin">
                            Если хочется получить больше американо, можно приготовить двойную или тройную порцию эспрессо, соответственно увеличив количество ингредиентов. Но варить кофе больше 25–30 секунд нельзя, так как после этого появляется запах горелых зёрен.
                        </p>

                        Основная часть кофеина попадает в чашку именно в первые 25–30 секунд экстрагирования. Если не прекратить приготовления, из молотых зёрен начнут вымываться смолы и другие вещества с неприятным запахом и вкусом.<br>
                        <br>

                        <h3><b>Существует правило 3 фаз экстрагирования кофе:</b></h3>        

                        <ol class="bullet">
                            <li>в первые 8–9 секунд экстрагирования в чашку попадают вещества, создающие кислинку во вкусе.</li>

                            <li>во второй трети процесса экстрагирования кофе приобретает сладкие, шоколадные оттенки.</li>

                            <li>в третьей фазе проявляется горечь.</li>
                        </ol><br>
                        <br>

                        <h3><b>Если вкус купленной смеси не устраивает, его можно немного скорректировать:</b></h3>

                        <ol class="bullet">
                            <li>если не нравится кислинка – подставить чашку через 2–3 секунды после начала экстрагирования.</li>

                            <li>чтобы уменьшить горечь – прервать процесс экстрагирования на 3–4 секунды раньше.</li>
                        </ol><br>
                        <br>

                        <h3><b>Существует 3 способа смешивания американо:</b></h3>

                        <ol class="bullet">
                            <li>итальянский – в эспрессо добавляют воду и перемешивают. Пенка пропадает почти полностью. На 1 часть эспрессо обычно берут 1–3 части воды. Но при желании концентрацию кофе можно сделать ещё меньше.</li>

                            <li>скандинавский (шведский) – в чашку для эспрессо наливают горячую воду и устанавливают сосуд в лоток для сбора капель. В результате получается некрепкий кофе с красивой пенкой и нежным вкусом. Особенно приятен первый глоток.</li>

                            <li>европейский. Одновременно подают большую чашку с 1–3 порциями свежесваренного эспрессо и сосуд с горячей водой. Гость сам решает, как ему разбавить кофе.</li>
                        </ol><br>
                        <br>

                        <h3><b>Модификации</b></h3>

                        Все варианты кофе американо делают одним из вышеописанных способов, по желанию добавляют сахар. Каждые 5 г сахара (содержимое 1 стикера или чайной ложки без горки) увеличивают калорийность напитка на 19,35 кКал.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Виды американо.</h2>

                <div class="article__text">
                    <p>
                        Холодный американо. Вместо кипятка гостю подают бокал с холодной водой. Дополнительно можно использовать кубики льда.<br>
                        <br>

                        Long Black («Лонг блэк», длинный чёрный) – по скандинавскому способу в горячую воду добавляют двойную порцию эспрессо.<br>
                        <br>

                        Американо со спиртным. В кофе добавляют 1–2 чайных ложки граппы, виски или рома.<br>
                        <br>

                        Американо с молоком – часть воды в рецепте американо заменяют молоком.<br>
                        <br>

                        Red eye («Рэд ай», «Красный глаз», «Открыватель глаз») – эспрессо смешивают не с водой, а с фильтр-кофе (примерно 120 мл).<br>
                        <br>

                        Black eye («Блэк ай», «Чёрный глаз») – порцию эспрессо смешивают с 30–120 мл фильтр-кофе и таким же количеством молока.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить кофе американо.</h2>

                <div class="article__text">
                    <p>
                        Американо нельзя выпить залпом, как эспрессо. Поэтому имеет смысл подавать его в бокале для латте с соломинкой, сахарницей или 1–2 стикерами сахара. В офисе удобно пить американо из бумажного стаканчика, потягивая через соломинку.<br>
                        <br>

                        Напиток можно закусывать теми же продуктами, что и эспрессо: шоколадом, фруктами, твёрдым сыром. Но американо гармонирует и с десертами, выпечкой, причём как со сладкой, так и с солёной. Классическое сочетание – американо с пончиками.<br>
                        <br>

                        <div class="image_center">
                            <center>
                                <img class="article__image" src="{% static 'main\images\coffee_sort\Americano\kak-pravilno-podavat-amerikano.jpg' %}" alt="">
                            </center>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Польза и вред американо.</h2>

                <div class="article__text">
                    <p>
                        Американо – беспроигрышный вариант для тех, кто любит латте или капучино, но следит за фигурой. Преимущество напитка – большой объём при низкой калорийности. Количество кофеина такое же, как в эспрессо, но концентрация значительно ниже.<br>
                        <br>

                        Если для любителя кофе 3–5 порций эспрессо в день – почти норма, то даже 2 порции американо – уже много. К тому же, кофе обезвоживает организм и создаёт ложное чувство утоления жажды. Выпивая американо, содержащий большое количеством воды, человек одновременно восполняет её потери. Поэтому для людей с заболеваниями сердечно-сосудистой системы, для которых обезвоживание особенно опасно, американо предпочтительнее чистого эспрессо.<br>
                        <br>

                        Максимальные пропорции американо: на 30 мл эспрессо – 470 мл воды. Это, конечно, уже не кофе, а вода с кофейным запахом и лёгким привкусом. Но американо по такому рецепту подходит людям, сидящим на строгих диетах, когда кофе нельзя, но очень хочется.<br>
                        <br>
                        
                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-amerikano.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
