{% extends 'main/layout.html'%}
{% load static %}

{% block link %} <link rel="stylesheet" href="{% static 'main/css/Bicherin.css' %}"> {% endblock %}

{% block title %} Bicherin {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Бичерин</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Bicerin</h3>
                <h2 class="section__title">Бичерин</h2>
                <div class="section__text">
                    <p>
                        Бичерин – кофейный коктейль, состоящий из 3 слоёв: внизу – горячий шоколад, посередине – кофе, сверху – взбитые сливки. От всех других кофейно-сливочных напитков отличается обязательным наличием шоколада (иногда – шоколадно-ореховой пасты джандуйю, а в «диетическом» варианте – какао). По внешнему виду и способу подачи напоминает айриш кофе, но в бичерин никогда не добавляют алкоголь.<br>
                        <br>

                        Долгое время бичерин был распространён даже не по всей территории Италии, а лишь в Пьемонте. Поэтому варианты напитка только слегка отличаются друг от друга пропорциями.
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История бичерина.</h2>
            
                <div class="article__text">
                    <p>
                        Во второй половине XVIII века в главном городе Пьемонта Турине, который в те времена был столицей Сардинского королевства, жил торговец лимонадом Джузеппе Дентис. Накопив денег, в 1763 году он открыл собственное кафе.<br>
                        <br>

                        Место для заведения синьор Дентис выбрал напротив церкви Святой Консолаты, с таким расчётом, чтобы зажиточные туринские горожане, утомлённые мессой, заходили в кафе отдохнуть и выпить чашечку кофе.<br>
                        <br>

                        В те времена в богатых пьемонтских семьях принято было по утрам пить баварейзу (bavareisa) – смесь кофе, сливок и горячего шоколада, подслащённую патокой. Синьор Дентис долго экспериментировал и пришёл к выводу, что баварейза гораздо эффектнее будет выглядеть, если её не перемешивать, а наливать в прозрачный стакан слоями.<br>
                        <br>

                        <h3><b><center>В кафе Джузеппе Дентиса готовили три варианта баварейзы:</center></b></h3>

                        <ol class="bullet">
                            <li>pur e fiur – кофе с молоком, напоминающий современный капучино.</li>
                            <li>pur e barba – кофе с шоколадом.</li>
                            <li>un pòch ed tut («всего понемногу») – кофе с горячим шоколадом и сливками.</li>
                        </ol><br>
                        <br>

                        <p class="margin">
                            Наибольшей популярностью у местной публики пользовался третий вариант. Напиток подавали горячим, в стеклянных стаканах с подстаканниками. Эту посуду на пьемонтском диалекте называют bicherino («стаканчик»). Так родилось название «бичерин».
                        </p>

                        Вскоре туринцы настолько полюбили бичерин, что и кафе получило имя Al Bicerin. В XVIII веке бичерин превратился в фирменный туринский напиток, который подавали во всех кофейнях. Правда, дозировка ингредиентов была разная, правильные пропорции до сих пор известны лишь владельцам кафе Al Bicerin.<br>
                        <br>
                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Bicerin\kofe-al-bicherin.jpg" alt="">

                                <figcaption>
                                    Кофе Al Bicerin действует и сегодня
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        Заведение успешно пережило эпоху Наполеоновских войн, а в середине XIX века превратилось в самое популярное кафе Турина. Известно, что здесь любил бывать сам граф ди Кавур – первый премьер-министр объединённой Италии. В пристрастии к бичерину также признавались Александр Дюма, Джакомо Пуччини, Фридрих Ницше. Слабость к бичерину питала и «белла Розин» – Роза Верчеллана, возлюбленная и морганатическая супруга короля Виктора Эммануила II.<br>
                        <br>

                        В XIX веке для порядочной дамы считалось недопустимым в одиночку, без сопровождения мужчины, зайти в кафе. Но Al Bicerin очень удачно располагалось рядом с церковью, и постепенно состоятельные прихожанки стали наведываться в кафе, чтобы за чашкой горячего кофе бичерин и вазочкой с миндальным печеньем посудачить с подругами. Такое времяпровождение не выходило за рамки приличий, поскольку с XIX века хозяйками Al Bicerin были женщины.<br>
                        <br>

                        В XX столетии кафе владели дамы из семьи Кавалли: синьора Ида и её дочь Ольга. В 1983 году заведение унаследовала Марите Коста, стараниями которой оно приобрело всемирную известность. Синьора Коста отреставрировала внутренний интерьер помещения, ввела в меню традиционные сладости, которые подавали к кофе бичерин 100 лет назад, в том числе 14 видов пьемонтского песочного печенья.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Bicerin\marite-kosta-1.jpg" alt="">

                                <figcaption>
                                    Марите Коста сделала кафе Al Bicerin всемирно известным
                                </figcaption>
                            </center> 
                        </div>

                        По версии издания Gambero Rosso, в 2001 году Al Bicerin было признано лучшим кафе Италии. Тогда же бичерин включили в список «традиционных продуктов Пьемонта». В 2010 году неповторимую атмосферу кафе Al Bicerin воспел Умберто Эко в романе «Пражское кладбище». После этого резко возросла популярность бичерина в мире. Теперь пьемонтский напиток можно отведать и за пределами Италии.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты для бичерина.</h2>
            
                <div class="article__text">
                    <p>
                        В кафе бичерин готовят на основе эспрессо. Но в домашних условиях в напиток можно добавить любой крепкий чёрный кофе. Степень помола зёрен зависит от способа приготовления. Если кофе варят в турке или готовят во френч-прессе, перед приготовлением бичерина кофейную основу следует процедить через частое ситечко.<br>
                        <br>

                        <p class="margin">
                            Лучше всего заваривать 100%-ю арабику или смеси с добавлением не более 10–15% робусты. Дорогие моносорта арабики ни к чему, поскольку из-за сливок и шоколада нельзя будет как следует ощутить тонкие ноты кофейного вкуса и аромата. Но и смеси с высоким содержанием робусты не подойдут: её горечь плохо гармонирует со сливками.
                        </p>

                        Предпочтительнее зёрна средней обжарки. При светлой обжарке вкус кофе вообще не чувствуется, а сочетание сливок с кофе тёмной обжарки – на любителя.<br>
                        <br>

                        Для заваривания кофе нужна мягкая бутилированная вода с минерализацией 70–150 мг/л.<br>
                        <br>

                        <h3><b><center>Выбор сливок и молока</center></b></h3>

                        <p class="margin">
                            Часто приходится видеть изображение стакана с бичерином, увенчанного высокой шапкой взбитых сливок (как правило, искусственных). Это выглядит эффектно, но такая подача напитка не совсем верна. Классический бичерин положено пить, по очереди ощущая вкус сливок, кофе и шоколада. Сливки, взбитые до крутых пиков, придётся съесть при помощи ложечки.
                        </p>
    
                        Обычно для верхнего слоя берут сливки 30–40 %-й жирности. Их взбивают так, чтобы получилась жидкая пена, которую удобно пить (как для айриш кофе). Иногда вместо сливок для верхнего слоя используют молоко, что немного снижает калорийность напитка. В таких случаях молоко должно быть 2,5–3%-й жирности, иначе оно будет плохо взбиваться.<br>
                        <br>
                        

                        Молоко в бичерин добавляют при растапливании шоколада на водяной бане. Здесь всё зависит от личных предпочтений: молоко можно заменить водой, или разбавить сливками 10–20%-й жирности. Жирность молока значения не имеет.<br>
                        <br>

                        <h3><b><center>Выбор шоколада</center></b></h3>

                        В классическом рецепте кофе бичерин в нижний слой наливают растопленный чёрный шоколад. Но в домашних условиях разрешается поэкспериментировать со вкусами. Белый шоколад придаёт напитку маслянистый привкус.<br>
                        <br>

                        Интересного эффекта можно добиться, если использовать тёмный шоколад с пралине, фруктовыми или сливочными наполнителями. Вместо шоколада в Турине иногда добавляют пасту джандуйю, дома её заменяют «Нутеллой».<br>
                        <br>

                        Перед взбиванием сливки следует охладить, иначе они расслоятся. Сливки взбивают или перед приготовлением эспрессо, или во время заваривания кофе, если применяется более медленный метод. Чтобы слои не смешивались, кофе, а затем взбитые сливки наливают по лезвию ножа. Если хочется сделать напиток послаще, сахар лучше положить в кофе сразу после заваривания.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики бичерина.</h2>
            
                <div class="article__text">
                    <p>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>100%-я арабика или смесь с 10–15% робусты</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>Средняя (Венская или немного светлее)</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>+70 ± 5 °C</td>
                            </tr>

                            <tr>
                                <td>Температура кофейной основы</td>
                                <td>В эспрессо-камере – не менее 9 бар, рабочее давление помпы – не менее 15 бар</td>
                            </tr>

                            <tr>
                                <td>Температура горячего шоколада</td>
                                <td>+60 ± 5 °C</td>
                            </tr>

                            <tr>
                                <td>Температура сливок</td>
                                <td>+10 ± 5 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>7–10 минут</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>200</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>50–150 мг (в одной порции)</td>
                            </tr>
                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>2 (напиток очень калориен)</td>
                            </tr>

                            <tr>
                                <td>Калорийность, кКал:<br>
                                    низкокалорийный вариант (какао с сахаром в нижнем слое и сливки в верхнем);</td>
                                <td>290–313</td>
                            </tr>

                            <tr>
                                <td>низкокалорийный вариант (какао с сахаром в нижнем слое и молоко в верхнем);</td>
                                <td>174</td>
                            </tr>

                            <tr>
                                <td>с молоком и чёрным шоколадом в нижнем слое, сливками в верхнем;</td>
                                <td>450–473</td>
                            </tr>

                            <tr>
                                <td>с молоком и молочным  шоколадом в нижнем слое, сливками в верхнем;</td>
                                <td>447–470</td>
                            </tr>

                            <tr>
                                <td>со смесью молока, сливок и чёрного шоколада в нижнем слое и сливками в верхнем;</td>
                                <td>465–509</td>
                            </tr>

                            <tr>
                                <td>со смесью молока, сливок и молочного шоколада в нижнем слое и сливками в верхнем;</td>
                                <td>462–507</td>
                            </tr>

                            <tr>
                                <td>со смесью молока, сливок и чёрного шоколада в нижнем слое, подслащённым кофе в среднем и сливками в верхнем;</td>
                                <td>484–529</td>
                            </tr>

                            <tr>
                                <td>со смесью молока, сливок и молочного шоколада в нижнем слое, подслащённым кофе в среднем и сливками в верхнем;</td>
                                <td>481–526</td>
                            </tr>

                            <tr>
                                <td>со смесью молока, сливок и чёрного шоколада в нижнем слое, подслащённым кофе в среднем и подслащёнными сливками в верхнем.</td>
                                <td>503–548</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Классический рецепт бичерина.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>50 мл эспрессо или чёрного кофе, заваренного другим способом.</li>

                            <li>50 мл молока (или 25 мл молока и 25 мл сливок 10–20%-й жирности).</li>

                            <li>50 г шоколада.</li>

                            <li>50 мл 30–40%-х сливок.</li>

                            <li>шоколадная стружка, сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления.</center></b></h3>

                        <ol class="bullet">
                            <li>На водяной бане растопить шоколад в молоке (или в молоке с 20%-ми сливками)</li>

                            <li>Взбить 30–40%-е сливки до состояния жидкой пены.</li>

                            <li>Сварить кофе.</li>

                            <li>В прогретый бокал вылить горячий шоколад.</li>

                            <li>Сверху по лезвию ножа налить кофе.</li>

                            <li>Налить взбитые сливки.</li>

                            <li>Украсить шоколадной стружкой.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Bicerin\kofe-bicerin-768x650.jpg" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        <h3><b><center>Кофе бичерин с джандуйей (Nutella).</center></b></h3>

                        В классическом рецепте 50 г шоколада заменить на 50 г орехово-шоколадной пасты.
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">«Низкокалорийный» бичерин.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>50 мл эспрессо или чёрного кофе, заваренного другим способом.</li>

                            <li>100 мл молока.</li>

                            <li>2–3 ч. л. какао-порошка.</li>

                            <li>50 мл 30–40%-х сливок.</li>

                            <li>сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Рецепт.</center></b></h3>

                        <ol class="bullet">
                            <li>Взбить сливки.</li>

                            <li>Вскипятить молоко, заварить какао (можно с сахаром).</li>

                            <li>Сварить кофе.</li>

                            <li>Вылить какао в прогретый бокал.</li>

                            <li>По лезвию ножа налить кофе.</li>

                            <li>Вылить сливки.</li>

                            <li>Чтобы ещё больше снизить калорийность напитка, можно сливки заменить взбитым молоком.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Bicerin\bicherin-s-kakao.jpg" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить бичерин.</h2>
            
                <div class="article__text">
                    <p>
                        Кофе бичерин обычно пьют в первой половине дня. Его подают в винном бокале (высоком, на ножке) или в чашке для айриш кофе. Вместе с кофе гостю предлагают ложечку и сахарницу (или стикер). Но ложечка нужна лишь в двух случаях: если напиток украшен сливками, взбитыми до крутых пиков, или если его требуется дополнительно подсластить. </br>
                        </br>

                        <p class="margin">
                            Чтобы подсластить бичерин, сахар высыпают в бокал и перемешивают ложечкой очень осторожно, стараясь не повредить слои. Однако этот кофейный коктейль желательно пить без помощи ложечки.
                        </p>

                        С бичерином хорошо сочетается песочное ореховое печенье с миндалём или фундуком и сладкие сухарики с сухофруктами – бискотти (порой это слово ошибочно переводят как «сухой бисквит»).</br>
                        </br>
                        
                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/italyanskij-kofejnyj-napitok-bicherin.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
