{% extends 'main/layout.html'%}
{% load static %}



{% block link %} <link rel="stylesheet" href="{% static 'main/css/Breve.css' %}"> {% endblock %}
    

{% block title %} Breve {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Бреве</h1>
            </div>
        </div>
        {% block slider%}

         {% endblock%}
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Breve</h3>
                <h2 class="section__title">Бреве</h2>
                <div class="section__text">
                    <p>
                        У латте и капучино один общий недостаток: из-за достаточно объёмной порции эти коктейли нельзя выпить «на бегу», как эспрессо. А поскольку ритм жизни в городах всё более напряжённый, рано или поздно должна была появиться «сокращённая» версия эспрессо с молоком – бреве латте, или, как его чаще называют, кофе бреве. <br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">Отличия бреве от других кофейных напитков.</h2>
            
                <div class="article__text">
                    <p>
                        <p class="margin">
                            Считается, что рецепт кофе бреве придумали в США в начале XXI века. Это вполне возможно, но первооткрывателем напитка явно был итальянский бариста: breve в переводе с итальянского значит «короткий».
                        </p>

                        <h3><b>Хотя кофе бреве и считается «укороченной» версией латте, между этими напитками есть ряд отличий:</b></h3>

                        <ol class="bullet">
                            <li>бреве готовят исключительно на основе эспрессо, для латте подходит любой чёрный крепкий кофе.</li>

                            <li>объём порции бреве – строго 60 мл.</li>

                            <li>согласно рецепту бреве, в нём содержится 30 мл эспрессо, 15 мл молока и 15 мл сливок. В классический латте сливки обычно не добавляют, а молока в напитке в несколько раз больше, чем кофе.</li>

                            <li>бреве подают в керамических чашках, поверхность напитка украшают латте-артом.</li>
                        </ol><br>
                        <br>

                        Больше всего бреве похож на макиато, в котором кофейную основу смешали со сливками.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Выбор ингредиентов для кофе бреве.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Кофе</b></h3>

                        Вкус бреве во многом зависит от выбранного сорта зёрен. Сливки придают напитку нежность, с ними лучше всего сочетается кофе, имеющий шоколадный привкус. Из-за высокого содержания в напитке молочных продуктов тонкостей аромата зёрен всё равно почувствовать не удастся, поэтому для приготовления бреве не нужны дорогие моносорта арабики.<br>
                        <br>

                        С другой стороны, настоятельно не рекомендуется варить эспрессо из смеси арабики с робустой, иначе бреве будет горчить. Нужна только 100%-я арабика светлой или средней обжарки. Со сливками хорошо сочетается индийская арабика.<br>
                        <br>

                        Можно приобрести зёрна или уже готовый молотый кофе для эспрессо – это не принципиально. Если кофейную основу варят из самостоятельно смолотых зёрен, то измельчать их следует, как для эспрессо, то есть подходящий помол – от тонкого эспрессо до среднего.<br>
                        <br>

                        Для заваривания эспрессо не подходит хлорированная, дистиллированная или кипячёная вода. Лучший выбор – бутилированная вода с показателем минерализации в диапазоне 75–250 мг/л.<br>
                        <br>

                        <h3><b>Молоко и сливки</b></h3>

                        Конечно, бреве не отнесёшь к диетическим напиткам, но не стоит верить тем огромным значениям калорийности, которые порой встречаются в Сети. Эти данные, как правило, рассчитывают для 100 мл кофе бреве, но в порции – всего 60 мл, и вторую порцию обычно не заказывают: проще сразу взять латте или капучино.<br>
                        <br>

                        Поэтому не стоит добавлять в напиток обезжиренное молоко: из него получается несколько суховатая пенка, а для бреве она должна быть максимально нежной. Лучшие показатели жирности молока: 2,5–3,2%.<br>
                        <br>

                        Всё вышесказанное относится и к сливкам. В порции бреве их всего 15 мл, а от такого количества даже самых жирных сливок никто ещё не поправился. Поэтому сливки в напиток можно добавлять любые.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики бреве.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики бреве</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>100%-я арабика (свежесмолотые зёрна или покупной молотый кофе)</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>От светлой до средней</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Тонкий эспрессо или средний</td>
                            </tr>

                            <tr>
                                <td>Температура эспрессо</td>
                                <td>В чашке — +67 ± 3 °C</td>
                            </tr>

                            <tr>
                                <td>Температура сливок</td>
                                <td>От +60 до +65 °C</td>
                            </tr>

                            <tr>
                                <td>Температура молока после взбивания</td>
                                <td>От +60 до +65 °C</td>
                            </tr>

                            <tr>
                                <td>Температура готового напитка</td>
                                <td>+63 ± 2 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>5 минут</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>60</td>
                            </tr>
                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>50–68 мг (в одной порции)</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>2</td>
                            </tr>

                            <tr>
                                <td>Калорийность порции (без сахара), кКал:<br>
                                    со сливками 10% жирности<br>
                                    20% жирности<br>
                                    30% жирности<br>
                                    35% жирности</td>
                                <td><br>
                                    28,05–28,65<br>
                                    41,1–41,7<br>
                                    54,0–54,6<br>
                                    60,9–61,5</td>
                            </tr>
                            <tr>
                                <td>Калорийность порции с сахаром, кКал:<br>
                                    со сливками 10% жирности<br>
                                    20% жирности<br>
                                    30% жирности<br>
                                    35% жирности</td>
                                <td><br>
                                    47,4–48,0<br>
                                    60,45–61,5<br>
                                    73,35–73,95<br>
                                    80,25–80,85</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Рецепт бреве в домашних условиях.</h2>
            
                <div class="article__text">
                    <p>
                        Существует 2 варианта приготовления бреве: в одном из них молоко взбивают в пену, в другом – просто добавляют в эспрессо. Но в обоих случаях молоко и сливки должны быть разогреты до +65 °C. Молоко не нужно дополнительно подогревать, если его взбивают капучинатором. Пена должна быть такой же нежной и эластичной, как и для капучино.<br>
                        <br>

                        <h3><b>Ингредиенты:</b></h3>
                        <ol class="bullet">
                            <li>30 мл эспрессо.</li>

                            <li>15 мл молока жирностью 2,5–3,2%.</li>

                            <li>15 мл сливок любой жирности.</li>

                            <li>сахар, тёртый шоколад, корица – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления.</b></h3>
                        <ol class="bullet">
                            <li>Подогреть сливки.</li>

                            <li>Взбить молоко капучинатором, немного постучать питчером о стол, чтобы пена уплотнилась.</li>

                            <li>Сварить порцию эспрессо.</li>

                            <li>Если нужно – добавить сахар.</li>

                            <li>Тонкой струйкой (чтобы не нарушить пенку эспрессо) влить в кофе сливки.</li>

                            <li>Добавить молочную пену, можно нарисовать ею что-нибудь в стиле латте-арт.</li>

                            <li>По желанию, украсить напиток молотой корицей или тёртым шоколадом.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Breve\kofe-breve-1.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        Если молоко не взбивают, то его добавляют в кофе тонкой струйкой, как и сливки. Если бреве подают к праздничному столу, иногда в эспрессо добавляют 5 мл сливочного ликёра.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить кофе бреве.</h2>
            
                <div class="article__text">
                    <p>
                        Бреве подают в керамических чашках (как макиато). Напиток не рекомендуется размешивать, поэтому сахар, как правило, кладут в эспрессо сразу. Но гостю всё равно предлагают ложечку и сахарницу или стикер сахара. Если нужно подсластить напиток – его размешивают аккуратно, стараясь не повредить пенку.<br>
                        <br>

                        Бреве закусывают любыми орешками: миндалём, фундуком, кешью, грецкими, – можно засахаренными или в шоколаде. С напитком хорошо гармонирует свежая клубника.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-breve.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
