{% extends 'main/layout.html'%}
{% load static %}

{% block link %} <link rel="stylesheet" href="{% static 'main/css/Cappuccino.css' %}"> {% endblock %}
    

{% block title %} Cappuccino {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Капучино</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Cappuccino</h3>
                <h2 class="section__title">Капучино</h2>
                <div class="section__text">
                    <p>
                        Капучино (Cappuccino) – итальянский кофейный напиток на основе эспрессо. Классический вариант включает в себя двойную порцию черного кофе, горячее молоко и густую молочную пену, но некоторые бариста используют вместо последних двух ингредиентов сливки, еще добавляют в напиток корицу, шоколадную крошку, апельсиновую цедру.<br>
                        <br>

                        Капучино обладает мягким вкусом с легкой кофейной горчинкой. Если все сделано правильно, напиток должен получиться сладковатым даже без добавления сахара (за счет вспененного капучинатором жирного молока). <br>
                        <br>

                        <p class="margin">
                            Интересный факт: при всей кажущейся простоте рецепта, сделать капучино достаточно сложно. На международных конкурсах бариста и кофейных дел мастера нередко соревнуются в приготовлении именно этого напитка.
                        </p>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}


{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История</h2>
            
                <div class="article__text">
                    <p>
                        Впервые термин «капучино» встречается в итальянском языке в 1930 году, но похожий напиток Kapuziner существовал в Австрии еще в XVIII веке. Тогда в его состав входили кофе, сахар, сливки и яичные желтки (правда, неизвестно, в каких пропорциях). В те времена Италия находилась под австрийским владычеством, при разделении стран капучино «сменил гражданство» на итальянское.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Cappuccino\kapuchino-i-kapucyn.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        Название «капучино» происходит от ордена Капуцинов, так как по цвету напиток напоминает бежево-коричневые рясы святых братьев. Само же слово cappucio (лат. Caputium) переводится с итальянского как «капюшон» — непременный атрибут ежедневного убора служителей ордена.<br>
                        <br>

                        <p class="margin">
                            Свежее молоко вместо сливок стали использовать в XX веке, когда появились холодильники. Вплоть до 1950-х годов под термином «капучино» понимались довольно разнородные напитки (с молоком или сливками, со специями или без), но с распространением кофе-машин термин закрепился в своем современном значении.
                        </p>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики капучино.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики капучино</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Подходящий кофе</td>
                                <td>Купаж арабики и робусты средней обжарки (пропорции могут варьироваться). Возможна 100% арабика.</td>
                            </tr>

                            <tr>
                                <td>Состав и пропорции</td>
                                <td>~15 г свежемолотых кофейных зерен, 60-90 мл молока (иногда больше, в зависимости от рецепта, жирность от 3% и выше), 50-100 мл воды.</td>
                            </tr>

                            <tr>
                                <td>Давление в кофемашине</td>
                                <td>8-10 бар.</td>
                            </tr>

                            <tr>
                                <td>Температура ингредиентов при приготовлении</td>
                                <td>Температура воды для эспрессо – 84-90 градусов, температура молока – 60-70 градусов.</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>1 – 2 минуты.</td>
                            </tr>

                            <tr>
                                <td>Объем одной порции</td>
                                <td>150-180 мл, иногда 360 мл (двойной капучино).</td>
                            </tr>

                            <tr>
                                <td>Крепость (содержание кофеина)</td>
                                <td>50-75 мг на стандартную порцию.</td>
                            </tr>

                            <tr>
                                <td>Температура порции при подаче</td>
                                <td>60-63 °C.</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая дневная норма</td>
                                <td>3-4 порции (180 мл).</td>
                            </tr>
                            <tr>
                                <td>Калорийность</td>
                                <td>36-56 калорий (в зависимости от жирности молока). Каждая чайная ложка сахара (без горки) добавляет напитку еще 16 калорий.</td>
                            </tr>
                        </table>
                        <p class="margin">
                            Внимание! Приведенные цифры и пропорции условны: у каждого хорошего бариста есть свой рецепт, который может значительно отличаться от классического. В США часто используют обезжиренное молоко, другие бариста, наоборот, предпочитают сливки 11%, есть также вариант half’n’half – смесь сливок с молоком.
                        </p>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Отличия капучино от других видов кофе.</h2>
            
                <div class="article__text">
                    <p>
                        Кофе капучино очень похож на латте, но подается в меньших по размеру чашечках (180 мл против 300 мл), содержит меньше молока и больше молочной пены.<br>
                        <br>

                        Макьято (Caffe macchiato) состоит только из эспрессо и молока без пены.<br>
                        <br>

                        Кортадо (Cortado) – испанский кофейный коктейль, содержит эспрессо и молоко в пропорциях 1:1 или 1:2, вместо свежего молока часто берется сгущённое.<br>
                        <br>

                        «Плоский белый» (Flat White) – нечто среднее между капучино и латте, его характерная черта – совсем тонкий слой пены, чаще всего – с рисунком.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Классический рецепт капучино.</h2>
            
                <div class="article__text">
                    <p>
                        <p class="margin">
                            Традиционные пропорции кофе, молока и пены составляют 1:1:1.
                        </p><br>
                        <br>

                        Современный капучино готовят в кофе-машине. Сначала в кофейный бокал наливают двойную порцию эспрессо, затем добавляют столько же горячего молока, венчает композицию пышная шапка молочной пены. Распространен и другой вариант: молоко не наливают отдельно, а просто взбивают больше пены, так, что она не только оседает на напитке объемной шапкой, но и частично растворяется в нем.<br>
                        <br>

                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>кофе (эспрессо) – 60 мл.</li>

                            <li>молоко – 60 мл.</li>

                            <li>сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления:</b></h3>

                        <ol class="bullet">
                            <li>Двойную порцию эспрессо (60 мл) налить в заранее подогретый паром высокий кофейный бокал или чашку объемом минимум 180 мл.</li>

                            <li> Нагреть молоко до 60-70 °C, затем взбивать его капучинатором, венчиком или миксером в мелкую пену, пока объем не удвоится.</li>

                            <li>Придерживая пенку ложкой, добавить молоко в эспрессо, по желанию подсластить сахаром и перемешать. Сверху выложить пену.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Cappuccino\kak-sdelat-kapuchino-v-domashnix-usloviyax.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        Капучинатор – тонкая металлическая трубочка, по которой под большим давлением подается пар. Взбитое таким образом молоко приобретает сладковатый вкус и особенно нежную структуру за счет микроскопических пузырьков.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Cappuccino\elektricheskij-ruchnoj-kapuchinator-768x768.jpg' %}" alt="">
                                <figcaption>
                                    Ручной электрический капучинатор. У многих кофемашин для взбития молока имеется отдельный узел.
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>  
            <div class="section__header">
                <h2 class="section__title">Приготовление капучино без кофемашины в домашних условиях.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Существует два метода:</b></h3>

                        <ol class="bullet">
                            <li>В микроволновой печи. Сначала стакан молока разогревают в микроволновке на максимальной мощности, пока на нем не появятся мелкие пузырьки (в среднем это занимает менее минуты). Важно следить, чтобы жидкость не «убежала». Затем горячее молоко взбивают венчиком или миксером, последовательно перекладывая пену в другую чашечку. Когда примерно половина молока перейдет в состояние пены, варят двойную порцию эспрессо, выливают в него оставшееся молоко, выкладывают сверху пену.</li>

                            <li> Вручную. Кофе варят в турке или заваривают во френч-прессе, горячее молоко взбивают венчиком. Затем все ингредиенты добавляют в чашку.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Cappuccino\kapuchino-bez-kofemashiny-v-mikrovolnovoj-pechi-768x576.jpg' %}" alt="">
                                <figcaption>
                                    Капучино, сделанный в микроволновке.
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Виды капучино.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Кроме традиционного рецепта встречаются еще некоторые вариации:</b></h3>

                        <ol class="bullet">
                            <li>Latte Art – обычный напиток капучино, но с рисунком на молочной пене. Некоторые бариста достигают в этом искусстве такого совершенства, что могут изобразить даже портрет гостя.</li>

                            <li> Wet cappuccino («мокрый» капучино) – коктейль, в котором соотношение кофе, молока и пены смещено в пользу молока.</li>

                            <li>Dry cappuccino («сухой» капучино) – противоположность предыдущего варианта, в этом рецепте молока содержится меньше, чем других ингредиентов (пены может быть больше или столько же).</li>

                            <li> Iced cappuccino (капучино со льдом) – в блендере взбивают охлажденный черный кофе и молоко (в пропорции 1:2), кубики льда, сахар по вкусу. Можно также добавить сироп и/или специи или заменить молоко сливками (частично или полностью).</li>

                            <li> Cappuccino Freddo (холодный капучино) – готовится как обычный капучино, только все ингредиенты должны быть холодными, включая и вспененное молоко.</li>

                            <li> Babyccino – взбитое молоко без кофе (следовательно, и без кофеина), часто подается с сиропом.</li>
                        </ol><br>
                        <br>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Как подавать и пить капучино.</h2>
            
                <div class="article__text">
                    <p>
                        В континентальной Европе капучино традиционно пьют утром, преимущественно – за завтраком, закусывая круассаном, белым тостом или другой выпечкой. В Италии даже считается моветоном пить этот кофейный коктейль после 11 часов дня и/или закусывать его чем-то существенным, вроде мяса или горячего блюда – при всей любви итальянцев к кофе, после обеда они предпочитают эспрессо.<br>
                        <br>

                        Американцы же пьют капучино в течение всего дня и не прочь завершить им плотную трапезу.<br>
                        <br>

                        Как уже говорилось, классический капучино подается в заранее подогретом кофейном бокале или фарфоровой чашечке объемом 150-180 мл, но в фастфудах и кофейнях типа Starbucks встречаются порции объемом до 600 мл.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Cappuccino\portret-na-chashke-s-kapuchino.jpg' %}" alt="">
                                <figcaption>
                                    Портрет на чашке с капучино, такое пить даже жалко
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Польза и вред капучино для здоровья.</h2>
            
                <div class="article__text">
                    <p>
                        Как и любой кофесодержащий напиток, капучино оказывает на организм неоднозначное действие.<br>
                        <br>

                        <h3><b>Польза:</b></h3>

                        <ol class="bullet">
                            <li>бодрит, повышает уровень адреналина, улучшает производительность.</li>

                            <li>регулирует уровень сахара, служит профилактикой от диабета второго типа, помогает сбросить лишний вес (только капучино без сахара).</li>

                            <li>повышает концентрацию.</li>

                            <li>снижает риск развития некоторых видов рака (например, рака легких).</li>

                            <li>Cappuccino Freddo (холодный капучино) – готовится как обычный капучино, только все ингредиенты должны быть холодными, включая и вспененное молоко.</li>

                            <li>содержит антиоксиданты и благотворно влияет на работу сердца (в умеренных дозах).</li>

                            <li>служит профилактикой болезни Альцгеймера и некоторых других заболеваний мозга.</li>

                            <li>улучшает настроение, помогает бороться с депрессией.</li>
                        </ol><br>
                        <br>

                        <h3><b>Вред:</b></h3>

                        <ol class="bullet">
                            <li>«передозировка» кофеина проявляется аритмией, тремором, легкой тошнотой.</li>

                            <li>может спровоцировать бессонницу, повышенную тревожность.</li>

                            <li>иногда негативно влияет на развитие плода во время беременности, врачи рекомендуют ограничиться в этот период одной чашкой в день.</li>
                        </ol><br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kak-sdelat-kapuchino-doma.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
