{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href= "{% static 'main/css/coffee.css' %}"> {% endblock %}

{% block title %} Coffee {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Кофе и вся информация о нем: история, виды, польза, вред, приготовление.</h1>
            </div>
        </div>

    </div><!-- /.intro -->
{% endblock%}

{% block about%}
<section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Презентация</h3>
                <h2 class="section__title">Краткое описани</h2>
                <div class="section__text">
                    <p>
                        Кофе — это не только один из самых бодрящих, ароматных напитков, который уже давно вошел в повседневный обиход, но и название рода вечнозеленых растений, из плодов которых его получают.Кофеин является самым употребляемом наркотиком во всем мире. И попадает он в наш организм именно с кофе. Миллионы людей начинают своей день именно с чашечки ароматного эспрессо или американо. Кто-то пьет его с молоком или сливками, другие предпочитают с сахаром, лимоном и даже с солью. Уже многие люди не представляют своей день без вкусного кофе. Но знаете ли вы все о кофе? Откуда он появился, полезные свойства его и может ли он нанести нашему организму вред.
                    </p>
                </div>
            </div>

        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock %}

{% block content %}
<!-- Article (Статья) -->
    <section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История кофе: С чего все начиналось.</h2>

                <div class="article__text">
                    <p>
                        Древняя легенда гласит, что первый, кто заметил бодрящий эффект данного растения, был эфиопский пастух Калдим.  Овцы, которые кушали листья дикорастущего кофейного дерева, становились энергичными, начинали резвиться и скакать. Он рассказал об эффекте настоятелю местного монастыря, и тот решил приготовить отвар. После того как настоятель попробовал его, то решил, что напиток может помочь монахам долго стоять во время службы. На сегодняшний день сложно сказать, правда это или нет, но кофейный напиток действительно был очень распространен по Эфиопии и в других африканских странах.<br>
                        <br>
                        <div class="image">
                            <center>
                                <img class="article__image" src="{% static 'main/images\coffee\coffee-2.png'%}" alt="">
                            </center>
                        </div>

                        В 15 веке на территории Аравии появилась первая кофейная плантация. Постепенно данный напиток попал в Европу и произошло это уже в первой половине 16 века. Даже не смотря на негативное отношение докторов в таких известных на сегодняшний день городах, как Венеция, Марсель и Франция появились первые кофейни. Церковь считала что этот напиток негативно будет влиять на христианские души и потому тоже плохо была настроена на кофе, которое привозилось с Востока. Но в начале 17 века Папа Римский решил благословить напиток, и тем самым открыв ему путь к столам европейцев.<br>
                        <br>


                        В России кофе впервые упоминается в произведение, которое известно многим «Повести временных лет» и относится к правлению Владимира Святого. В XVII веке придворный лекарь прописал напиток отцу Петра I Алексею Михайловичу как лекарство от головных болей и простуды. Но больше всего кофе полюбился Петру I, который ввел его в ассамблеи.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">В чем секрет кофе?</h2>

                <div class="article__text">
                    <p>
                        Популярность напитка в первую очередь оказалась связана с его особыми свойствами, которые быстро стали известны лекарям и позволили им назначать кофе в качестве лекарства:<br>
                        <br>

                        <ul class="list3b">
                            <li>Улучшает внимание, память и настроение.</li>
                            <li>Усиливает концентрацию, когда человек устал.</li>
                            <li>Эффективен при борьбе с головными болями, особенно мигренями.</li>
                            <li>Полезен при борьбе с гипотонией, так как повышает артериальное давление.</li>
                            <li>Оказывает сильное мочегонное действие.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Польза и вред кофе.</h2>

                <div class="article__text">
                    <p>
                        Вряд ли на Земле найдется второй продукт, который вызывал бы столько споров, диспутов и разногласий. На сегодняшний день качества кофейных зерен четко разделились на положительные и отрицательные, но ученые не ставят на этом точку. В большей степени польза и вред взаимосвязаны между собой и зависят от особенностей организма человека.<br>
                        <br>

                        <b>Польза кофе</b><br>
                        <br>

                        К положительным сторонам относятся:<br>
                        <br>
                        <ul class="list4b">
                            <li>Профилактика болезни Паркинсона, диабета, инфарктов, астмы, мигреней, гипертонии, цирроза печени.</li>
                            <li>Помощь в усилении репродуктивных функций у мужчин.</li>
                            <li>Кофе помогает избавиться от целлюлита.</li>
                            <li>Польза при заболеваниях нервной системы, спазмах сосудов, инфекционных заболеваниях и нарушениях пищеварения.</li>
                        </ul>

                        <b>Вред кофе</b><br>
                        <br>

                        К отрицательным сторонам стоит отнести:<br>
                         <br>

                        <ul class="list4a">
                            <li>Физическую зависимость от продукта (Кофемания или кофеиновая зависимость).</li>
                            <li>Слишком сильное нервное возбуждение от большого количества.</li>
                            <li>Вред для сердца и сосудов при наличие определенных болезней.</li>
                            <li>Вымывание полезных микроэлементов из организма: калия, кальция, магния, натрия.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Виды и сорта кофе.</h2>

                <div class="article__text">
                    <p>
                        <div class="image">
                            <center>
                                <img class="article__image" src="{% static 'main/images\coffee\coffee-3.jpg'%}" alt="">
                            </center>
                        </div>
                        Существует более 90 видов кофе, но почти 98% от общего объема производства занимают 2 вида: арабика и робуста. Арабика составляет 70% от этого числа. Ее зерна имеют продолговатую форму и гладкую поверхность, перед помолом их слегка обжаривают для получения правильного вкуса и аромата. Робуста считается менее изысканным сортом, зато растение быстрее растет и более устойчиво к вредителям. В его зернах содержится больше кофеина, поэтому его используют в эспрессо-смесях для удешевления сырья и получения более качественной пенки.<br>
                        <br>

                        <div class="image">
                            <center>
                                <img class="article__image" src="{% static 'main/images\coffee\types-of-coffee.jpg'%}" alt="">
                            </center>
                        </div>
                        Сегодня существует множество способов приготовления кофе. Каждый может выбрать для себя то, что ему нравится больше: кто-то любит кофе с молоком или со сливками, кому-то хочется получить более мягкий напиток, некоторые желают подсластить его с помощью натуральных ингредиентов. Здесь мы собрали 24 самых ходовых кофейных напитков.<br>
                        <br>

                        <ul class="tilesWrap">
                            <li>
                                <h2>01</h2>
                                <h3>Эспрессо</h3>
                                <p>
                                    Эспрессо – чёрный кофе, приготовленный в кофемашине или специальной кофеварке, где сквозь спрессованные молотые зёрна пропускают горячую воду под давлением 9 бар.
                                </p>
                                <a href="Espresso.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>02</h2>
                                <h3>Доппио</h3>
                                <p>
                                    Доппио (doppio) в переводе с итальянского означает «двойной». Как бы ни был хорош эспрессо, но многим кофеманам не хватает двух глотков напитка, чтобы как следует насладиться вкусом.
                                </p>
                                <a href="Doppio.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>03</h2>
                                <h3>Триппло</h3>
                                <p>
                                    Три́пло – всегда тройная порция эспрессо. Этим напиток и отличается от американо, представляющего собой просто разбавленный водой эспрессо. Для приготовления трипло требуется утроенная доза молотого кофе.
                                </p>
                                <a href="Triplo.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>04</h2>
                                <h3>Ристретто</h3>
                                <p>
                                    Ристретто – это сваренный в кофемашине чёрный кофе. Его готовят так же, как и эспрессо, но время экстракции составляет 12–15 (иногда до 20) секунд.
                                </p>
                                <a href="Ristretto.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>05</h2>
                                <h3>Лунго</h3>
                                <p>
                                    Лунго – это чёрный кофе, приготовленный с помощью кофемашины или рожковой кофеварки
                                </p>
                                <a href="Lungo.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>06</h2>
                                <h3>Американо</h3>
                                <p>
                                    Кофе американо (итал. Caffè Americano) – это эспрессо, разбавленный горячей водой. Наличие пенки (крема́) зависит от того, каким способом смешивают кофе и воду.
                                </p>
                                <a href="Americano.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>07</h2>
                                <h3>Флэт Вайт</h3>
                                <p>
                                    Флэт уайт – это кофейно-молочный напиток, изобретённый в конце XX века. Во флэт уайт содержится больше кофе, чем в капучино или латте, и меньше молока.
                                </p>
                                <a href="Flat_White.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>08</h2>
                                <h3>Капучино</h3>
                                <p>
                                    Капучино (Cappuccino) – итальянский кофейный напиток на основе эспрессо.
                                </p>
                                <a href="Cappuccino.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>09</h2>
                                <h3>Маккиато</h3>
                                <p>
                                    Макиато – это эспрессо с небольшим количеством молочной пены. Объём молока не должен превышать ½, в крайнем случае – 3/5 объёма кофе (на 25–30 мл эспрессо – не более 15 мл молока).
                                </p>
                                <a href="Macchiato.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>10</h2>
                                <h3>Латте</h3>
                                <p>
                                    Если в итальянском ресторане попросить латте, официант принесёт стакан молока (latte в переводе с итальянского означает «молоко»).
                                <a href="Latte.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>11</h2>
                                <h3>Кон панна</h3>
                                <p>
                                     Кофе кон панна, или, как его чаще называют, эспрессо кон панна – это кофе со взбитыми сливками по-итальянски.
                                </p>
                                <a href="Con_panna.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>12</h2>
                                <h3>Бревэ</h3>
                                <p>
                                    У латте и капучино один общий недостаток: из-за достаточно объёмной порции эти коктейли нельзя выпить «на бегу», как эспрессо.
                                </p>
                                <a href="Breve.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>13</h2>
                                <h3>Кофе по Венски</h3>
                                <p>
                                    Вот уже 350 лет в кофейнях австрийской столицы посетителей угощают кофе по-венски. Стандартного рецепта напитка нет, поэтому везде напиток готовят по-разному.
                                </p>
                                <a href="Viennese_coffee.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>14</h2>
                                <h3>Латте Маккиато</h3>
                                <p>
                                    Латте макиато (latte macchiato) – молочно-кофейный коктейль, состоящий из трёх отличающихся друг от друга по цвету слоёв: снизу – молоко, посередине – кофе, сверху – белая молочная пенка с коричневым пятнышком кофе.
                                </p>
                                <a href="Latte_Macchiato.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>15</h2>
                                <h3>Фредо</h3>
                                <p>
                                    Фреддо – разновидность холодного кофе, очень популярная в Италии и Греции. Freddo в переводе с итальянского «очень холодный» (один из синонимов – «простуда»).
                                </p>
                                <a href="Fredo.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>16</h2>
                                <h3>Айриш</h3>
                                <p>
                                    Айриш кофе (кофе по-ирландски) – это крепкий чёрный кофе с сахаром, щедро сдобренный ирландским виски и увенчанный слоем снежно-белых, слегка взбитых сливок.
                                </p>
                                <a href="Irish.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>17</h2>
                                <h3>Корретто</h3>
                                <p>
                                    Коретто – итальянская версия кофе с алкоголем. В переводе с итальянского corretto означает «приправленный». Напиток приправляют преимущественно граппой, бренди или самбукой.                                </p>
                                <a href="Corretto.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>18</h2>
                                <h3>Раф кофе</h3>
                                <p>
                                    Раф кофе – это взбитая в капучинаторе смесь из чёрного кофе и сливок, приправленная ванильным сахаром.
                                </p>
                                <a href="Raf_coffee.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>19</h2>
                                <h3>Романо</h3>
                                <p>
                                    Кофе романо – это эспрессо с лимонным соком.
                                </p>
                                <a href="Romano.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>20</h2>
                                <h3>Медовый Раф</h3>
                                <p>
                                    Медовый раф – это взбитая смесь кофе со сливками, заправленная мёдом.
                                </p>
                                <a href="Honey_Raf.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>21</h2>
                                <h3>Гляссе</h3>
                                <p>
                                    Глясе – это охлаждённый кофе с мороженым.
                                </p>
                                <a href="Glasse.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>22</h2>
                                <h3>Мокко</h3>
                                <p>
                                    Мокко (моккачино) – это кофейно-молочный коктейль, похожий на латте с добавлением шоколада. Стандарта нет,
                                </p>
                                <a href="Mocha.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>23</h2>
                                <h3>Марочино</h3>
                                <p>
                                    Марочино – это кофе с молочной пеной и какао-порошком. Ближайший родственник напитка – туринский коктейль бичерин.
                                </p>
                                <a href="Marochino.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                            <li>
                                <h2>24</h2>
                                <h3>Бичерин</h3>
                                <p>
                                    Бичерин – кофейный коктейль, состоящий из 3 слоёв: внизу – горячий шоколад, посередине – кофе, сверху – взбитые сливки.
                                </p>
                                <a href="Bicherin.html" target="_blank"><button>Перейти к статье</button></a>
                            </li>
                        </ul><br>
                        <br>

                        Вот так с помощью кофейных зерен можно сделать много разных напитков. <br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
            <h2 class="section__title">Как правильно выбрать и приготовить кофе.</h2>

                <div class="article__text">
                    <p>
                       Приготовление кофе можно условно разделить на несколько этапов. Сперва зерна собирают и смешивают, чтобы получить уникальный вкус и сбалансировать результат. Затем зерна обжаривают и размалывают. Степень обжарки и грубость помола зависят от того, в таком аппарате вы решите приготовить напиток. Для варки используют разнообразные устройства: джезву или турку для кофе по-восточному, фильтрованную кофеварку или капельницу, френч-пресс, кофеварку гейзерного типа или моку и эспрессо-машину.<br>
                        <br>
                        <div class="image">
                            <center>
                                <img class="article__image" src="{% static 'main/images\coffee\coffee-1.jpg'%}" alt="">
                            </center>
                        </div><br>
                        <br>

                        <b>Выбирая кофе, обратите внимание на его аромат и внешний вид зерна.</b><br>
                        <br>

                        <ul class="list3a">
                            <li>Первый должен быть ярким, насыщенным и аппетитным.</li>
                            <li>Вторые — одинаковыми по размеру, цвету и обжарке, не травмированными по дороге.</li>
                            <li>С момента сбора и обжарки не должно пройти больше года.</li>
                            <li>Упаковка не должна быть надорвана или испачкана.</li>
                            <li>И самое главное — хороший кофе дешево стоит не будет. Лучше не экономить на вкусе зерен.</li>
                        </ul><br>
                        <br>

                        Черный кофе пьют из небольших фарфоровых чашечек, запивая холодной водой. Многие любители, правда, рекомендуют поступать наоборот: сперва глоток воды, после напиток. Напиток с молоком подают в чайных чашках, каппучино — в чашках объемом 150 мл. Если вам подали кофе по-восточному, не перемешивайте его, чтобы не поднять со дна гущу. Это же относится и к кофе по-турецки.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://elgreloo.com/food/coffee" target="_blank">https://elgreloo.com</a></span>
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </section><!-- /.article -->
{% endblock %}

