{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href="{% static 'main/css/Con_panna.css' %}"> {% endblock %}
    

{% block title %} Con panna {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Кон панна</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Con panna</h3>
                <h2 class="section__title">Кон панна</h2>
                <div class="section__text">
                    <p>
                        Кофе кон панна, или, как его чаще называют, эспрессо кон панна – это кофе со взбитыми сливками по-итальянски. Ближайший родственник напитка – кофе по-венски.<br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">Разница между кофе по-венски и кон панна</h2>
            
                <div class="article__text">
                    <p>
                        В переводе с итальянского con panna означает «со сливками»). Для того, чтобы взбить сливки до крутых пиков, не имея под рукой миксера, нужно хорошенько потрудиться. Поэтому в XVII–XVIII веках кофе кон панна могли себе позволить только зажиточные итальянцы.<br>
                        <br>

                        С изобретением в XX веке кофемашин и электрических приспособлений, позволяющих быстро взбить сливки в крутую пену, кон панна стало готовить намного легче, и он появился в меню даже самых недорогих заведений. Но если в прежние времена безразлично было, каким образом сварена кофейная основа, то с середины XX века и до сегодняшнего дня напиток делают только с эспрессо. Появился даже термин «эспрессо кон панна».<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Con_panna\espresso-kon-panna-768x768.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        <h3><b>Эспрессо кон панна легко отличить от кофе по-венски:</b></h3>

                        <ol class="bullet">
                            <li>кофе по-венски принято готовить на основе чёрного кофе, сваренного любым способом. Настоящий кон панна делают исключительно с эспрессо.</li>

                            <li>сливки для кофе по-венски взбивают до состояния гладкой, эластичной пены, которую можно пить, одновременно ощущая во рту кофейную горечь и нежную сливочную сладость. Кофе кон панна украшают шапкой сливок, взбитых в крутую пену, до устойчивых пиков. Кон панна нельзя пить вместе с пеной: её сперва нужно съесть ложечкой, а потом запить кофе.</li>

                            <li>Кон панна австрийцы именуют францисканером. Дело в том, что капуцины – простонародное прозвище монахов из ордена францисканцев. По логике австрийцев, если итальянский кофе с молоком – капучино, то более аристократичный напиток со сливками – францисканер.</li>
                        </ol><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты для приготовления кон панна.</h2>
            
                <div class="article__text">
                    <p>
                        КДля приготовления кон панна лучше всего подходит 100%-я арабика. Однако дорогие моносорта ни к чему, поскольку сливки всё равно скроют тонкие ноты кофейного привкуса. Со сливками хорошо сочетается индийская арабика, во вкусе которой присутствуют шоколадные ноты.<br>
                        <br>

                        В смеси для эспрессо часто включают робусту: она даёт устойчивую пену. Приверженцам крепкого кофе не возбраняется готовить основу для кон панна из смесей, содержащих до 20% робусты. Но её горечь слишком явно выделяется на фоне сладких сливок.<br>
                        <br>

                        Вкус кофе светлой обжарки сливки попросту «забьют». Для кон панна идеальна венская обжарка. Сочетание сливок с кофе более тёмной обжарки – на любителя. Зёрна измельчают до состояния тонкого эспрессо помола или чуть крупнее (но мельче среднего).<br>
                        <br>

                        Вода должна быть умеренно мягкой, нехлорированной. Подходит бутилированная вода с минерализацией от 75 до 250 мг/л.<br>
                        <br>

                        <p class="margin">
                            Для кофе кон панна лучше использовать натуральные сливки жирностью 33–35% (при меньшей жирности они не взобьются в крутую пену). Если есть выбор, желательно взять более жидкие сливки, а не густые, как сметана. Иногда для экономии времени кофе украшают растительными сливками из баллона, но их вкус хуже, чем у натуральных.
                        </p>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики кон панна.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики кон панна</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Бленд из нескольких сортов арабики, но для любителей крепкого кофе – смесь, содержащая до 20% робусты.</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>Средняя (Полная Городская или Венская)</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Тонкий эспрессо или средний</td>
                            </tr>

                            <tr>
                                <td>Давление в кофемашине</td>
                                <td>В эспрессо-камере – не менее 9 бар, рабочее давление помпы – не менее 15 бар</td>
                            </tr>

                            <tr>
                                <td>Температура воды в группе</td>
                                <td>От +91 до +93 °C</td>
                            </tr>

                            <tr>
                                <td>Температура готового кофе</td>
                                <td>В чашке — +67 ± 3 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>7–10 минут</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>50–70 мл</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>50–116 мг (в одной порции).</td>
                            </tr>
                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Калорийность</td>
                                <td>С сахаром в сливках, без него в кофе – 88,60–90,85 кКал на порцию;<br>
                                    с сахаром в кофе и сливках – 107,95–110,2 кКал</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Рецепт кон панна.</h2>
            
                <div class="article__text">
                    <p>
                        Кофейной основой может быть как одна, так и две порции эспрессо. Напиток с одним шотом в меню обычно называют «соло кон панна», с двумя – «доппио кон панна».<br>
                        <br>

                        <p class="margin">
                            Сливки взбиваются быстрее, чем успевает растаять сахар, поэтому в них добавляют пудру. Чтобы не получить масло, взбивание начинают на малых оборотах миксера, а затем их увеличивают. Блендер для взбивания не подходит, так как из-за высокой скорости сливки расслаиваются, образуется масло. Пудру начинают сыпать тоненькой струйкой в конце взбивания.
                        </p>

                        В домашних условиях, если нет рожковой кофеварки, эспрессо иногда заменяют чёрным кофе, приготовленным в турке или в гейзерной кофеварке. Такой напиток тоже получается вкусным, но это уже не классический кон панна, а просто кофе со сливками.<br>
                        <br>

                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>25–50 мл эспрессо.</li>

                            <li>20 мл сливок жирностью 33–35%.</li>

                            <li>1 ч. л. сахарной пудры для сливок.</li>

                            <li>сахар для кофе – по вкусу.</li>

                            <li>тёртый шоколад, орехи, корица, измельчённая апельсиновая цедра – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления:</b></h3>

                        <ol class="bullet">
                            <li>Взбить сливки с 5 г сахара.</li>

                            <li>Прогреть керамическую чашку паром.</li>

                            <li>Сварить эспрессо.</li>

                            <li>Поверх кофе горкой выложить сливки.</li>

                            <li>Украсить сливки шоколадной стружкой, корицей, орехами, апельсиновой цедрой (по вкусу).</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Con_panna\kofe-kon-panna-v-domashnix-usloviyax.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить кофе кон панна.</h2>
            
                <div class="article__text">
                    <p>
                        

                        Кон панна подают в толстостенных керамических чашках – демитассе, или прозрачных стаканах. Гостю обязательно предлагают ложечку. Если кофе не подслащён заранее, можно подать сахарницу или стикер сахара.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Cappuccino\kak-pravilno-pit-kofe-kon-panna-768x461.jpg' %}" alt="">
                                <figcaption>
                                    При подаче ложечка обязательна!
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                        
                        <p class="margin">
                            Кофе кон панна хорошо сочетается с песочным ореховым печеньем, шоколадом. Из десертов предпочтительнее фруктово-ягодные желе.
                        </p><br>
                        <br>

                        Напиток отнюдь не диетический, поэтому тем, кто следит за фигурой, после кон панна придётся отказаться от равноценного по калорийности блюда или вообще от ужина.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-con-panna.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}


	
    


    