{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href="{% static 'main/css/Corretto.css' %}"> {% endblock %}
    

{% block title %} Corretto {% endblock %}

{% block intro%}
<!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Коретто.</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Corretto</h3>
                <h2 class="section__title">Коретто</h2>
                <div class="article__text">
                    <p>Коретто – итальянская версия кофе с алкоголем. В переводе с итальянского corretto означает «приправленный». Напиток приправляют преимущественно граппой, бренди или самбукой.
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}



    {% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Freddo</h3>
                <h2 class="section__title">Фреддо</h2>
                <div class="section__text">
                    <p>
                        Фреддо – разновидность холодного кофе, очень популярная в Италии и Греции. Freddo в переводе с итальянского «очень холодный» (один из синонимов – «простуда»).<br>
                        <br>

                        <h3><b>Существует два варианта напитка:</b></h3>

                        <ol class="bullet">
                            <li>фреддо эспрессо – чёрный кофе (чаще всего – со льдом).</li>

                            <li>фреддо капучино – кофе с молоком.</li>
                        </ol><br>
                        <br>

                        Фреддо похож на обычный айс кофе. Ничего удивительного: ещё XIX веке охлаждённый кофе вошёл в моду во всём мире. Но везде напиток готовят по-разному. Айс кофе – это американский вариант охлаждённого кофе, а в США принято разбавлять эспрессо большим количеством воды или молока. Фреддо гораздо крепче. Даже в составе фреддо капучино молока не больше, чем кофе.<br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}


{% block content %}
<!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Corretto</h3>
                <h2 class="section__title">Коретто</h2>
                <div class="article__text">
                    <p>Коретто – итальянская версия кофе с алкоголем. В переводе с итальянского corretto означает «приправленный». Напиток приправляют преимущественно граппой, бренди или самбукой.
                    </p>
                </div>
            </div>

        </div><!-- /.container -->
    </section>

    <section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">Отличия коретто от других видов кофе.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>У коретто есть ряд особенностей, благодаря которым его нельзя спутать с другим видом кофе:</center></b></h3>
                        
                        <ol class="bullet">
                            <li>маленькая порция (в идеале – на 2–3 глотка). Коретто готовят на основе одного шота эспрессо или 25–30 мл кофе, сваренного другим способом.</li>

                            <li>никаких сливок, молока или шоколада. Кроме кофе, алкоголя и сахара, в коретто ничего нет. Разрешается приправить пряностями кофейную основу.</li>
                        </ol><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Виды коретто.</h2>
            
                <div class="article__text">
                    <p>
                        Неизвестно, кто и когда придумал коретто. Идея согреться и взбодриться, добавив в кофе спиртное, наверняка возникла в те времена, когда Европа только знакомилась с ароматным напитком из кофейных зёрен. В каждой стране эта идея реализована по-своему.<br>
                        <br>

                        Венеция долгое время была отдельным государством, причём одним из самых сильных в Европе. Поэтому у венецианцев на всё собственный взгляд.<br>
                        <br>

                        В регионе Венето существует особый вариант кофе коретто – rexentìn (raxentìn). В переводе с местного диалекта это слово означает «ополаскивать». Гостю подают чашку кофе и рюмку граппы или ликёра по выбору. Сперва нужно налить чуть-чуть спиртного в кофе (буквально 5–10 мл), затем сделать один – два глотка. На дне останется немного кофе, его следует по своему вкусу разбавить алкоголем («ополоснуть» чашку). Таким образом, рексентин – это «двойной» коретто: сначала пьют кофе, приправленный спиртным, потом – спиртное, приправленное кофе.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Corretto\klassicheskij-koretto.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        В Испании аналог коретто называют карахильо (carajillo). В него добавляют ром, виски, бренди или анисовую водку. В Кастилии рецепт карахильо полностью повторяет рецепт коретто, в Каталонии в кофе добавляют больше спиртного. Португальский вариант кофе с алкоголем – Café com Cheirinho («кофе с ароматом»), скандинавский – kaffekask, karsk или kaffegök.<br>
                        <br>

                        В Германии любят Rüdesheimer Kaffee. Для его приготовления бренди смешивают с сахаром и поджигают, а затем вливают кофе. Благодаря горению сахар карамелизируется, в результате аромат бренди становится более интенсивным.<br>
                        <br>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Ингредиенты для коретто.</h2>
            
                <div class="article__text">
                    <p>
                        В кафе коретто готовят на основе эспрессо, но в домашних условиях можно сварить чёрный кофе любым способом. Кофе в турке даже предпочтительнее, так как именно такой кофе добавляли в коретто до изобретения кофемашин.<br>
                        <br>

                        Желательно сварить кофейную основу из 100%-й арабики: у неё более благородный аромат. К тому же робуста содержит слишком много кофеина, и если его действие усилить за счёт добавления алкоголя, то организм получит энергетический «удар бичом» по сосудам и нервной системе.<br>
                        <br>

                        Для приготовления коретто нужна мягкая некипячёная вода без хлора, желательно бутилированная, с минерализацией в диапазоне 75–250 мг/л.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики коретто.</h2>
                 <div class="article__text">
                    <p>

                        <h3><b><center>Характеристики коретто</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>100%-я арабика</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>По вкусу</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Зависит от способа приготовления кофейной основы</td>
                            </tr>

                            <tr>
                                <td>Температура кофейной основы</td>
                                <td>+70 ± 5 °C</td>
                            </tr>

                            <tr>
                                <td>Температура спиртного</td>
                                <td>Комнатная (примерно +22 °C)</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>1–5 минут (в зависимости от способа приготовления кофейной основы)</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>35–40 мл.</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>50–68 мг (в одной порции)</td>
                            </tr>
                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1–2 (не более одной в день)</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Калорийность:<br>
                                    коретто с граппой</td>
                                <td>25,75 кКал</td>
                            </tr>

                            <tr>
                                <td>коретто с бренди</td>
                                <td>26,15 кКал</td>
                            </tr>

                            <tr>
                                <td>коретто с самбукой</td>
                                <td>26,25 кКал</td>
                            </tr>

                            <tr>
                                <td>Калорийность с сахаром:<br>
                                    коретто с граппой</td>
                                <td>45,10 кКал</td>
                            </tr>

                            <tr>
                                <td>коретто с бренди</td>
                                <td>45,50 кКал</td>
                            </tr>

                            <tr>
                                <td>коретто с самбукой</td>
                                <td>45,60 кКал</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Рецепт коретто.</h2>
            
                <div class="article__text">
                    <p>
                       
                        <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>эспрессо (другой чёрный кофе) – 30 мл.</li>

                            <li>граппа (бренди, самбука) – 5–10 мл.</li>

                            <li>сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления</center></b></h3>

                        <ol class="bullet">
                            <li>Сделать кофе, добавить в него сахар.</li>

                            <li>Влить в чашку спиртное.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Corretto\prigotovlenie-kofe-koretto-v-domashnix-usloviyax-768x512.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Правила подачи коретто.</h2>
            
                <div class="article__text">
                    <p>
                        Для того, чтобы в итальянском кафе получить коретто, нужно сначала выбрать вид спиртного, а затем сделать заказ, к примеру: corretto alla grappa, corretto alla sambuca, corretto alla brandy.<br>
                        <br>

                        <h3><b><center>Коретто могут подать гостю одним из двух способов:</center></b></h3>

                        <ol class="bullet">
                            <li>уже готовым.</li>

                            <li>готдельно чашку с эспрессо, отдельно – рюмку с выбранным спиртным. Гость сам решает, в каких пропорциях смешать ингредиенты.</li>
                        </ol><br>
                        <br>

                        Коретто подают в чашках для эспрессо. Вместе с напитком гостю предлагают сахарницу или стикер сахара и ложечку.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Corretto\kak-pit-kofe-koretto-768x549.jpg' %}" alt=""> 
                            </center> 
                        </div><br>

                        В Италии принято поднять чашку с напитком, сказать: «Salute!» и выпить коретто в 1–2 глотка. Его закусывают лимоном, шоколадом, твёрдым сыром.<br>
                        <br>

                        Итальянцы, живущие в северной части страны, пьют коретто с граппой после завтрака (в выходные дни). На юге Италии напитком чаще завершают ланч.<br>
                        <br>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Вред.</h2>
            
                <div class="article__text">
                    <p>
                        Коретто создаёт серьёзную нагрузку для сердечно-сосудистой системы. При гипертонии или заболеваниях сердца напиток употреблять не рекомендуется.<br>
                        <br>

                        Внимание! Чрезмерное употребление алкоголя вредит вашему здоровью.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-koretto.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}


    