{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href="{% static 'main/css/Doppio.css' %}"> {% endblock %}
    

{% block title %} Doppio {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Доппио</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Doppio</h3>
                <h2 class="section__title">Доппио</h2>
                <div class="section__text">
                    <p>
                        Доппио (doppio) в переводе с итальянского означает «двойной». Как бы ни был хорош эспрессо, но многим кофеманам не хватает двух глотков напитка, чтобы как следует насладиться вкусом. Таких любителей всегда было немало, и со временем вместо «доппио эспрессо» начали говорить просто «доппио». Двойную порцию эспрессо стали считать видом кофе, которому положена отдельная строчка в меню.<br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}


{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">Отличия доппио от других видов кофе</h2>
            
                <div class="article__text">
                    <p>
                        Доппио – это всегда две порции эспрессо, налитые в одну чашку. От обычной порции эспрессо (шота) доппио отличается только объёмом и удвоенным количеством кофеина в составе (причём концентрация кофеина точно такая же, как и в шоте).<br>
                        <br>

                        По объёму кофе доппио похож на лунго. Однако для того, чтобы порция лунго была вдвое больше шота эспрессо, используют кофе более крупного помола или, в редких случаях, – удваивают время экстракции. Доппио готовят из кофе той же степени помола, что и эспрессо.<br>
                        <br>

                        Ещё один чёрный кофе, который подают большими порциями, – американо. Но он представляет собой разбавленный водой эспрессо. Доппио же не разбавляют.<br>
                        <br>

                        От кофе, сваренного в джезве, в гейзерной кофеварке, френч-прессе или пуровере, доппио отличается тем, что его можно приготовить исключительно в кофемашине или рожковой кофеварке с двойным холдером.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Doppio\raznica-mezhdu-espresso-i-doppio.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Виды доппио.</h2>
            
                <div class="article__text">
                    <p>
                        Словом «доппио» принято называть двойную порцию эспрессо. Но иногда в меню встречаются названия «доппио ристретто» или «доппио лунго». Это – двойные порции соответствующих напитков. Чтобы не запутывать посетителей, в меню некоторых баров пишут не «доппио», а «доппио эспрессо». К двойному шоту эспрессо применимы оба наименования.<br>
                        <br>

                        Однако доппио капучино, латте или глясе – это не удвоенная порция напитка, а молочно-кофейный коктейль на основе двойного шота эспрессо. Если такой коктейль смешивают в домашних условиях, доппио часто заменяют 50–60 мл чёрного кофе, приготовленного в обычной кофеварке или каким-либо альтернативным способом.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты для доппио.</h2>
            
                <div class="article__text">
                    <p>
                        Для приготовления доппио используют кофе тонкого эспрессо помола (немного крупнее, чем для турки). Предпочтительнее средняя степень обжарки, но некоторые любят тёмную.<br>
                        <br>

                        Кофе доппио готовят из 100%-й арабики или из смеси арабики с робустой. Робуста придаёт кофе крепость и делает пену более стойкой. Однако нежелательно, чтобы содержание робусты в бленде превышало 10–15%, иначе напиток будет горчить. В качественных итальянских смесях бывает до 20% робусты, но известные производители закупают правильно обработанные зёрна, которые не портят вкус кофе.<br>
                        <br>

                        Доппио варят на мягкой бутилированной воде с минерализацией 75–250 мг/л.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Doppio\kak-prigotovit-kofe-doppio.jpg' %}" alt="">
                                <figcaption>
                                    Настоящий доппио можно сделать только в кофемашине
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики доппио.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики доппио (доппио эспрессо)</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Смесь из нескольких сортов арабики, возможна добавка 10 – 15% робусты, если смесь итальянская – то до 20%.</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>От средней (Полной Городской или Венской) до тёмной (Итальянской или Французской).</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Тонкий эспрессо или немного крупнее</td>
                            </tr>

                            <tr>
                                <td>Давление в кофемашине</td>
                                <td>В эспрессо-камере – не менее 9 бар, рабочее давление помпы – не менее 15 бар</td>
                            </tr>

                            <tr>
                                <td>Температура воды в группе</td>
                                <td>Для кофе средней обжарки – от +91 до +93 °C,<br>
                                    для тёмной – от +88 до +91 °C</td>
                            </tr>

                            <tr>
                                <td>Температура готового кофе</td>
                                <td>На выходе из носика холдера — +88 ± 2 °C,<br>
                                    в чашке — +67 ± 3 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>25–30 секунд, в зависимости от модели кофеварки</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>50–60</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>100–136 мг (в одной порции)</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>2</td>
                            </tr>

                            <tr>
                                <td>Калорийность</td>
                                <td>4,5 кКал на порцию</td>
                            </tr>

                            <tr>
                                <td>Калорийность с сахаром</td>
                                <td>23,85 кКал — порция кофе с 5 г сахара (1 стикером)</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Рецепт доппио (доппио эспрессо).</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>14 г молотого кофе (это стандарт, но тем, кто любит напиток покрепче, можно взять 16 г).</li>

                            <li>60 мл воды.</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления:</b></h3>

                        <ol class="bullet">
                            <li>Используя темпер, спрессовать кофе в холдере.</li>

                            <li>Холдер с молотым кофе установить в кофеварку.</li>

                            <li>В лоток для сбора кофе поставить заранее прогретую чашку.</li>

                            <li>Через 25–30 секунд кофе будет готов.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Doppio\kofe-doppio-v-domashnix-usloviyax-768x511.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Доппио ристретто.</h2>
            
                <div class="article__text">
                    <p>
                       <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>14 г кофе.</li>

                            <li>30 мл воды.</li>
                        </ol><br>
                        <br>

                        Рецепт: кофе варят так же, как и в предыдущем случае, но время приготовления 12–15 секунд.<br>
                        <br>

                        Калорийность порции напитка без сахара – 2,7 кКал, с сахаром – 22,05 кКал, содержание кофеина – около 50 мг.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Doppio\doppio-ristretto.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Доппио лунго.</h2>
            
                <div class="article__text">
                    <p>
                       <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>14–18 г кофе более крупного помола, чем для эспрессо.</li>

                            <li>120 мл воды.</li>
                        </ol><br>
                        <br>

                        Из-за более крупного помола вода быстрее проливается сквозь кофейную таблетку, чем при заваривании эспрессо. Классический доппио лунго готовят 30 секунд, но порция получается вдвое больше, чем у доппио эспрессо.<br>
                        <br>

                        Калорийность порции доппио лунго без сахара – 4,5 кКал, с сахаром – 23,85 кКал, содержание кофеина – 100–200 мг (чем дольше длится экстракция, тем больше кофеина в напитке).<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Doppio\doppio-lungo.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div> 
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить кофе доппио.</h2>
            
                <div class="article__text">
                    <p>
                        Доппио подают сразу же после приготовления в толстостенных чашках, а пьют как можно более горячим. Вместе с кофе гостю предлагают стакан негазированной воды комнатной температуры, ложечку, сахарницу или стикер сахара.<br>
                        <br>

                        Прежде чем пить кофе, нужно сделать глоток воды, чтобы очистить рецепторы. По глотку воды можно делать после каждого глотка кофе, но последний глоток доппио запивать водой нельзя: это оскорбление для бариста. Последний глоток кофе запивают водой только в том случае, если вкус напитка не понравился и хочется поскорее от него избавиться.<br>
                        <br>

                        Доппио закусывают шоколадом, фруктами, твёрдым сыром.<br>
                        <br>

                        Напитком не рекомендуется злоупотреблять, так как в нём очень много кофеина.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-doppio.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}


    
    


    