{% extends 'main/layout.html'%}
{% load static %}



{% block link %} <link rel="stylesheet" href="{% static 'main/css/Espresso.css' %}"> {% endblock %}
    

{% block title %} Espresso {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Эспрессо</h1>
            </div>
        </div>
        {% block slider%}

         {% endblock%}
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Espresso</h3>
                <h2 class="section__title">Эспрессо</h2>
                <div class="section__text">
                    <p>
                        Эспрессо – чёрный кофе, приготовленный в кофемашине или специальной кофеварке, где сквозь спрессованные молотые зёрна пропускают горячую воду под давлением 9 бар. Готовый напиток должен иметь плотную пенку (бариста называют её крема́) однородного золотисто-орехового цвета, толщиной не менее 2 мм. Во вкусе эспрессо гармонично сочетаются сладость, горечь и лёгкая кислинка. Оттенки вкуса зависят от сортов кофейных зёрен, входящих в состав смеси, степени обжарки и навыков баристы. <br>
                        <br>

                        Родина напитка – Италия. Эспрессо очень быстро готовят и столь же быстро выпивают. У него есть несколько вариантов, он служит основой для многих других кофейных напитков.
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section>
{% endblock%}

{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">Происхождение названия.</h2>
            
                <div class="article__text">
                    <p>
                        Само слово espresso в переводе с итальянского означает «сделанный только что, здесь и именно для вас». Так понимают термин сами итальянцы. В пользу версии говорит тот факт, что ещё в середине XX века в итальянских спагеттериях продавались свеженарезанные спагетти эспрессо.<br>
                        <br>

                        Однако в процессе приготовления эспрессо используют воду, подающуюся под давлением. Благодаря этому родилась другая версия перевода названия напитка: «спрессованный», «изготовленный под давлением».<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">История возникновения кофе эспрессо.</h2>
            
                <div class="article__text">
                    <p>
                        Крепкий чёрный кофе – вечная любовь всех жителей побережья Средиземного моря. Но до XX века напиток готовили только в джезвах (турках), и посетителям кофеен приходилось слишком долго дожидаться заказа. Поэтому, когда в 1901 году миланский инженер Луиджи Беццера изобрёл кофемашину, сразу стало ясно, что у аппарата большое будущее. Уже в 1903 году предприниматель Дезидерио Павони приобрёл лицензию и с 1905 года начал выпускать кофемашины Pavoni.<br>
                        <br>
                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Espresso\pervaya-v-mire-kofemashina-dlya-espresso-luidzhi-beccera-768x662.jpg' %}" alt=""> 
                                <figcaption>
                                    Первая в мире кофемашина Луиджи Беццера
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        Новинка восхитила публику: теперь для приготовления кофе требовалось всего полминуты, так что название espresso оказалось вполне заслуженным. Ещё до войны мода на кофемашины охватила Италию и Францию. В 1927 году первая кофемашина появилась в одном из баров Нью-Йорка.<br>
                        <br>

                        Но не обошлось и без недовольных. Дело в том, что в модели кофемашины, изобретённой Беццера, частицы молотого кофе перегревались, вкус эспрессо утрачивал изысканность, в нём ощущались тона горелых зёрен.<br>
                        <br>

                        Недостаток исправил миланский бармен Акилле Гаджиа, предложивший совершенно иную технологию. В полуавтоматической кофеварке Гаджиа давление создавал поток горячей воды, подаваемый под сильным напором. Поскольку температура воды в такой кофеварке ниже +100 °С, аромат напитка раскрывается в полной мере, но запаха горелых зёрен не возникает.<br>
                        <br>

                        Экономическое положение Италии после войны было крайне тяжёлым, из-за чего много жителей эмигрировало в англоязычные страны: США, Канаду, Австралию. В кафе и барах, которые итальянские эмигранты открывали на чужбине, обязательно подавали кофе эспрессо. В результате уже в середине 60-х годов прошлого века напиток приобрёл популярность на всех континентах. Его полюбили даже в консервативных азиатских странах, правда, там эспрессо пьют охлаждённым, смешивая со льдом.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Правила приготовления эспрессо.</h2>
            
                <div class="article__text">
                    <p>
                        От других видов кофе классический эспрессо отличается отсутствием примесей: молока, сливок, спиртных напитков, пряностей. Добавляя в эспрессо эти ингредиенты в различных пропорциях, можно получить несколько десятков других кофейных напитков.<br>
                        <br>
                        
                        <h3><b><center>Характеристики эспрессо (таблица)</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Смесь из нескольких сортов арабики, возможна добавка небольшого количества робусты</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>От средней (Полной Городской или Венской) до тёмной (Итальянской или Французской). Чем темнее обжарка, тем больше во вкусе горечи и меньше кислинки</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Тонкий эспрессо или средний</td>
                            </tr>

                            <tr>
                                <td>Давление в кофемашине</td>
                                <td>В эспрессо-камере – не менее 9 бар, рабочее давление помпы – не менее 15 бар</td>
                            </tr>

                            <tr>
                                <td>Температура воды в группе</td>
                                <td>Для кофе средней обжарки – от +91 до +93 °C,
                                    для тёмной – от +88 до +91 °C</td>
                            </tr>

                            <tr>
                                <td>Температура готового кофе</td>
                                <td>На выходе из носика холдера — +88 ± 2 °C,
                                    в чашке — +67 ± 3 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления, секунд</td>
                                <td>25–30, в зависимости от модели кофеварки</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>25–30 (вместе с пенкой)</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>50–68 мг (в одной порции)</td>
                            </tr>
                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1-3</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>7</td>
                            </tr>

                            <tr>
                                <td>Калорийность</td>
                                <td>9 кКал на 100 мл, 2,25 кКал на порцию</td>
                            </tr>

                            <tr>
                                <td>Калорийность с сахаром</td>
                                <td>21,60 кКал — порция кофе с 5 г сахара (1 стикером)</td>
                            </tr>
                        </table>

                        <h3><b><center>Итальянские ценители кофе считают, что на качество эспрессо влияют 4 фактора, которые для простоты запоминания называют правилом 4 m:</center></b></h3>

                        <ol class="bullet">
                            <li>miscela (смесь) – хорошо подобранная смесь зёрен.</li>
                            <li>macinadosatore – помол.</li>
                            <li>maccina – кофемашина.</li>
                            <li>mano (рука) – навыки бариста.</li>
                        </ol>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Выбор кофе для эспрессо.</h2>
            
                <div class="article__text">
                    <p>
                        Главное достоинство эспрессо – полнотелый вкус и богатый аромат. Прекрасным ароматом обладает арабика, поэтому в смесях для эспрессо этих зерен больше всего. Но если сварить эспрессо из зёрен какого-либо одного сорта, аромат будет гораздо беднее, «одностороннее», чем у смеси разных сортов арабики.<br>
                        <br>

                        Для большей крепости в такие смеси добавляют немного робусты, которая почти в 2 раза богаче кофеином. Есть у робусты ещё одна особенность: она даёт плотную пену.<br>
                        <br>
                        <p class="margin">
                            Покупая кофе в зёрнах, необходимо обратить внимание, есть ли на пачке клапан из фольги. Только при его наличии кофе сохраняет аромат на протяжении всего срока годности.
                        </p>
                        В специализированных магазинах можно составить смесь самостоятельно, но там развесной кофе продают в бумажных пакетах. Такой кофе сохраняет аромат не дольше 2 недель с момента покупки.

                        При покупке молотого кофе в пачках важно обеспечить его герметичность. После вскрытия упаковки кофе лучше не оставлять в пачке, а пересыпать в стеклянную ёмкость с притёртой крышкой. Так же следует поступить с излишками самостоятельно смолотого кофе. Но после 2–3 недель хранения запах молотого кофе ослабевает.
                        
                        <p class="margin">
                            Наилучшим ароматом обладает эспрессо из зёрен, измельчённых непосредственно перед приготовлением напитка. Даже если между измельчением зёрен и варкой кофе пройдёт несколько часов, кофе успеет отсыреть и даже немного выдохнуться.
                        </p>


                        Молотый кофе с ароматическими добавками для приготовления эспрессо не подходит: невозможно предугадать, как поведут себя искусственные ароматизаторы в эспрессо-кофеварке.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Помол кофе для эспрессо.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Важно знать правила:</center></b></h3>

                        <ol class="bullet">
                            <li>при слишком тонком помоле струйка наливающегося в чашку кофе становится почти чёрной, а мелкие частицы способны забить фильтр кофеварки.</li>
                            <li>при грубом помоле эспрессо получается жидким и невкусным.</li>
                        </ol><br>
                        <br>

                        Существует специальный тонкий эспрессо помол: мельче среднего, но крупнее тонкого. Однако можно использовать и кофе среднего помола. Опытные бариста в сырую погоду советуют использовать кофе немного более крупного помола: такой порошок медленнее впитывает влагу.<br>
                        <br>
                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Espresso\pravilnyj-pomol-kofe-dlya-espresso.jpg' %}" alt=""> 
                                <figcaption>
                                    Правильный помол
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Выбор кофеварки.</h2>
            
                <div class="article__text">
                    <p>
                        У каждой модели кофеварки или кофемашины – индивидуальные особенности, которые важно изучить.<br>
                        <br>

                        <h3><b><center>Признаки хорошей эспрессо-кофеварки:</center></b></h3> 

                        <ol class="bullet">
                            <li>холдер из нержавеющей стали. Насколько бы качественным ни был пластиковый холдер, при нагревании он добавляет в аромат эспрессо неприятные химические запахи.</li>
                            <li>оптимальное давление в эспрессо-камере – 9 бар, помпа должна обеспечивать давление 15 бар, кофеварки с меньшими значениями этих параметров покупать не стоит.</li>
                            <li>вода в бойлере должна нагреваться до температуры от +87 до +95 °С. При меньшей температуре кофе получается жидким, недостаточно экстрагированным, при более высокой – в напитке ощущаются оттенки гари.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Espresso\xolder-i-temper-kofemashiny-768x512.jpg' %}" alt=""> 
                                <figcaption>
                                    Утрамбовка кофе в держателе темпером – обязательный этап
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Подготовка к варке эспрессо.</h2>
            
                <div class="article__text">
                    <p>
                       <h3><b><center>Чтобы эспрессо получился насыщенным и ароматным, необходимо учитывать некоторые тонкости:</center></b></h3> 

                        <ol class="bullet">
                            <li>даже если хочется сделать эспрессо более крепким, нельзя насыпать в холдер чересчур много кофе: в этом случае его сложно будет утрамбовать темпером. Если молотый кофе спрессован неравномерно, вода будет проходить через участки с меньшей плотностью. В результате напиток получится жидким.</li>

                            <li>важно правильно подобрать темпер. Предпочтение следует отдавать темперам из нержавеющей стали: алюминиевые и пластмассовые слишком хрупкие. Темпер с ровным основанием подходит как для одинарных, так и для двойных холдеров. Но американцы предпочитают для двойных холдеров использовать темперы с выпуклым (сферическим) основанием: оно наиболее интенсивно утрамбовывает центр таблетки, а края прижимает к стенкам портафильтра. В результате увеличивается площадь поверхности частиц, омываемая водой.</li>

                            <li>молотый кофе для рожковой кофеварки спрессовывают, прилагая к темперу усилие 19–20 кг.</li>

                            <li>на слишком жёсткой воде кофе получается пресным и неароматным, в дистиллированной – портится вкус, снижается крепость. Для эспрессо нужна умеренно мягкая, пропущенная через фильтр или бутилированная вода (минерализация – 75–250 мг/л, оптимально–150 мг/л) без ионов хлора.</li>

                            <li>готовый кофе следует наливать в заранее подогретую чашку, лучше всего керамическую.</li>

                            <li>эспрессо нельзя переливать из одной ёмкости в другую.</li>

                            <li>пенка должна быть однородной по цвету. Белые пятна – признак избытка кофеина в порции.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Espresso\prigotovlenie-espresso-v-kofemashine.jpg' %}" alt=""> 
                                <figcaption>
                                    Сделать эспрессо без кофемашины не получится
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Классический рецепт эспрессо.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>молотый кофе – 7 грамм.</li>

                            <li>вода – 30 мл.</li>

                            <li>сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления</center></b></h3>

                        <ol class="bullet">
                            <li>Включить кофеварку и дождаться срабатывания индикатора готовности.</li>

                            <li>Если кофемашина оснащена встроенной кофемолкой, положить в неё столовую ложку зёрен. Для рожковой кофеварки – засыпать в рожок 1 мерную ёмкость или 2 чайных ложки с небольшой горкой молотого кофе.</li>

                            <li>Спрессовать темпером кофе в холдере (для рожковой кофеварки).</li>

                            <li>Установить холдер в кофеварку.</li>

                            <li>Поставить в лоток для сбора капель чистую подогретую чашку. Время приготовления – 25–30 секунд.</li>

                            <li>Добавить сахар по вкусу.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main\images\coffee_sort\Espresso\pravilnaya-penka-na-kofe-espresso-768x512.jpg' %}" alt=""> 
                                <figcaption>
                                    Правильно ли сделан эспрессо можно понять по пенке
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <p class="margin">
                            Иногда в Интернете встречаются рецепты эспрессо в домашних условиях, приготовленного в турке. Однако этот напиток представляет собой вариант кофе по-турецки и на классический эспрессо абсолютно не похож. Настоящий кофе эспрессо можно сварить только в специальной кофеварке.
                        </p>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Напитки на основе эспрессо.</h2>
            
                <div class="article__text">
                    <p>
                        Способ приготовления вариантов эспрессо – тот же, что и по основному рецепту. Добавление чайной ложки или 5-граммового стикера сахара увеличивает калорийность порции кофе на 19,35 кКал.<br>
                        <br>

                        <h3><b><center>Рецепты</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Название напитка</td>
                                <td>Кол-во молотого кофе</td>
                                <td>Кол-во воды</td>
                                <td>Время приготовления</td>
                                <td>Калорийность</td>
                                <td>Коментарий</td>
                            </tr>

                            <tr>
                                <td>Доппио (двойная порция эспрессо).</td>
                                <td>14 г.</td>
                                <td>60 мл.</td>
                                <td>25–30 секунд.</td>
                                <td>4,5 кКал.</td>
                                <td>Коментария нет.</td>
                            </tr>

                            <tr>
                                <td>Триппло (тройной эспрессо).</td>
                                <td>21 г.</td>
                                <td>90 мл.</td>
                                <td>25–30 секунд.</td>
                                <td>6,75 кКал.</td>
                                <td>Коментария нет.</td>
                            </tr>

                            <tr>
                                <td>Лунго.</td>
                                <td>7 г.</td>
                                <td>50-60 мл.</td>
                                <td>25–30 секунд.</td>
                                <td>2,25 кКал.</td>
                                <td>Напиток содержит больше кофеина, чем классический эспрессо.</td>
                            </tr>

                            <tr>
                                <td>Ристретто.</td>
                                <td>7 г.</td>
                                <td>15–20 мл.</td>
                                <td>15–20 секунд.</td>
                                <td>2,25 кКал.</td>
                                <td>Напиток содержит меньше кофеина, чем классический эспрессо.</td>
                            </tr>

                            <tr>
                                <td>Коретто.</td>
                                <td colspan="5">в стандартную порцию эспрессо добавляют несколько капель граппы. Иногда граппу заменяют ирландским виски, но это считается не совсем правильным.</td>
                            </tr>

                            <tr>
                                <td>Романо.</td>
                                <td colspan="5">в стандартную порцию эспрессо добавляют 5 мл свежевыжатого лимонного сока. Пенку посыпают щепоткой лимонной цедры.</td>
                            </tr>

                            <tr>
                                <td>Американо.</td>
                                <td colspan="5">стандартную порцию эспрессо смешивают с 60 – 90 мл кипятка. Иногда кипяток подают отдельно, чтобы посетитель сам мог отрегулировать крепость напитка.</td>
                            </tr>

                            <tr>
                                <td>Эспрессо с коньяком.</td>
                                <td colspan="5">В стандартную порцию эспрессо добавляют 1 – 2 чайных ложки коньяка.</td>
                            </tr>
                        </table><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить эспрессо.</h2>
            
                <div class="article__text">
                    <p>
                        Эспрессо подают в течение 1–1,5 минуты после приготовления, в специальных маленьких кофейных чашках или в толстостенных чашках демитассе. Вместе с кофе обязательно следует поставить на стол стакан негазированной воды комнатной температуры и стикер сахара (5 г) или сахарницу. Сахар добавляют в уже готовый напиток (по желанию).<br>
                        <br>

                        <p class="margin">
                            Перед тем, как выпить кофе, нужно сделать глоток воды, чтобы очистить рецепторы. Эспрессо необходимо выпить как можно быстрее, иначе его вкус и аромат ухудшатся.
                        </p>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main\images\coffee_sort\Espresso\kak-pravilno-podavat-espresso-768x465.jpg' %}" alt=""> 
                                <figcaption>
                                    Правильно подавать эспрессо со стаканом воды
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        Эспрессо можно закусывать:

                       <ol class="bullet">
                            <li>шоколадом (особенно хорош горький или с перцем).</li>

                            <li>фруктами.</li>

                            <li>твёрдым сыром.</li>

                            <li>Мясные закуски, рыба, овощи, пиво и вино с эспрессо не сочетаются.</li>
                        </ol><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Польза и вред эспрессо.</h2>
            
                <div class="article__text">
                    <p>
                        Здоровому человеку не повредит 1 чашка эспрессо в день. Иногда дозу можно увеличить до 2 – 3 чашек, в исключительных случаях – даже до 6–7. Но постоянное злоупотребление напитком часто приводит к проблемам с сердечно-сосудистой системой.<br>
                        <br>

                        Тем, у кого такие проблемы уже есть, лучше исключить кофе вообще или ограничить его потребление до 1–2 чашек в месяц. При болезнях сосудов и желудочно-кишечного тракта не рекомендуется употреблять эспрессо со спиртным. <br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-espresso.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
