{% extends 'main/layout.html'%}
{% load static %}

{% block link %} <link rel="stylesheet" href="{% static 'main/css/Flat_White.css' %}"> {% endblock %}
    

{% block title %} Flat white {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Флэт уайт</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Flat white</h3>
                <h2 class="section__title">Флэт уайт</h2>
                <div class="section__text">
                    <p>
                        Флэт уайт – это кофейно-молочный напиток, изобретённый в конце XX века. Во флэт уайт содержится больше кофе, чем в капучино или латте, и меньше молока. Классической считается пропорция: 110 мл молока на 60 мл эспрессо. Кроме того, молочной пены в кофе flat white совсем немного, и она не такая пышная, как это допускается по рецепту латте.<br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}


{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История флэт уайт.</h2>
            
                <div class="article__text">
                    <p>
                        В Новой Зеландии очень любят кофе, сделанный во френч-прессе. В прежние времена основных вариантов приготовления напитка было всего два: black (чёрный) – чёрный кофе и white (белый) – кофе с молоком. Такой кофе готовили дома и подавали в барах.<br>
                        <br>

                        Однако вторую половину XX века можно смело назвать временем эспрессо. Мода на кофемашины докатилась и до Новой Зеландии. И если эспрессо ещё можно было назвать привычным словом «блэк», то посетителю, заказавшему «уайт», подавали капучино или латте.<br>
                        <br>

                        <p class="margin">
                            Новозеландские коровы пасутся круглый год, их молоко славится вкусом и жирностью. Но при слишком интенсивном взбивании такого молока получается пена, напоминающая очень нежный зефир.
                        </p>

                        В результате посетителю, ожидавшему получить кофе с молоком, предлагали внушительную порцию капучино, где 30 мл эспрессо увенчивало пышное облако молочной пены. Не лучше обстояло дело и с латте, в котором вкус кофе вообще чувствовался слабо. Бариста, прошедшие выучку в международных сетевых кофейнях, готовить по-другому просто не умели.<br>
                        <br>

                        <p class="margin">
                            В 80-х годах XX века бариста из Окленда Дерек Таунсенд изобрёл кофейно-молочный коктейль, похожий на тот самый вожделенный «уайт», но ещё лучше. Название flat white («плоский белый») объясняется тем, что для этого вида кофе нужна очень гладкая, «вельветовая» молочная пена с микроскопическими пузырьками. Благодаря меньшему содержанию молока, вкус кофе в напитке ощущается гораздо лучше, чем в латте или капучино.
                        </p>

                        Флэт уайт приобрёл популярность в Австралии и Новой Зеландии, но остальной мир узнал о напитке после 2005 года, когда два новозеландца: Kэмepoн Maкклюp и Джeймc Гуpнcи, – открыли в Лонодоне кофейню Flat White. От посетителей не было отбоя, в заведении продавали по 700 порций нового кофе в день.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Flat_White\kofejnya-flat-white-v-londone.jpg' %}" alt="">
                                <figcaption>
                                    Лондонская кофейня flat white
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        Вскоре флэт уайт был включён в меню международной сети кофеен Starbucks и стал одним из трёх самых популярных кофейно-молочных напитков в мире (другие два – капучино и латте).<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты для флэт уайт.</h2>
            
                <div class="article__text">
                    <p>
                        Молоко в напитке не маскирует вкус кофейной основы, а подчёркивает его достоинства. Поэтому рекомендуется для приготовления флэт уайт использовать смеси из разных сортов арабики, без добавления робусты. Особенно хороша индийская и кенийская арабика с шоколадным привкусом.<br>
                        <br>

                        Предпочтительнее кофе светлой или средней (вплоть до Венской) обжарки: привкус зёрен тёмной обжарки плохо сочетается с молоком. Помол – тонкий эспрессо или средний.<br>
                        <br>

                        Вода для заваривания должна быть мягкой, с минерализацией от 75 до 250 мг/л, и нехлорированной.<br>
                        <br>

                        Лучше всего добавлять в кофе цельное молоко с жирностью от 2,5 до 3,2%.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Особенности приготовления напитка.</h2>
            
                <div class="article__text">
                    <p>

                        Классический флэт уайт готовят только на основе эспрессо, а молоко взбивают капучинатором. Пенка эспрессо в сочетании с молочной пеной придаёт напитку необычный вкус.<br>
                        <br>

                        Если дома нет рожковой кофеварки, то можно сварить 60 мл крепкого чёрного кофе в турке. Однако получить «вельветовую» пенку без капучинатора сложно. При взбивании молока миксером или блендером пузырьки получаются более крупными, чем предполагается по рецепту флэт уайт.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Flat_White\kofejnyj-napitok-flat-white-768x545.jpeg' %}" alt="">
                                <figcaption>
                                    Правильная пена
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <h3><b>Стандарта для флэт уайт нет, поэтому бариста всего мира спорят, каким образом следует взбивать молоко для напитка:</b></h3>

                        <ol class="bullet">
                            <li>Самая распространённая точка зрения – молоко нужно взбивать недолго, до образования в питчере «вельветовой» пенки толщиной 0,5–1 см.</li>

                            <li>Некоторые делят молоко на 2 части: одну просто разогревают до температуры +65 °C, а другую взбивают капучинатором до образования пены. Сперва в кофе добавляют невзбитое молоко, затем – молочную пену.</li>

                            <li>Вариант, который большинство бариста считают неправильным, – взбивание молока до образования большого количества гладкой, однородной пены. Вкус кофе получается приятным, бархатистым, но это не классический флэт уайт.</li>
                        </ol><br>
                        <br>

                        В кафе с хорошей репутацией обычно подают флэт уайт с молоком, взбитым способом №1. Готовя напиток дома, можно поэкспериментировать с тремя вариантами и выбрать наиболее понравившийся.<br>
                        <br>

                        Все бариста сходятся на том, что пена нужной консистенции получается, если молоко нагрето до +65 °C.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики кофе флэт уайт.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики кофе флэт уайт</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>100%-я арабика</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>Светлая или средняя (Венская)</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Тонкий эспрессо или средний</td>
                            </tr>

                            <tr>
                                <td>Температура готового кофе</td>
                                <td>+67 ± 3 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>5  минут</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>180–190 мл (вместе с пенкой)</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>100–116 мг (в одной порции)</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>2</td>
                            </tr>

                            <tr>
                                <td>Калорийность</td>
                                <td>62,6–69,2 кКал</td>
                            </tr>

                            <tr>
                                <td>Калорийность с сахаром</td>
                                <td>81,95–88.55 кКал</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Рецепт флэт уайт.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>60 мл эспрессо (для любителей крепкого кофе – 90 мл).</li>

                            <li>110 мл молока жирностью 2,5–3,2%.</li>

                            <li>сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления:</b></h3>

                        <ol class="bullet">
                            <li>Прогреть толстостенную керамическую чашку.</li>

                            <li>Взбить молоко.</li>

                            <li>Поставить прогретую чашку в лоток для сбора кофе.</li>

                            <li>Приготовить эспрессо.</li>

                            <li>Если нужно, добавить в него сахар и размешать.</li>

                            <li>Аккуратно влить молоко, пеной можно выполнить рисунок в стиле латте арт.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Flat_White\kofe-flat-white-768x432.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        <h3><b>Виды флэт уайт:</b></h3>
                        
                        <ol class="bullet">
                            <li>медовый – вместо сахара в кофе растворяют 0,5–1 чайную ложку мёда.</li>

                            <li>кокосовый – коровье молоко заменяют кокосовым.</li>
                        </ol><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить кофе флэт уайт.</h2>
            
                <div class="article__text">
                    <p>
                       Напиток принято подавать в керамических чашках, иногда используют стеклянные бокалы, но с точки зрения традиций это не совсем правильно.<br>
                        <br>

                       <p class="margin">
                           Флэт уайт не нужно размешивать: вся прелесть его в том, что при глотке кофе проходит сквозь слой молочной пены. Поэтому сахар обычно растворяют в кофейной основе перед добавлением молока. Тем не менее гостю вместе с чашкой кофе предлагают ложечку и сахарницу или стикер сахара.
                       </p>

                       Напиток хорошо сочетается с шоколадом, песочным и песочно-ореховым печеньем, ягодными желе и муссами.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Flat_White\ploskij-belyj-kofe.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        Кофе флэт уайт не очень калориен, но содержит много кофеина. Лучше ограничиться 3–4 порциями в неделю (по одной в день).<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-flet-uajt.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}


    
    


    