{% extends 'main/layout.html'%}
{% load static %}

{% block link %} <link rel="stylesheet" href="{% static 'main/css/Freddo.css' %}"> {% endblock %}
    

{% block title %} Freddo {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Фреддо</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Freddo</h3>
                <h2 class="section__title">Фреддо</h2>
                <div class="section__text">
                    <p>
                        Фреддо – разновидность холодного кофе, очень популярная в Италии и Греции. Freddo в переводе с итальянского «очень холодный» (один из синонимов – «простуда»).<br>
                        <br>

                        <h3><b>Существует два варианта напитка:</b></h3>

                        <ol class="bullet">
                            <li>фреддо эспрессо – чёрный кофе (чаще всего – со льдом).</li>

                            <li>фреддо капучино – кофе с молоком.</li>
                        </ol><br>
                        <br>

                        Фреддо похож на обычный айс кофе. Ничего удивительного: ещё XIX веке охлаждённый кофе вошёл в моду во всём мире. Но везде напиток готовят по-разному. Айс кофе – это американский вариант охлаждённого кофе, а в США принято разбавлять эспрессо большим количеством воды или молока. Фреддо гораздо крепче. Даже в составе фреддо капучино молока не больше, чем кофе.<br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}


{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">Выбор ингредиентов.</h2>
            
                <div class="article__text">
                    <p>
                        Профессиональный обжарщик Андреа Бертолино рекомендует готовить фреддо только из арабики: лёд усиливает горечь кофе, а если в составе бленда есть робуста – горький привкус становится неприятным. По той же причине не подходят и зёрна слишком тёмной обжарки.<br>
                        <br>

                        Для фреддо капучино обычно используют недорогие смеси из нескольких сортов арабики. Из них получается и вполне приличный фреддо эспрессо. Но если хочется побаловать себя или удивить гостей – можно приготовить фреддо эспрессо из кофе «спешиэлти». Вариант для любителей изысканного фруктового привкуса кофе – смесь арабики с небольшим количеством (до 20%) эксцельзы.<br>
                        <br>

                        <p class="margin">
                            В итальянских кафе фреддо готовят на основе эспрессо, в греческих – кофе иногда варят в турке. В домашних условиях допускается приготовление кофейной основы любым способом.
                        </p>

                        Для заваривания кофе требуется мягкая некипячёная вода без хлора, лучше всего – бутилированная, с минерализацией от 75 до 250 мг/л.<br>
                        <br>

                        Для приготовления кофе фреддо капучино используют молоко жирностью 2,5–3,2%. Если этот показатель меньше, пенка получится несколько суховатой. Молоко следует взбивать холодным.<br>
                        <br>

                        В кофе фреддо капучино часто добавляют ликёры: шоколадный, яичный, карамельный, сливочный, амаретто, франжелико. Напиток нельзя готовить с фруктовыми и ягодными ликёрами: они содержат кислоты, из-за которых молоко сворачивается.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики кофе фреддо .</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики кофе фреддо (эспрессо и капучино)</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>100%-я арабика</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>От светлой до средней (Полной Городской или Венской)</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Зависит от способа заваривания</td>
                            </tr>

                            <tr>
                                <td>Температура готового кофе</td>
                                <td>От +5 до +15 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>15–30 минут (в зависимости от времени охлаждения)</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл:<br>
                                    Фреддо эспрессо</td>
                                <td>50 мл</td>
                            </tr>

                            <tr>
                                <td>Фреддо капучино</td>
                                <td>100–110 мл</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>100–136 мг в одной порции</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>Без ликёра – 2, с ликёром – 1</td>
                            </tr>

                            <tr>
                                <td>Калорийность фреддо эспрессо:<br>
                                    без сахара,<br>
                                    с сахаром (5 г).<br>
                                    </td>
                                <td><br>
                                    4,5 кКал на порцию<br>
                                    23,85 кКал</td>
                            </tr>

                            <tr>
                                <td>Калорийность фреддо капучино:<br>
                                    без сахара,<br>
                                    с сахаром (5 г),<br>
                                    с ликёром (10 мл).<br></td>
                                <td><br>
                                    30,5–34 кКал<br>
                                    49,85–53,35 кКал<br>
                                    63,2–66,7 кКал</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Приготовление фреддо эспрессо.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>В итальянских и греческих кафе фреддо эспрессо готовят одним из двух способов:</b></h3>

                        <ol class="bullet">
                            <li>Двойную порцию эспрессо немного охлаждают. В бокал кладут 4–5 кубиков льда, заливают их кофе. При таком способе подачи гость должен выпить фреддо как можно быстрее, пока не начал таять лёд.</li>

                            <li>Если у посетителя есть время, чтобы посмаковать кофе, лучше заказать фреддо эспрессо шейкерато (shakerato). Это двойной эспрессо, смешанный со льдом в шейкере, а затем процеженный.</li>
                        </ol><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Рецепт фреддо эспрессо шейкерато.</h2>
            
                <div class="article__text">
                    <p>

                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>50 мл эспрессо или любого другого чёрного кофе.</li>

                            <li>лёд.</li>

                            <li>сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Приготовление:</b></h3>

                        <ol class="bullet">
                            <li>Сварить чёрный кофе.</li>

                            <li>Пока кофе горячий, растворить в нём сахар.</li>

                            <li>Заполнить шейкер льдом.</li>

                            <li>Вылить на лёд немного остывший кофе и энергично встряхивать 20–40 секунд (главное – чтобы лёд не начал интенсивно таять).</li>

                            <li>Перелить кофе с пенкой в прозрачный маленький бокал.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Freddo\freddo-espresso.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Рецепт фреддо капучино.</h2>
            
                <div class="article__text">
                    <p>
                       <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>50 мл эспрессо или любого другого чёрного кофе.</li>

                            <li>50 мл молока.</li>

                            <li>лёд.</li>

                            <li>по желанию – 10–20 мл ликёра.</li>

                            <li>сахар, корица, тёртый шоколад – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Приготовление:</b></h3>

                        <ol class="bullet">
                            <li>Сварить чёрный кофе, если нужно – подсластить.</li>

                            <li>Немного охлаждённый кофе вылить в шейкер, заполненный льдом.</li>

                            <li>Встряхивать 20–40 секунд.</li>

                            <li>Процедить и перелить смесь в бокал.</li>

                            <li>Добавить ликёр.</li>

                            <li>Взбить молоко в пышную пену.</li>

                            <li>Вылить молоко поверх кофе.</li>

                            <li>Сверху посыпать корицей или тёртым шоколадом.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Freddo\freddo-cappuccino-683x1024.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        При таком способе приготовления фреддо капучино получается чётко разделённым на два слоя. Но напиток выглядит красиво и в том случае, если в бокал сначала влить молоко, взбитое в пену, затем – тонкой струйкой кофе с ликёром. На поверхности белоснежной пены образуется крохотное коричневое пятнышко (как у макиато).<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить кофе фреддо.</h2>
            
                <div class="article__text">
                    <p>
                        Фреддо подают в прозрачных бокалах с соломинкой. Сахарницу гостю не предлагают, так как напиток уже должен быть подслащён. Ложечка бывает нужна для того, чтобы размешать ликёр.<br>
                        <br>

                        С напитком хорошо сочетается шоколад, клубника, ягодные желе и муссы, десерты с тирамису.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Freddo\kak-pit-kofe-freddo.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        Следует очень медленно потягивать фреддо через соломинку. Употребление холодных напитков в жару может спровоцировать ангину.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-freddo.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
