{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href="{% static 'main/css/Glace.css' %}"> {% endblock %}
    

{% block title %} Glace coffee {% endblock %}

{% block intro%}
<!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Глясе</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
<!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Glace coffee</h3>
                <h2 class="section__title">Глясе</h2>
                <div class="article__text">
                    <p>Глясе – это охлаждённый кофе с мороженым. Название напитка происходит от французского слова glacé (ударение на второй слог), что в переводе означает «замороженный», ледяной. От всех других видов кофе глясе отличается тем, что в нём обязательно должно быть мороженое. Ближайший родственник напитка – итальянский десерт аффогато, однако он готовится несколько иначе.
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История Глясе.</h2>
            
                <div class="article__text">
                    <p>
                        Считается, что рецепт глясе родился в Австрии: в конце XIX или начале XX века. Случилось так, что в одной из столичных кофеен закончились сливки, и посетителю подали кофе по-венски с мороженым. Напиток настолько понравился гостю, что с тех пор он заказывал только такой кофе. Как бы то ни было, но в XX веке, когда технологии позволили удешевить изготовление мороженого, глясе стал очень популярен во всём мире.<br>
                        <br>

                        С написанием этого слова по-русски возникли некоторые сложности. Лингвисты долго спорили, как правильно называть напиток: глясе или гляссе. Некоторое время орфографические словари допускали оба написания, но в последних изданиях верным признан вариант «глясе».<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты для Глясе.</h2>
            
                <div class="article__text">
                    <p>
                        Основа глясе – чёрный кофе, безразлично, каким образом приготовленный: в кофеварке, турке, френч-прессе, аэропрессе или с помощью пуровера. Можно использовать даже растворимый кофе.<br>
                        <br>

                        <p class="margin">
                            Классический рецепт глясе предполагает пропорцию 1:3 (на 1 часть мороженого – 3 части кофе). Но строго соблюдать это соотношение не обязательно, допускается соотношение 1:2,5 или даже 1:2. Порция глясе – обычно 150–200 г. Понятно, что 100–150 мл эспрессо – это слишком много и вредно для здоровья. Поэтому если в качестве основы для глясе выбран эспрессо, лучше сварить 60 мл кофе и разбавить водой до нужного объёма (в результате получится американо).
                        </p>

                        <h3><b><center>Выбор кофе для глясе</center></b></h3>

                        Мороженое придаёт напитку сливочную мягкость, оттеняет горчинку, но нивелирует тонкие оттенки вкуса и запаха моносортов арабики или дорогих блендов. Приготовление глясе – прекрасный способ использования молотого кофе, который хранится в шкафу более 2 недель и немного утратил аромат. <br>
                        <br>

                        Для глясе подходят недорогие смеси арабики с 10% робусты. Тем, кому не нравится излишняя горечь, рекомендуется варить основу для глясе из 100%-й арабики. В напитке с растворимым кофе горечь не ощущается, но вкус такого глясе – на любителя.<br>
                        <br>

                        <h3><b><center>Вода для глясе</center></b></h3>

                        Хотя в глясе доминирует вкус мороженого, кофе на водопроводной воде всё же заваривать не стоит: содержащийся в ней хлор значительно ухудшает вкус напитка. При покупке бутилированной воды нужно проследить, чтобы минерализация была в диапазоне 70–200 мг/л (оптимально – 150 мг/л).<br>
                        <br>

                        <h3><b><center>Мороженое для глясе</center></b></h3>

                        Вкуснее всего глясе со сливочным пломбиром. Оригинальный вкус имеет глясе с шоколадным пломбиром или крем-брюле. Разумеется, можно приготовить напиток с менее калорийным молочным мороженым, но он будет далеко не таким приятным.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Glace\morozhenoe-dlya-glyase.jpg" alt=""> 
                                <figcaption>
                                    Зачастую используется пломбир или крем-брюле
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        Диетическим кофе глясе всё равно сделать невозможно. Так что даже тем, кто следит за фигурой, не имеет смысла подсчитывать калории в мороженом, лучше выпить порцию напитка с пломбиром, а затем отказаться от ужина или на час больше посвятить тренировкам.
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Правила приготовления эспрессо.</h2>
            
                <div class="article__text">
                    <p>
                        От других видов кофе классический эспрессо отличается отсутствием примесей: молока, сливок, спиртных напитков, пряностей. Добавляя в эспрессо эти ингредиенты в различных пропорциях, можно получить несколько десятков других кофейных напитков.<br>
                        <br>
                        
                        <h3><b><center>Характеристики эспрессо (таблица)</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Смесь из нескольких сортов арабики, возможна добавка до 10% робусты</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>Любая, но предпочтительнее средняя (Полная Городская или Венская)</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>В зависимости от того, каким образом готовят кофейную основу</td>
                            </tr>

                            <tr>
                                <td>Температура кофейной основы</td>
                                <td>От +10 до +30 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>0,5–8 минут для приготовления кофейной основы <br>
                                    20–40 минут для того, чтобы остудить кофе <br>
                                    1–2 минуты для того, чтобы смешать ингредиенты</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>150-200</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>50–136 мг в одной порции</td>
                            </tr>
                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>2 (из-за калорийности напитка)</td>
                            </tr>

                            <tr>
                                <td>Калорийность порции 200 мл: <br>
                                    — без сахара</td>
                                <td>204,5 кКал</td>
                            </tr>

                            <tr>
                                <td>— с 5 г сахара</td>
                                <td>224 кКал</td>
                            </tr>

                             <tr>
                                <td>— с 5 г сахара и молоком</td>
                                <td>270 кКал</td>
                            </tr>

                             <tr>
                                <td>— без сахара, со сладким сиропом или ликёром</td>
                                <td>270 кКал</td>
                            </tr>

                             <tr>
                                <td>— без сахара, с ликёром или сладким сиропом и взбитыми сливками</td>
                                <td>295–365 кКал (в зависимости от жирности сливок)</td>
                            </tr>

                            <tr>
                                <td>— с 5 г сахара и взбитыми сливками</td>
                                <td>250–295 кКал</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Правила приготовления глясе.</h2>
            
                <div class="article__text">
                    <p>
                        В классическом рецепте положено смешивать мороженое с кофе, охлаждённым до температуры +10 °C. Однако это опасно для здоровья: в жару легко охрипнуть или даже заболеть ангиной. Гораздо безопаснее охладить кофейную основу до +20 °C.<br>
                        <br>

                        Если хочется побаловать себя десертом в ненастную прохладную погоду, то допускается и температура +30 °C. В более горячем кофе мороженое быстрее тает, но некоторые любят именно такой вкус. Следует помнить, что слишком большая разница температур вредна для зубной эмали.<br>
                        <br>

                        Чтобы чёрный кофе успел охладиться, рекомендуется сварить его заранее, хотя бы за 20 – 40 минут до приготовления глясе. Горячую жидкость нельзя ставить в холодильник, поэтому сосуд с процеженным кофе сначала помещают в большую ёмкость с холодной водой. В таких условиях кофе быстро остывает до комнатной температуры. Чтобы ускорить охлаждение, воду в ёмкости меняют каждые 5–10 минут.<br>
                        <br>

                        <h3><b><center>Существует два варианта приготовления глясе:</center></b></h3>

                        <ol class="bullet">
                            <li>В бокал наливают кофе, сверху кладут шарик мороженого.</li>
                            <li>Мороженое опускают на дно и заливают его кофе.</li>
                        </ol>

                        В первом случае напиток выглядит очень эффектно: поверх тёмно-коричневого слоя – белоснежный тающий пломбир, струйки которого уже начинают просачиваться в кофе. Во втором варианте шарик мороженого всплывает, окрашивая жидкость в бежевый цвет. В результате кофе уже не настолько красив.

                        <p class="margin">
                            Глясе принято смешивать непосредственно перед подачей, чтобы мороженое не начало таять.
                        </p>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Классический рецепт глясе в домашних условиях.</h2>
            
                <div class="article__text">
                    <p>
                       <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>чёрный кофе – 120–150 мл.</li>

                            <li>мороженое – 50 грамм.</li>

                            <li>сахар – по вкусу.</li>

                            <li>корица, тёртый шоколад, кокосовая стружка, шоколадный топинг – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления</center></b></h3>

                        <ol class="bullet">
                            <li>Сварить кофе любым способом. Если нужно, подсластить горячий кофе. Перемешать.</li>

                            <li>Профильтровать и охладить кофе до температуры от +10 до +30 °C.</li>

                            <li>Перелить кофе в прозрачный бокал.</li>

                            <li>Сверху положить шарик мороженого.</li>

                            <li>По желанию посыпать глясе корицей, тёртым шоколадом, кокосовой стружкой, полить топингом.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Glace\klassicheskij-kofe-glyase.jpg" alt=""> 
                                <figcaption>
                                    Глясе по первому методу приготовления: мороженное добавляют в кофе
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <p class="margin">
                            Вместо сахара в кофе можно налить 10–20 мл сиропа или ликёра. В Южной Америке принято подавать глясе с ромом (15–20 мл на порцию). В Европе в глясе добавляют коньяк.
                        </p>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Виды кофе глясе.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Белый глясе</center></b></h3>

                        В этом рецепте половину кофе заменяют молоком (на 1 порцию – 75 мл кофе и 75 мл молока). Дальше напиток готовят так же, как и в классическом варианте. В белый глясе разрешается добавлять алкоголь.

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Glace\belyj-glyase-s-molokom.jpg" alt=""> 
                                <figcaption>
                                    Белый глясе с молоком
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <h3><b><center>Глясе со сливками</center></b></h3>

                        <h4><b><center>Технология приготовления</center></b></h4>

                        <ol class="bullet">
                            <li>Взбить 20 мл сливок с сахаром.</li>

                            <li>Приготовить глясе по классическому рецепту (можно с алкоголем).</li>

                            <li>Выложить сливки поверх мороженого.</li>

                            <li>Украсить тёртым шоколадом, корицей или апельсиновой цедрой.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Glace\kofe-glyase-so-slivkami.jpg" alt=""> 
                                <figcaption>
                                    Глясе со сливками
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <h3><b><center>Глясе «Парадайз»</center></b></h3>

                        <h4><b><center>Ингредиенты:</center></b></h4>

                        <ol class="bullet">
                            <li>120–150 мл чёрного кофе.</li>

                            <li>50 г мороженого.</li>

                            <li>20 мл шоколадного ликёра или сиропа.</li>

                            <li>20 мл сливок.</li>

                            <li>тёртый шоколад.</li>
                        </ol><br>
                        <br>

                        <h4><b><center>Технология приготовления</center></b></h4>

                        <ol class="bullet">
                            <li>Остудить кофе.</li>

                            <li>На дно бокала положить мороженое.</li>

                            <li>Залить его ликёром или сиропом.</li>

                            <li>Налить кофе.</li>

                            <li>Когда мороженое всплывёт, сверху выложить сливки и посыпать их тёртым шоколадом.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Glace\kofe-s-morozhenym-paradajz-768x877.jpg" alt=""> 
                                <figcaption>
                                    Глясе Парадайз
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <h3><b><center>Глясе по-польски</center></b></h3>

                        <h4><b><center>Ингредиенты:</center></b></h4>

                        <ol class="bullet">
                            <li>1 желток куриного яйца.</li>

                            <li>сахар: в желток – 1–3 чайных ложки, а в кофе – по вкусу.</li>

                            <li>150 мл чёрного кофе.</li>

                            <li>50 г мороженого (желательно ванильного).</li>
                        </ol><br>
                        <br>

                        <h4><b><center>Технология приготовления</center></b></h4>

                        <ol class="bullet">
                            <li>Сварить кофе (если нужно, подсластить) и охладить до температуры около +50 °C.</li>

                            <li>Взбить желток с сахаром. Пудра не подойдёт: пена будет менее пышной.</li>

                            <li>Поместить взбитый желток в бокал.</li>

                            <li>Тонкой струйкой, постоянно помешивая, влить кофе.</li>

                            <li>Сверху положить шарик мороженого.</li>

                            <li>Украсить шоколадной крошкой.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Glace\kofe-glyase-po-polski-768x977.jpg" alt=""> 
                                <figcaption>
                                    Глясе по-польски
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <h3><b><center>Глясе с клубничным сорбе</center></b></h3>

                        <h4><b><center>Ингредиенты:</center></b></h4>

                        <ol class="bullet">
                            <li>150 мл чёрного кофе.</li>

                            <li>75–100 г мороженой или свежей клубники.</li>

                            <li>50 мл сливок.</li>

                            <li>сахар — по вкусу (лучше коричневый).</li>
                        </ol><br>
                        <br>

                        <h4><b><center>Технология приготовления</center></b></h4>

                        <ol class="bullet">
                            <li>Свежую клубнику вымыть прохладной водой, мороженую – выложить в дуршлаг и обдать кипятком.</li>

                            <li>Растереть в блендере клубнику с сахаром.</li>

                            <li>Смешать сорбе со сливками и поставить в морозилку.</li>

                            <li>Сварить кофе и остудить до температуры около +60 °C.</li>

                            <li>Положить сверху замороженный сорбе.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Glace\glyase-s-klubnichnym-sorbe.jpg" alt=""> 
                                <figcaption>
                                    Глясе с клубничным сорбе
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <h3><b><center>Аффогато</center></b></h3>

                        Аффогато – итальянский десерт, ближайший родственник глясе. В переводе с итальянского аffogato означает «утопленник». Сегодня этот десерт – один из самых модных в Европе.

                        <h4><b><center>Ингредиенты:</center></b></h4>

                        <ol class="bullet">
                            <li>30–60 мл эспрессо.</li>

                            <li>50 г мороженого.</li>

                            <li>10–20 мл сиропа или ликёра (ванильного, шоколадного, миндального).</li>

                            <li>тёртый шоколад, шоколадный топинг.</li>
                        </ol><br>
                        <br>

                        <h4><b><center>Технология приготовления</center></b></h4>

                        <ol class="bullet">
                            <li>Перевернуть бокал для мартини и провести им над паром (можно над чайником), чтобы внутренняя поверхность стенок покрылась конденсатом.</li>

                            <li>Изнутри посыпать стенки небольшим количеством тёртого шоколада.</li>

                            <li>Нарисовать топингом на стенках узоры (или просто побрызгать).</li>

                            <li>Налить на дно сироп или ликёр.</li>

                            <li>Положить в бокал мороженое.</li>

                            <li>Приготовить эспрессо и сразу же полить им мороженое..</li>

                            <li>По желанию посыпать сверху тёртым шоколадом.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Glace\domashnij-affogato.jpg" alt=""> 
                                <figcaption>
                                    Аффогато
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Правила подачи глясе.</h2>
            
                <div class="article__text">
                    <p>
                        Глясе подают только в прозрачном сосуде: высоком бокале, кружке для кофе по-ирландски. Вместе с кофе гостям предлагают соломинку и ложечку с длинным черенком. Можно пить глясе, помешивая его трубочкой, или же сначала съесть мороженое ложкой, а потом выпить жидкость.<br>
                        <br>

                        Кофе глясе хорошо сочетается с ягодами (клубникой, малиной), песочным печеньем, бисквитами.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-espresso.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock%}