{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href="{% static 'main/css/Honey_Raf.css' %}"> {% endblock %}
    

{% block title %} Honey Raf {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Медовый Раф</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
   <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Honey Raf</h3>
                <h2 class="section__title">Медовый Раф</h2>
                <div class="article__text">
                    <p>Медовый раф – это взбитая смесь кофе со сливками, заправленная мёдом. Кофе медовый раф обязательно содержит мёд, в то время как классический раф подслащивают сахаром.
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content %}
    <section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История медового рафа.</h2>
            
                <div class="article__text">
                    <p>
                        В конце XX века в московской кофейне Coffee Bean работали три бариста: Глеб Невейкин, Артём Берестов и Галина Самохина. Специально для привередливого клиента по имени Рафаэль они изобрели чудо-напиток раф, представлявший собой однородную сливочно-кофейную пену.<br>
                        <br>

                        Напиток приобрёл популярность сперва в России, затем во всём мире. Существует немало его вариантов, один из которых – медовый раф. Мёд прекрасно гармонирует с кофе и сливками, придаёт кофе особый привкус.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты для медового рафа.</h2>
            
                <div class="article__text">
                    <p>
                        Медовый раф в кафе готовят на основе эспрессо, но дома можно сварить крепкий чёрный кофе любым способом. Сливки с мёдом скроют все тонкие оттенки аромата и вкуса кофе, поэтому дорогая арабика «спешиэлти» ни к чему. Совсем не обязательно использовать свежесмолотые зёрна, достаточно любой готовой смеси для эспрессо. Однако нежелательно, чтобы в ней было более 20% робусты.<br>
                        <br>

                        В кофе медовый раф плохо чувствуется вкус зёрен светлой обжарки. Сочетание сильно обжаренного кофе со сливками – на любителя. Поэтому лучше выбрать золотую середину – Венскую или Полную Городскую обжарку. Кофе заваривают на некипячёной бутилированной воде с минерализацией 75–250 мг/л.<br>
                        <br>

                        <p class="margin">
                            Сливки для медового рафа взбивают не до крутых пиков, а в полужидкую пену. Поэтому идеальная жирность – 10–15%. Если сливки более жирные, их разбавляют молоком.
                        </p>

                        Гречишный мёд обладает чересчур интенсивным вкусом, из-за него кофе вообще не чувствуется. Для приготовления медового рафа предпочтительнее светлые сорта мёда с более мягким вкусом: акациевый, липовый, майский.<br>
                        <br>

                        Не нужно стараться найти жидкий мёд: его чаще подделывают, а подделку труднее распознать. Засахарившийся мёд растворяется в тёплой воде ничуть не хуже жидкого, зато хранится лучше и реже начинает бродить.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики медового рафа.</h2>
                 <div class="article__text">
                    <p>

                        <h3><b><center>Характеристики медового рафа</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Смесь из нескольких сортов арабики, возможна добавка до 20% робусты</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>Средняя (Полная Городская или Венская), но для любителей допустима и тёмная</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>В зависимости от способа приготовления кофейной основы</td>
                            </tr>

                            <tr>
                                <td>Жирность сливок</td>
                                <td>10–15%</td>
                            </tr>

                            <tr>
                                <td>Температура сливок</td>
                                <td>+60 °C</td>
                            </tr>

                            <tr>
                                <td>Температура готового кофе</td>
                                <td>+55 ± 5 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления, секунд</td>
                                <td>5–15 минут</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>135–160 (с учётом увеличения объёма напитка при взбивании медовый раф лучше наливать в чашку или бокал ёмкостью 200 мл)</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>50–136 мг (в одной порции)</td>
                            </tr>
                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>3</td>
                            </tr>

                            <tr>
                                <td>Калорийность</td>
                                <td>153,25–198,5 кКал в порции (в зависимости от жирности сливок)</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Классический рецепт медового рафа.</h2>
            
                <div class="article__text">
                    <p>
                        Автоматический капучинатор для взбивания медового рафа не подходит: содержащийся в сливках жир забивает сопло. Поэтому напиток готовят с помощью механического капучинатора.<br>
                        <br>

                        В домашних условиях для приготовления медового рафа можно использовать блендер для коктейлей или даже обычный венчик. Сливки не очень жирные, поэтому нет опасности взбить их слишком сильно (до появления комочков масла).<br>
                        <br>

                        Капучинатор кофеварки нагревает кофе со сливками. Если медовый раф взбивают блендером или венчиком, сливки предварительно нужно нагреть до +60 °C.<br>
                        <br>

                        <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>25–50 мл эспрессо или другого крепкого чёрного кофе.</li>

                            <li>100 мл сливок жирностью 10–15%.</li>

                            <li>7–10 г светлого мёда (1 чайная ложка).</li>

                            <li>корица – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления</center></b></h3>

                        <ol class="bullet">
                            <li>Если нет парового капучинатора, подогреть сливки.</li>

                            <li>Сварить кофе. Если для этого используют турку или френч-пресс, кофе необходимо процедить.</li>

                            <li>Растворить в кофе мёд.</li>

                            <li>Смешать в питчере кофе со сливками.</li>

                            <li>Взбить кофейно-сливочную смесь.</li>

                            <li>Перелить пену в стеклянный бокал или керамическую чашку.</li>

                            <li>По желанию, сверху посыпать корицей.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Honey_Raf\kofejnyj-napitok-medovyj-raf-768x432.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        Если хочется, чтобы медовый раф был более ароматным, перед завариванием кофе в кофейную гущу следует добавить немного пряностей (с мёдом гармонично сочетается смесь гвоздики, мускатного ореха и душистого перца). Можно заранее смешать эти специи в равных количествах и измельчить при помощи кофемолки, затем по мере необходимости приправлять ими кофе.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить медовый раф.</h2>
            
                <div class="article__text">
                    <p>
                        Медовый раф подают в высоком стеклянном бокале или чашке для айриш кофе, реже – в керамической чашке. Эффектно выглядит кофе, на поверхность которого с помощью трафарета корицей нанесён рисунок, к примеру, цветок или снежинка. Вместе с напитком гостю предлагают ложечку и коктейльную соломинку.<br>
                        <br>

                        С медовым рафом хорошо сочетаются ягодные желе и муссы, десерты на основе маскарпоне, клубника, малина, черника, песочно-ореховое печенье.<br>
                        <br>

                        Медовый раф очень калориен. Тому, кто следит за фигурой, не следует употреблять больше 3 порций напитка в неделю.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-medovyj-raf.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}

    
