{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href="{% static 'main/css/Irish.css' %}"> {% endblock %}
    

{% block title %} Irish coffee {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Ирландский кофе</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Irish coffee</h3>
                <h2 class="section__title">Ирландский кофе</h2>
                <div class="section__text">
                    <p>
                       Айриш кофе (кофе по-ирландски) – это крепкий чёрный кофе с сахаром, щедро сдобренный ирландским виски и увенчанный слоем снежно-белых, слегка взбитых сливок. Напиток настолько популярен, что его классический рецепт зарегистрирован Международной ассоциацией барменов (IBA)..<br>
                        <br>

                        <h3><b>От многочисленных кофейных коктейлей айриш отличается тем, что:</b></h3>

                        <ol class="bullet">
                            <li>в него обязательно добавляют ирландский виски. Кофейные напитки с другими видами алкоголя айриш кофе не считаются.</li>

                            <li>сливки для кофе по-ирландски не взбивают в крутую пену. Они должны быть взбитыми, но жидкими, и лежать поверх кофе ровным слоем.</li>
                        </ol><br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}


{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История айриш кофе.</h2>
            
                <div class="article__text">
                    <p>
                        Вплоть до окончания Второй мировой войны перелёт из Европы в США был уделом смелых людей. Им предстояло около 18 часов провести в воздухе, в негерметичном и неотапливаемом салоне гидросамолёта. Так приходилось путешествовать далеко не бедным пассажирам: политикам, бизнесменам, известным писателям и журналистам.<br>
                        <br>

                        Самолёты из Англии приземлялись в ирландском аэропорту Шеннон, а оттуда пассажиров перевозили в портовый городок Фойнс, где располагался терминал для пересекавших Атлантический океан гидросамолётов. Зная, какие важные персоны из-за нелётной погоды могут надолго задержаться в Шенноне и Фойнсе, администрация пригласила для работы в ресторане аэропорта известного дублинского шеф-повара Джозефа Шеридана.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Irish\joe-sheridan-768x402.jpg' %}" alt="">
                                <figcaption>
                                    Автор рецепта Джо Шеридан
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        Однажды ненастным вечером в 1943 году мистера Шеридана срочно вызвали в Фойнс. Из-за непогоды самолёт, следовавший в США, вынужден был повернуть назад. Пассажиров, которые зря несколько часов мёрзли в воздухе, требовалось срочно согреть.<br>
                        <br>

                        В Ирландии в промозглую погоду исстари спасались чаем с виски. Но невезучие путешественники явно нуждались в более бодрящем, чем чай, напитке. Шеф-повар предложил им горячий кофе с ирландским виски, украшенный наспех взбитыми сливками. Один из пассажиров, попробовав напиток и буквально оживая на глазах, поинтересовался: «Это бразильский кофе?», – на что получил ответ: «Нет, ирландский».<br>
                        <br>

                        С тех пор ирландский кофе постоянно подавали в ресторанах Шеннона и терминала в Фойнса. Напиток так и остался бы неизвестным широкой публике, если бы в 1951 году его не отведал журналист San Francisco Chronicle Стентон Делаплейн. Вернувшись домой, он поделился впечатлениями от необычного кофе со своим приятелем Джеком Кепплером, владельцем бара Buena Vista.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Irish\kak-sdelat-kofe-po-irlandski-768x724.jpg' %}" alt="">
                                <figcaption>
                                    Ирландский кофе в традиционном для напитка бокале
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        Кепплер загорелся идеей включить айриш кофе в меню своего заведения. Но приготовить напиток оказалось не так просто: сливки то камнем шли ко дну, то застывали на поверхности шапкой, которую можно было съесть при помощи ложечки, но никак не выпить. Наконец баланс был найден: для приготовления правильного кофе по-ирландски идеально подошли слегка взбитые фермерские сливки, предварительно выдержанные на холоде 48 часов.<br>
                        <br>

                        Кофе по-ирландски произвёл в Сан-Франциско фурор, и вскоре бар Кепплера стал самым посещаемым в городе. А в 1952 году на работу в Buena Vista устроился переехавший в США Джозеф Шеридан.<br>
                        <br>

                        <p class="margin">
                            Бар Buena Vista процветает до сих пор. В день здесь продают не менее 2000 порций айриш кофе. Рекорд был поставлен в 80-е годы прошлого века, когда во время спортивных соревнований посетители выпили 6000 порций кофе по-ирландски.
                        </p>

                        В 1945 году терминал в Фойнсе закрыли. Но ежегодно, 19 июля, в городке проходит День айриш кофе, и бариста со всего мира съезжаются на турнир по приготовлению легендарного напитка.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Irish\merlin-monro-pet-irlandskij-kofe.jpg' %}" alt="">
                                <figcaption>
                                    Первое знакомство Мерлин Монро с ирландским кофе
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Выбор ингредиентов для айриш-кофе.</h2>
            
                <div class="article__text">
                    <p>
                        Основой коктейля служит крепкий чёрный кофе. Способ заваривания не имеет значения: это может быть двойной эспрессо или напиток, заваренный в турке, френч-прессе, пуровере. Правда, многие любители кофе отмечают, что самый вкусный айриш кофе получается с основой, приготовленной во френч-прессе.<br>
                        <br>

                        Для айриш кофе нужна 100%-я арабика. Особенно хорош напиток, если в составе бленда – индийская арабика Plantation A или зёрна другого сорта с привкусом шоколада. Горькие вкусы виски и робусты плохо сочетаются между собой.<br>
                        <br>

                        Предпочтительнее средняя степень обжарки (Венская или немного светлее). Помол зёрен зависит от способа приготовления кофейной основы.<br>
                        <br>

                        Для заваривания кофе необходима бутилированная вода с минерализацией 75–250 мг/л. Виски подходит исключительно ирландский, к примеру, Jameson, Bushmills, Finnegan, Connemara, St. Patrick.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Сливки.</h2>
            
                <div class="article__text">
                    <p>
                       Знатоки рекомендуют готовить кофе по-ирландски со сливками 20–30%-й жирности, но допустима и жирность 10%.<br>
                        <br>

                        <p class="margin">
                            Иногда айриш кофе изображают с высокой шапкой сливок. Это неправильно: коктейль положено пить, предварительно не перемешивая, не пользуясь ни соломинкой, ни ложкой. Если же попытаться выпить кофе, который украшен крутой сливочной пеной, нос обязательно окажется измазанным в сливках, что выглядит крайне неэстетично. Кроме того, высока вероятность облиться горячим кофе: жидкости трудно пробиться сквозь толстый слой сливочной пены, из-за чего бокал придётся наклонять больше необходимого.
                        </p><br>
                        <br>

                        Если добавить в кофе невзбитые сливки, они опустятся на дно и под действием алкоголя могут свернуться, образовав некрасивые комки.<br>
                        <br>

                        Для айриш кофе нужно взбивать сливки до образования однородной, пластичной пены. Их наливают в бокал, а не накладывают ложкой. В домашних условиях для того, чтобы получить такую пену, сливки взбивают не блендером, а вручную, венчиком.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Irish\vzbitye-slivki-dlya-ajrish-kofe.jpg' %}" alt="">
                                <figcaption>
                                    Правильно взбитые сливки – основа рецепта
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        Сливочная пена должна быть холодной. Поэтому в некоторых рецептах рекомендуется взбивать сливки с ледяной крошкой в шейкере. Следует помнить, что сочетание ледяных сливок с горячим кофе опасно для зубной эмали.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Сахар.</h2>
            
                <div class="article__text">
                    <p>
                        Оригинальный ирландский кофе готовят с тростниковым сахаром исключительно потому, что его крупинки быстрее растворяются в алкоголе. Если тростникового сахара нет, допустимо использовать и свекольный (в крайнем случае – даже рафинад), но нужно проследить, чтобы он полностью растворился.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики айриш кофе.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики айриш кофе</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>100%-я арабика</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>Средняя (Венская или немного светлее)</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Зависит от способа приготовления кофейной основы</td>
                            </tr>

                            <tr>
                                <td>Температура кофейной основы</td>
                                <td>+70 ± 5 °C</td>
                            </tr>

                            <tr>
                                <td>Температура виски</td>
                                <td>от +35 до +40 °C</td>
                            </tr>

                            <tr>
                                <td>Температура сливок</td>
                                <td>+10 ± 5 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>7–10 минут</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>150–160 (вместе с пенкой)</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>100–150 мг (в одной порции)</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>2</td>
                            </tr>

                            <tr>
                                <td>Калорийность</td>
                                <td>162 кКал – со сливками 10%-й жирности<br>
                                    188 кКал – со сливками 20%-й жирности<br>
                                    213 кКал – со сливками 30%-й жирности</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Приготовление кофе по-ирландски.</h2>
            
                <div class="article__text">
                    <p>
                        Сочетание бархатной черноты кофе и кипенной белизны сливок выглядит очень эффектно. Айриш кофе положено подавать в толстостенном стеклянном бокале с ручкой. Перед приготовлением напитка в бокал наливают горячую воду или прогревают его паром из кофемашины.<br>
                        <br>

                        Желательно, чтобы и виски был тёплым (обязательное условие для приготовления огненного айриш кофе). Для нагревания виски на 5–10 минут ставят в горячую воду (стеклянный сосуд в кипяток ставить нельзя).<br>
                        <br>

                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>80 мл горячего чёрного кофе.</li>

                            <li>40 мл ирландского виски.</li>

                            <li>30 мл взбитых сливок.</li>

                            <li>1 ч. л. тростникового сахара.</li>
                        </ol><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Рецепт фреддо эспрессо шейкерато.</h2>
            
                <div class="article__text">
                    <p>

                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>50 мл эспрессо или любого другого чёрного кофе.</li>

                            <li>лёд.</li>

                            <li>сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Приготовление:</b></h3>

                        <ol class="bullet">
                            <li>Взбить сливки.</li>

                            <li>Сварить чёрный кофе и перелить в прогретый бокал.</li>

                            <li>Растворить в кофе сахар.</li>

                            <li>Добавить тёплый виски, перемешать.</li>

                            <li>Сверху налить взбитые сливки – тонкой струйкой, по лезвию ножа или по перевёрнутой ложке, чтобы они легли ровным слоем.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Irish\prigotovlenie-ajrish-kofe.jpg' %}" alt="">
                                <figcaption>
                                    Правильное добавление сливок
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Другие виды ирландского кофе.</h2>
            
                <div class="article__text">
                    <p>
                       <h3><b>Огненный айриш кофе</b></h3>

                       Состав и пропорции – те же, что и в предыдущем случае. Такой кофе имеет более нежный вкус с лёгкой карамельной нотой.<br>
                        <br>

                       <h4><b>Рецепт:</b></h4>

                        <ol class="bullet">
                            <li>Взбить сливки.</li>

                            <li>Сварить чёрный кофе..</li>

                            <li>В прогретом бокале смешать тёплый виски с сахаром (помешивать ложечкой до полного растворения сахара).</li>

                            <li>Зачерпнуть ложечкой немного виски, поджечь, вылить в бокал так, чтобы напиток загорелся.</li>

                            <li>Налить кофе и накрыть бокал крышкой или блюдцем.</li>

                            <li>Через 30–40 секунд тонкой струйкой вылить сливки.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Irish\ognennyj-ajrish-kofe-768x511.jpg' %}" alt="">
                                <figcaption>
                                    Огненный айриш кофе
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Кофе Айриш крим.</h2>
            
                <div class="article__text">
                    <p>
                        Этот напиток считается дамским, хотя его любят гурманы и сладкоежки обоих полов.<br>
                        <br>

                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>100 мл горячего чёрного кофе.</li>

                            <li>50 мл сливочного ликёра (Baileys или Carolans Irish Cream).</li>

                            <li>40 мл взбитых сливок.</li>

                            <li>по желанию – 1 ч. л. тростникового сахара.</li>
                            
                            <li>по желанию – тёртый шоколад.</li>
                        </ol><br>
                        <br>

                        <h3><b>Приготовление:</b></h3>

                        <ol class="bullet">
                            <li>Вылить в бокал чёрный кофе.</li>

                            <li>Если хочется сделать напиток более сладким, смешать кофе с сахаром.</li>

                            <li>Добавить сливочный ликёр.</li>

                            <li>Тонкой струйкой влить сливки.</li>

                            <li>Украсить сливочную пену тёртым шоколадом.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Irish\irish-coffee-cream.jpg' %}" alt="">
                                <figcaption>
                                    Айриш крим
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Айриш айс кофе.</h2>
            
                <div class="article__text">
                    <p>
                        Ингредиенты – те же, что и в классическом варианте.<br>
                        <br>

                        <h3><b>Приготовление:</b></h3>

                        <ol class="bullet">
                            <li>Сварить чёрный кофе, смешать с сахаром и охладить до комнатной температуры.</li>

                            <li>В бокал бросить 2–3 кубика льда.</li>

                            <li>Налить кофе и виски (не нагревать).</li>

                            <li>Сверху вылить взбитые сливки.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Irish\ice-irish-coffee.jpg' %}" alt="">
                                <figcaption>
                                    Айриш айс
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>


            <div class="section__header">
                <h2 class="section__title">Как подавать и пить ирландский кофе.</h2>
            
                <div class="article__text">
                    <p>
                        ФИзначально кофе по-ирландски подавали в пивных кружках, но впоследствии для коктейля изобрели специальный айриш бокал. У него толстые стенки, благодаря чему напиток медленно остывает, и ручка, не позволяющая обжечься горячим кофе.<br>
                        <br>

                        Правильный айриш кофе подают без ложечки, соломинки и сахарницы. Сахар в напитке уже есть (иногда, по желанию гостя, кофе не подслащивают).<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Irish\ajrish-kofe-v-domashnix-usloviyax-768x512.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        Размешивать кофе по-ирландски не нужно. Коктейль следует пить медленно, ощущая, как меняется вкус смеси чёрного кофе с виски, проходящей через охлаждённые сливки.<br>
                        <br>

                        <p class="margin">
                            Соломинку и ложечку подают только в том случае, если напиток приготовлен неправильно, например, с шапкой сливок из баллончика. Тогда действительно сливки лучше съесть при помощи ложки, но это будет уже не айриш кофе.
                        </p><br>
                        <br>

                        С коктейлем хорошо сочетаются лёгкие десерты с маскарпоне, суфле. Выпечку, мясные и рыбные закуски к ирландскому кофе не подают.<br>
                        <br>

                        Напиток очень калориен и содержит довольно много алкоголя, что нужно учитывать тем, кто следит за фигурой. Молодым людям до 18 лет пить айриш кофе нельзя. Коктейль противопоказан при нарушениях сердечно-сосудистой системы, диабете, обострении заболеваний ЖКТ. После употребления кофе по-ирландски запрещается садиться за руль транспортного средства.<br>
                        <br>

                        <b>Внимание!</b> Чрезмерное употребление алкоголя вредит вашему здоровью.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/napitok-ajrish-kofe.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}