{% extends 'main/layout.html'%}
{% load static %}

{% block link %} <link rel="stylesheet" href= "{% static 'main/css/japan_coffee.css' %}"> {% endblock %}

{% block title %} Japan Coffee {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">О кофе в Японии.</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
<!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Индустрия кофе в Японии</h3>
                <h2 class="section__title">Как страна без кофейных плантаций стала одним из лидеров индустрии.</h2>
                <div class="article__text">
                    <p>Япония у многих ассоциируется с гейшами, аниме, высокими технологиями и зеленым чаем. Но оказывается, что здесь очень ценят кофе и пьют его в два раза больше, чем чая. Разбираемся, как страна без кофейных плантаций стала одним из лидеров индустрии и завоевала престижные награды в мировых соревнованиях.
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content%}
<!-- Article (Статья) -->
    <section class="section">
    	<div class="container">

    		<div class="section__header">
    			<h2 class="section__title">Как развивалась кофейная индустрия в Японии.</h2>
    		
    			<div class="article__text">
    				<p>
    					Кофе впервые завезли в Японию торговцы из Голландии в начале 18 века. Местные жители приняли его без особого восторга: они считали кофе горьким и непонятным продуктом. Поэт Ота Нанпо писал, что напиток «пахнет горелым и не имеет никакого вкуса». Долгое время японцы оставались верны чаю. Ситуация начала меняться к концу 19 века, когда в страну стали завозить разные сорта зерен.<br>
    					<br>
						В 1888 году в токийском районе Уэно открылась первая японская кофейня Kahiichakan. Она быстро обрела популярность и просуществовала несколько лет, послужив источником вдохновения для других предпринимателей.<br>
						<br>
						Родоначальником индустрии кофе в Японии считают Тадао Уэсима. В начале 20 века он занимался оптовой торговлей маслом, джемом и другими западными продуктами питания. Однажды он попробовал кофе и решил, что этот напиток непременно оценят местные жители. Так в 1933 году в городе Кобе Тадао открыл магазин Ueshima Tadao Shoten. А через несколько лет — бизнес по обжарке кофе.<br>
						<br>
						В то же время начали появляться местные кофейни — киссатен. Эти заведения предназначались для спокойного интеллигентного отдыха. Там подавали чай и кофе, десерты и фрукты, звучала классическая музыка, а в качестве развлечений предлагались книги, журналы и бильярд.<br>
						<br>
						<div class="image">
							<img class="article__image" src="{% static 'main/images\article_china_coffe\image5.jpg'%}" alt="">
						</div>
						Современная кофейня в старом здании Киото. <br>
						<br>
						С началом Второй мировой войны кофе запретили к ввозу, и вся индустрия страны встала на паузу. Импорт возобновился только в 1950 году, и Тадао Уэсима первым начал закупать зерна в Колумбии. Уже через год активной работы его предприятие выросло в корпорацию Ueshima Coffee Co., Ltd.<br>
						<br>
						Объем потребления кофе рос, и вскоре его продавали повсеместно наравне с чаем. Быстро набирали популярность и киссатен: 90 % импортного кофе подавали именно здесь. Дальше развитие этих заведений пошло двумя разными путями. Одни специализировались на развлечении гостей. Так появились, например, манга-кафе с видеоиграми, доступом в интернет и платой за проведенное время, а не заказы по меню. А вторые продолжили совершенствовать искусство приготовления кофе.<br>
						<br>
						В 1969 году компания Ueshima Coffee Co., Ltd. представила первый в мире готовый кофе в банках. На выставке Expo'70 эта новинка имела большой успех. Можно считать, что с того момента кофе окончательно закрепился в повседневной жизни японцев. В 1988 году Международная Организация Кофе установила Тадао Уэсиме памятник за значимый вклад в индустрию. В 1991 году компания официально стала называться UCC Ueshima Coffee Co., Ltd.<br>
						<br>
						В конце 20 века в Японии тенденции в потреблении кофе переключились на удобство и массовость. Появились сети Doutor и Starbucks, а кофе в банке можно купить в торговых автоматах на каждом шагу.<br>
						<br>
    				</p>
    			</div>
    			<h2 class="section__title">Как сегодня пьют кофе в Японии.</h2>
    			<div class="article__text">
    				<p>
    					Японцы потребляют около 1 кг чая на душу населения в год, а кофе в 2 раза больше — 2,1 кг. В 2019 году импорт кофе в Японии составил 450 тысяч тонн, что сделало эту страну одним из крупнейших импортеров кофе в мире.<br>
    					<br>
						«Японцы пьют кофе весь день: утром перед работой и в перерывах в офисе, с друзьями и в одиночестве. Офисные работники, как правило, выбирают черный кофе. Однако среди молодежи набирают популярность более сладкие напитки — например, латте. В то время как киссатен страны сосредоточены исключительно на фильтр-кофе, современные кафе по всей Японии начали подавать напитки на основе эспрессо», — говорит Нобумаса Симояма, победитель нескольких конкурсов латте-арта, посол Roastelier by Nescafé, владелец кафе Superrandom и школы бариста в Осаке.<br>
						<br>
						<div class="image">
							<img class="article__image" src="{% static 'main/images\article_china_coffe\image1.jpg'%}" alt="">
						</div>
						Японцы пьют кофе весь день: утром перед работой и в перерывах в офисе, с друзьями и в одиночестве.<br>
						<br>
						В последние годы на индустрию кофе в стране сильно повлияла пандемия. «Потребление кофе в Японии растет по сравнению с тем, что было 20 лет назад. Но с конца 2019 года его объем в кафе, ресторанах и отелях снизился из-за последствий пандемии Covid-19, — говорит Нобумаса, — однако за это время японцы стали покупать больше обжаренного кофе в магазинах и пить его дома». Это привело к увеличению интереса к сегменту спешелти кофе и кофейной тематике в целом в стране.<br>
						<br>
    				</p>
    			</div>
    			<h2 class="section__title">Как сегодня пьют кофе в Японии.</h2>
    			<div class="article__text">
    				<p>
    					На современном японском рынке существует много профилей обжарки зерен, так как кофейни тоже достаточно разнообразны. «Японские потребители, как правило, предпочитают кофе темной обжарки. Поэтому большинство кофеен предлагает именно такие напитки. Однако все популярнее становится кофе светлой обжарки с яркой, приятной кислотностью. Больше и больше потребителей стремятся попробовать как можно больше разновидностей кофе», — рассказал Нобумаса Симояма.<br>
    					<br>
    					<div class="image">
							<img class="article__image" src="{% static 'main/images\article_china_coffe\image3.jpg'%}" alt="">
						</div>

						Кофейня в Кавагоэ префектуры Сайтама.<br>
						<br>

						Новые тенденции означают, что владельцы кафе должны уметь быстро адаптироваться к меняющимся потребительским запросам. И многие кофейни стремятся сами обжаривать кофе. Поэтому большую популярность здесь приобрел Roastelier от Nescafé — компактное устройство для обжарки небольших партий зерен. Оно позволяет кофейням всегда подавать свежеобжаренный кофе.<br>
						<br>

						Японцы и сами изобретают кофейное оборудование, которое широко используется по всему миру. Так, японская компания Hario в 1949 году выпустила сифон для заваривания кофе, а в 2004 году — знаменитый пуровер V60. Компания Yamanaka & Co в 1990 году изобрела дрип-пакеты — они позволяют заваривать молотый кофе прямо в чашке без дополнительных аксессуаров.<br>
						<br>

						Многие современные японские кофейни экспериментируют с новаторскими методами заваривания. Например, готовят кофе со льдом в японском стиле: в емкость кладут лед, а сверху помещают воронку с молотым кофе и заливают горячей водой. Заваренный кофе капает горячим на лед и быстро охлаждается. Такой способ приготовления снижает кислотность и горечь готового напитка и раскрывает его аромат.<br>
						<br>

						В Гиндзе находится уникальное кафе Café de l'Ambre, которое работает с 1948 года. Его особенность в том, что здесь готовят напиток из выдержанных зерен. Зеленый кофе хранят годами на специальных складах, что в итоге придает ему особенный вкус — причем условия хранения не раскрываются. Основатель кофейни Секигути говорил, что у него не было цели экспериментировать. Сначала выдержанные зерна попадали к нему случайно: из-за задержек с поставкой, или он просто находил на складах забытые партии кофе. Сегикути обжаривал их и каждый раз восхищался вкусом. После этого он построил герметичный склад, купил около 2 тонн кофе и поместил его туда на длительное хранение.<br>
						<br>


						С тех прошло уже около 40 лет. Но до сих пор многие путешественники говорят, что этот кофе не сравнится ни с чем, что они когда-либо пробовали. Например, обозреватель портала «Кофе Токио» отметил, что у напитка было округлое, сливочное тело, вкус с нотами шоколада, сливы и сухофруктов, приятная яблочная кислотность и продолжительное сладкое послевкусие. «Это был кофе — и одновременно нечто большее!» — с восторгом отмечает автор.<br>
						<br>
    				</p>	
    			</div>
    			<h2 class="section__title">Спешелти в Японии.</h2>
    			<div class="article__text">
    				<p>
    					В японских киссатен десятилетиями тщательно подходили к выбору зерна, изучали способы обжарки и искали новые рецепты приготовления напитка. Сейчас эти процессы принято считать течением третьей волны кофе. Отчасти именно киссатен послужили вдохновением для некоторых брендов спешелти кофе. Например, основатель Blue Bottle Coffee Джеймс Фриман открыл кофейни в США после своего визита в Японию в 2007 году, переняв очень многое от этих заведений.<br>
    					<br>

						Сегодня в современных кофейнях Японии очень популярен кофе третьей волны: сюда завозят множество дорогих лотов, открывают представительства крупнейшие иностранные компании. Так, свои флагманские магазины основали Blue Bottle Coffee в 2015 году в Токио и Nestlé в 2021 году в Кобе. В последнем предлагают широкий выбор эспрессо-смесей и уникальные варианты кофейного меню. Например, Ultimate Freshly Roasted Coffee из зерен, которые обжарены всего три часа назад.<br>
						<br>
						<div class="image">
							<img class="article__image" src="{% static 'main/images\article_china_coffe\image4.jpg'%}" alt="">
						</div>
						Blue Bottle Coffee открыли свои флагманские магазины в Японии. Им пришлось нанять охрану, чтобы сдерживать очередь из желающих приобрести кофе.<br>
						<br>

						Японские обжарщики также поддерживают концепцию кофе третьей волны. Например, компании Nozy Coffee и Saruhiko Coffee завоевывают популярность по всей Японии благодаря внимательному отношению к происхождению, качеству зерен и процессу приготовления напитка.<br>
						<br>

						Несколько лет назад японцы стали покорять и мировые чемпионаты. В 2014 году Хиденори Изаки выиграл на Мировом чемпионате бариста (WBC). Это была не только первая победа японца, но и первый случай победы бариста из азиатской страны. В 2017 году Мики Судзуки заняла второе место в этом чемпионате.<br>
						<br>

						World Latitude Caffè Prize — международная премия, которая оценивает обжарщиков, кофейни, производителей оборудования по многим параметрам: от экологичности производства до упаковки. И в 2022 году сразу четыре японские компании стали ее призерами в разных номинациях: компания Hario за пуровер V60, производитель кофейных напитков Georgia — за черный кофе в бутылке, спешелти кофейня Saruthiko Coffee и производитель кофейных напитков INIC Coffee.<br>
						<br>
    				</p>	
    			</div>
    			<h2 class="section__title">Что в итоге.</h2>
    			<div class="article__text">
    				<p>
    					<div class="image">
							<img class="article__image" src="{% static 'main/images\article_china_coffe\image6.jpg'%}" alt="">
						</div>
    					Кофе в Японии появился в 18 веке, однако популярность приобрел лишь на рубеже 19 и 20 веков. Значимую роль в этом сыграл Тадао Уэсима — «отец кофе в Японии». Именно он начал активно завозить и продавать кофе, открывать магазины, а также изобрел формат кофе в банках.<br>
    					<br>

						Во многом современная японская кофейная культура сформировалась благодаря киссатен — традиционным японским заведениям. Здесь не просто начали подавать кофе, но и совершенствовали способы его обжарки и заваривания. Именно киссатен положили начало третьей волне кофе и способствовали зарождению спешелти сегмента в Японии.<br>
						<br>

						В этой стране изобрели пуровер V60 и дрип-пакеты для заваривания кофе.<br>
						<br>

						Сегодня многие мировые бренды открывают в Японии крупные представительства. А японские компании и бариста добиваются успеха в международных соревнованиях.

						<p>
                            Информация была взята из Источника: <span><a href="https://shop.tastycoffee.ru/blog/industria-kofe-v-japonii" target="_blank">https://shop.tastycoffee.ru</a></span>
                        </p>
    				</p>	
    			</div>
    		</div>
{% endblock %}