{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href="{% static 'main/css/Latte_Macchiato.css' %}"> {% endblock %}
    

{% block title %} Latte Macchiato {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Латте макиато</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Latte Macchiato</h3>
                <h2 class="section__title">Латте макиато</h2>
                <div class="section__text">
                    <p>
                        Латте макиато (latte macchiato) – молочно-кофейный коктейль, состоящий из трёх отличающихся друг от друга по цвету слоёв: снизу – молоко, посередине – кофе, сверху – белая молочная пенка с коричневым пятнышком кофе. Благодаря внешнему виду напиток и получил своё название: в переводе с итальянского «латте» означает молоко, а «макиато» – пятнистый. Коктейль подают в стеклянной посуде, так как он выглядит очень эффектно.<br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}


{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История латте макиато.</h2>
            
                <div class="article__text">
                    <p>
                        Первые упоминания о кофе латте относятся к середине XIX века. В те времена в Англии было модно всё итальянское, и толпы английских туристов наводнили Апеннинский полуостров. Любимый итальянцами капучино казался туристам слишком крепким, и специально для привередливых англичан трактирщики изобрели кофе латте – напиток с большим содержанием молока.<br>
                        <br>

                        <p class="margin">
                            Ни о каком латте макиато ни в XIX, ни в первой половине XX века речи не шло. Неизвестно, кто именно впервые задался вопросом: что будет, если во время приготовления латте не молоко лить в кофе, а наоборот – кофе в молоко? Но наверняка жил этот неведомый бариста во времена мощных кофемашин и капучинаторов, иначе у него ничего бы не получилось.
                        </p>

                        Впервые название «ла́тте макиато» стало широко известным европейской и американской публике в 1989 году, когда напиток включили в меню международной сети кофеен Starbucks. Представители компании утверждали, что кофе латте макиато готовят по традиционному итальянскому рецепту. Однако известно, что итальянцы не особенно любят латте, отдавая предпочтение капучино. А латте макиато явно продолжает традицию американо-европейских слоистых коктейлей, начатую ещё айриш кофе.<br>
                        <br>

                        Напиток был популярен в течение нескольких лет, но к концу XX века исчез из меню Starbucks. В европейских кофейнях его продолжали подавать, особенно в Германии. Но в США о коктейле забыли так прочно, что когда в 2016 году компания Starbucks решила возродить старый рецепт, маркетологам даже пришлось объяснять публике, что такое латте макиато и чем он отличается от латте. Сейчас коктейль находится на пике моды во всём мире.<br>
                        <br>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Отличия латте макиато от латте, капучино, айриш кофе и макиато.</h2>
            
                <div class="article__text">
                    <p>

                        <h3><b>Ближайшие родственники коктейля – латте, капучино, айриш кофе и макиато. От них латте макиато отличается тем, что:</b></h3>

                        <ol class="bullet">
                            <li>латте макиато готовят из тех же ингредиентов, что и латте, но немного иначе. При смешивании латте и капучино молоко льют в кофе, а для приготовления латте макиато – кофе в молоко.</li>

                            <li>в латте макиато чётко видны все 3 слоя. Пока напиток не остынет, они почти не перемешиваются.</li>

                            <li>в латте макиато гораздо больше молока, чем в макиато и даже в капучино.</li>

                            <li>латте макиато готовят только с молоком и без алкоголя, в отличие от айриш кофе, в рецепте которого – сливки и ирландский виски.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Latte_Macchiato\raznica-mezhdu-latte-i-latte-makiato.jpg' %}" alt="">
                                <figcaption>
                                    Слева просто латте, справа – латте макиато
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты для латте макиато.</h2>
            
                <div class="article__text">
                    <p>
                       Вкус кофе в латте макиато гораздо ощутимее, чем в латте. Поэтому смеси с робустой нежелательны. Подойдёт 100%-я арабика, хотя дорогие моносорта ни к чему: всё же в напитке доминирует молочный вкус. Знатоки уверяют, что интересным фруктовым привкусом обладает латте макиато с кофейной основой, сваренной из смеси арабики с эксцельзой.<br>
                        <br>   

                        Обжарка зёрен – по вкусу, но не темнее Венской. Помол зависит от способа приготовления кофейной основы. В кафе латте макиато готовят на основе эспрессо, но дома можно заварить чёрный кофе в турке или в любой кофеварке. Главное – чтобы в кофейной основе не было частичек гущи, поэтому если её готовят в турке или во френч-прессе, лучше дополнительно профильтровать.<br>
                        <br>

                        Кофе обязательно нужно заваривать на бутилированной воде с минерализацией 75–250 мг/л.<br>
                        <br>

                        <h3><b>Выбор молока.</b></h3>

                        Для приготовления латте макиато используют пастеризованное молоко с жирностью не менее 3%, обезжиренное не годится. Пенка должна быть более пышной, чем для латте.<br>
                        <br>

                        <p class="margin">
                            Блендером или поршнем френч-пресса до нужного состояния молоко взбить практически невозможно, всё равно понадобится капучинатор. В некоторых рецептах рекомендуют взбивать блендером горячее молоко. Но разогревать его больше, чем до +65 °C, настоятельно не рекомендуется, так как при +75 °C разлагаются белки, из-за чего портится вкус.
                        </p><br>
                        <br>

                        Если для взбивания используют капучинатор кофемашины, молоко предварительно охлаждают до температуры +4 °C. Его взбивают до тех пор, пока дно кувшина (питчера) не начнёт обжигать руку.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики латте макиато.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики латте макиато</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Любая недорогая смесь из нескольких сортов арабики</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>Средняя: Полная Городская или Венская</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Зависит от способа приготовления кофейной основы</td>
                            </tr>

                            <tr>
                                <td>Кофе для основы</td>
                                <td>Эспрессо или любой другой чёрный кофе, приготовленный в турке, френч-прессе, гейзерной либо капельной кофеварке</td>
                            </tr>

                            <tr>
                                <td>Температура кофейной основы</td>
                                <td>+70 ± 5 °C</td>
                            </tr>

                            <tr>
                                <td>Температура взбитого молока</td>
                                <td>от +60 до +65 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>3–8 минут, в зависимости от кофейной основы (быстрее всего для эспрессо)</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>240 мл</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>100–136 мг (в одной порции, приготовленной на основе двойного эспрессо)</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>3</td>
                            </tr>

                            <tr>
                                <td>Калорийность без сахара</td>
                                <td>110–130 кКал на порцию</td>
                            </tr>

                            <tr>
                                <td>Калорийность с сахаром</td>
                                <td>130–150 кКал — порция кофе с 5 г сахара (1 стикером)</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Рецепт латте макиато.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>60–70 мл эспрессо.</li>

                            <li>180 мл жирного молока.</li>

                            <li>сахар, тёртый шоколад, молотая корица, какао-порошок – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления</b></h3>

                        <ol class="bullet">
                            <li>Взбить молоко.</li>

                            <li>Сварить двойную порцию эспрессо в кофемашине.</li>

                            <li>Если нужно, растворить в кофе сахар.</li>

                            <li>Перелить молоко в заранее прогретый стеклянный бокал или кружку.</li>

                            <li>Очень тонкой струйкой медленно влить кофе. На поверхности молочной пенки должно быть только одно маленькое кофейное пятно..</li>

                            <li>Украсить пятнышко тёртым шоколадом, корицей или какао-порошком.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Latte_Macchiato\kofe-latte-makiato-v-domashnikh-usloviyakh.jpg' %}" alt="">
                            </center> 
                        </div><br>
                        <br>

                        <p class="margin">
                            Удельная плотность горячего кофе меньше, чем у жирного молока. Поэтому при добавлении кофе не опускается на дно и не смешивается с невзбитым молоком. Поскольку пышная молочная пена ещё легче, она остаётся на поверхности.
                        </p><br>
                        <br>

                        В молоко перед взбиванием можно добавить ванильный сахар, а пенку сверху украсить тонкими полосками шоколадного или карамельного сиропа. Если в кофе растворить 1–2 чайных ложки сгущённого молока, напиток будет выглядеть не так эффектно, но сливочный привкус усилится. Алкоголь в кофе добавлять нельзя, иначе молоко свернётся.<br>
                        <br>

                        Для латте макиато нужен толстостенный бокал: пока напиток будет оставаться горячим, слои не смешаются.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить латте макиато.</h2>
            
                <div class="article__text">
                    <p>
                        Латте макиато подают в кружке для айриш кофе или высоком стеклянном бокале. Вместе с кофе гостю предлагают соломинку, ложечку с длинным черенком и салфетку. Если у бокала нет ручки, его берут с помощью салфетки.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Latte_Macchiato\chem-zakusyvat-latte-makiato.jpg' %}" alt="">
                            </center> 
                        </div><br>
                        <br>

                        <p class="margin">
                            Напиток сочетается со сладкой выпечкой, шоколадом, ягодными желе и муссами, десертами на основе тирамису.
                        </p><br>
                        <br>

                        Бытует ошибочное мнение, что латте макиато предназначен для детей. На самом деле кофеин из двойной порции эспрессо никуда не девается, и для детей его в стандартном латте макиато слишком много. Если хочется побаловать ребёнка – можно приготовить коктейль из 10–15 мл кофе и 180 мл молока.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-latte-makiato.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}