{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href="{% static 'main/css/Latte.css' %}"> {% endblock %}
    

{% block title %} Latte {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Латте</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Latte</h3>
                <h2 class="section__title">Латте</h2>
                <div class="section__text">
                    <p>
                       Если в итальянском ресторане попросить латте, официант принесёт стакан молока (latte в переводе с итальянского означает «молоко»). Кофе с молоком, который в остальном мире сокращают до просто «ла̀тте» (с обязательным ударением на первом слоге) по-итальянски называют café latte и никак иначе. <br>
                       <br>

                        <b>Разница</b>. Кофейный напиток латте представляет собой смесь кофе и молока с пенкой. Готовя классический латте, молоко вливают в кофе. Если же влить кофе в молоко, получится латте макиато (latte macchiato). От ближайшего родственника – капучино, латте отличается пропорциями ингредиентов (значительно большим количеством молока) и относительно низкой молочной пенкой.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Latte\raznica-mezhdu-latte-i-kapuchino-768x432.jpg' %}" alt="">
                            </center>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}


{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История возникновения кофе латте.</h2>
            
                <div class="article__text">
                    <p>
                        В Европе кофе с молоком принято было пить ещё в конце XVII века. К примеру, первое письменное упоминание о том, что австрийцы любят смешивать эти два продукта, относится к 1680 году. Позднее напиток трансформировался в знаменитый кофе по-венски, с пышной шапкой сливок. В других странах кофе смешивали с молоком в произвольных пропорциях, не давая напитку какого-либо особого названия. В Испании до сих пор подают в маленьких чашечках café con leche, во Франции – café au lait.<br>
                        <br>

                        <p class="margin">
                            В Италии был собственный, совершенно особый кофе с молоком – капучино. Но в XIX веке Европу и Америку поразила мода на всё античное, и в Италию хлынули толпы туристов. Если европейцы со временем привыкали к местному кофе, то американцам даже капучино казался слишком крепким, поэтому в кофейнях они просили добавить в напиток побольше молока.
                        </p>

                        Постепенно рождался новый рецепт. Уже в 1847 году одна из английских газет вскользь упомянула о том, что в итальянских кофейнях туристам подают менее крепкий, чем традиционный капучино – кофе латте. Подробно напиток описал англичанин Уильям Дин Хауэллс, в 1867 году опубликовавший эссе «Итальянские путешествия».<br>
                        <br>

                        Однако американцы до сих пор уверены, что честь изобретения классических пропорций латте принадлежит итальянскому эмигранту Лино Мейорину, который 50-х годах XX века владел баром «Медитерранеум» в калифорнийском городе Беркли. В качестве основы для латте мистер Мейорин использовал эспрессо.<br>
                        <br>

                        Настоящий европейский бум на кофе латте начался в 80-е годы XX века и не утихает до сих пор. Напиток искренне полюбили те, для кого классический эспрессо кажется слишком крепким. Интересно, что в США и Канаде пристрастие к латте приравнивается к стремлению выделиться из толпы, продемонстрировать свою элитарность. Американские консерваторы даже уничижительно называют своих политических оппонентов латте-либералами.<br>
                        <br>

                        С тех пор ирландский кофе постоянно подавали в ресторанах Шеннона и терминала в Фойнса. Напиток так и остался бы неизвестным широкой публике, если бы в 1951 году его не отведал журналист San Francisco Chronicle Стентон Делаплейн. Вернувшись домой, он поделился впечатлениями от необычного кофе со своим приятелем Джеком Кепплером, владельцем бара Buena Vista.<br>
                        <br>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Правила приготовления кофе латте.</h2>
            
                <div class="article__text">
                    <p>
                        <p class="margin">
                            Чтобы уловить разницу между латте и капучино, не нужно быть гурманом: латте менее крепок в плане содержания кофеина. Для приготовления латте 1 часть чёрного кофе смешивают с 2–3 частями молока. Чаще всего основой для напитка служит двойной эспрессо (50–60 мл). Его смешивают со 100–180 мл молока.
                        </p>

                        Латте демократичен: как основу можно использовать кофе произвольной крепости, приготовленный в турке, френч-прессе, аэропрессе, кофеварке любой модели.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики кофе латте.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики кофе латте (таблица)</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Любая недорогая смесь из нескольких сортов арабики, возможна добавка до 20% робусты</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>Средняя: Полная Городская или Венская</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Тонкий эспрессо или средний</td>
                            </tr>

                            <tr>
                                <td>Кофе для основы</td>
                                <td>Эспрессо или любой другой чёрный кофе, приготовленный в турке, френч-прессе, гейзерной либо капельной кофеварке</td>
                            </tr>

                            <tr>
                                <td>Давление в кофемашине (если в качестве основы используется эспрессо)</td>
                                <td>В эспрессо-камере – не менее 9 бар, рабочее давление помпы – не менее 15 бар</td>
                            </tr>

                            <tr>
                                <td>Температура воды в группе (для приготовления эспрессо)</td>
                                <td>От +91 до +93 °C</td>
                            </tr>

                            <tr>
                                <td>Температура кофейной основы</td>
                                <td>+70 ± 5 °C</td>
                            </tr>

                            <tr>
                                <td>Температура взбитого молока</td>
                                <td>от +60 до +65 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>3–8 минут, в зависимости от кофейной основы (быстрее всего для эспрессо)</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>150–240 мл</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>100–136 мг (в одной порции, приготовленной на основе двойного эспрессо)</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>3</td>
                            </tr>

                            <tr>
                                <td>Калорийность без сахара</td>
                                <td>58–68 кКал на 100 мл, в зависимости от жирности молока<br>
                                    104–163 кКал на порцию</td>
                            </tr>

                            <tr>
                                <td>Калорийность с сахаром</td>
                                <td>124–183 кКал — порция кофе с 5 г сахара (1 стикером)</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Выбор кофе для латте.</h2>
            
                <div class="article__text">
                    <p>
                        Молоко сглаживает слабые оттенки кофейного аромата, оставляя лишь самые сильные, немного грубые тона. Поэтому не имеет смысла готовить латте из моносортов арабики или дорогих блендов: молоко всё равно скроет нюансы вкуса и благородное послевкусие элитного кофе.<br>
                        <br>

                        Для латте хорошо подходит смесь арабики с 10–20% робусты: горечь, которая в чёрном кофе кажется излишней, прекрасно сочетается со сливочной нежностью молока.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Обжарка и помол зёрен.</h2>
            
                <div class="article__text">
                    <p>
                        Для того, чтобы сделать латте, используют кофе среднего или тонкого эспрессо помола. Обжарка зёрен темнее Венской – на любителя: многие сочетание молока и кофе из зёрен тёмной обжарки считают неприятным.<br>
                        <br>

                        Зато для приготовления латте не обязательно нужен кофе свежего помола. Подойдёт как магазинный молотый кофе, так и домашний, измельчённый даже более 2 недель назад. Готовый кофе с ароматизаторами нельзя готовить в рожковой кофеварке или турке, но можно во френч-прессе. Однако следует заранее учесть, как ароматизирующие добавки будут гармонировать с молоком. Предпочтительнее добавки с ароматом корицы, ванили, шоколада.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Выбор воды.</h2>
            
                <div class="article__text">
                    <p>
                        Для приготовления кофейной основы не подходит вода из-под крана, причём даже кипячёная: вкус кофе портится из-за высокого содержания в ней хлора и его соединений. Чтобы очистить такую воду, используют аквафильтры или озонаторы. Но наиболее предпочтительна родниковая, колодезная или бутилированная вода с минерализацией в диапазоне 70–200 мг/л (оптимальное значение – 150 мг/л).<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Правильное молоко для латте.</h2>
            
                <div class="article__text">
                    <p>
                       Жирность молока для латте – предмет бесконечных споров бариста всех народов. Но большинство специалистов сходятся на том, что молоко жирностью более 3,5% плохо взбивается, а если этот показатель ниже 2% – кофе лишается нежного сливочного привкуса, пенка кажется слишком водянистой.<br>
                        <br>

                        <p class="margin">
                            Опытным путём установлено, что наилучшая жирность молока для латте – 2,5–3,2%. Даже тем, кто придерживается диеты, не рекомендуется экономить на жирности молока: 10–25 кКал можно сэкономить за счёт уменьшения порций других продуктов, а нежный вкус правильно приготовленного латте способен зарядить оптимизмом на весь день.
                        </p>

                        Наилучший выбор – пастеризованное молоко. Его важно не перегреть, в противном случае не удастся сделать латте вкусным: при температуре +75 °C разлагаются белковые соединения, что ухудшает вкус напитка.<br>
                        <br>

                        Молочная пенка для латте должна быть однородной, без крупных пузырьков, иметь консистенцию сливок. Бариста называют такую пенку мокрой.<br>
                        <br>

                        Взбивать молоко можно миксером или при помощи капучинатора. В первом случае молоко предварительно нужно разогреть до температуры +60 °C.<br>
                        <br>

                        Но наилучший и самый быстрый способ – взбить молоко в капучинаторе. Для этого пастеризованное молоко, охлаждённое до +4 °C, наливают в питчер. Уровень жидкости не должен быть выше основания носика (желобка) ёмкости.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Latte\kak-prigotovit-latte-768x512.jpg' %}" alt="">
                                <figcaption>
                                    Проще всего подготовить молоко капучинатором
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        Сопло парогенератора располагают не в центре, а ближе к краю сосуда, и погружают в молоко не более, чем на 0,5 см. При включении устройства молоко движется по часовой стрелке. По мере образования пены питчер опускают так, чтобы сопло парового крана постоянно находилось на границе жидкости и воздуха (на 0,5 см ниже уровня пены).<br>
                        <br>

                        Когда уровень пены окажется на 3–4 пальца ниже края питчера, парогенератор заглубляют, опуская сопло на дно. Одной ладонью поддерживают дно сосуда и, когда руке станет некомфортно (то есть молоко нагреется до +60 °C), парогенератор выключают. Если пена осела, пока заваривалось кофе, повторно молоко взбивать нельзя.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Классический рецепт латте.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>эспрессо (другой черный кофе) – 50-60 мл.</li>

                            <li>свежее молоко – 100-180 мл.</li>
                        </ol><br>
                        <br>

                        <h3><b>Рецепт:</b></h3>

                        <ol class="bullet">
                            <li>Взбить молоко.</li>

                            <li>Приготовить чёрный кофе.</li>

                            <li>Перелить кофе в бокал для айриш-кофе или керамическую чашку.</li>

                            <li>Тонкой струйкой влить молоко. При этом жидкости должны смешаться, а на поверхности – образоваться пенка толщиной около 1 см.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Latte\kofe-latte-v-domashnikh-usloviyakh.jpg' %}" alt="">
                            </center> 
                        </div><br>
                        <br>

                        Это – базовый рецепт латте. Его можно разнообразить, смешав кофе с 10–20 мл сладкого сиропа. Для получения ванильного вкуса молоко перед взбиванием смешивают с ванилью. Пенку разрешается слегка посыпать корицей или шоколадной стружкой.<br>
                        <br>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Виды латте.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Латте макиато</b></h3>

                        Для приготовления латте макиато используются те же ингредиенты, что и для классического латте. Точно так же заваривают чёрный кофе и взбивают молоко. Затем молоко переливают в бокал для ириш-кофе. Чёрный кофе тоненькой струйкой вливают во взбитое молоко.<br>
                        <br>

                        Удельная плотность кофе меньше, чем у молока, поэтому напиток в бокале расслаивается: молоко оседает на дно, кофе располагается над ним, сверху оказывается белоснежная пена с пятнышком кофе: в переводе с итальянского macchiato означает «запятнанный». Эффектность пятнышка можно подчеркнуть, посыпав его шоколадной стружкой.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Latte\kofe-latte-makiato-v-domashnikh-usloviyakh.jpg' %}" alt="">
                            </center> 
                        </div><br>
                        <br>

                        <h3><b>Гетто латте (ghetto latte)</b></h3>

                        Отдельно подают чёрный кофе и бокал со взбитым молоком. Гость сам подбирает пропорции ингредиентов.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Правила подачи латте.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Итальянцы пьют латте исключительно с утра. Существует два основных варианта подачи кофе латте и латте маккиато:</b></h3>

                        <ol class="bullet">
                            <li>в высоком прозрачном бокале с соломинкой. Однако некоторые гурманы утверждают, что пластмасса портит вкус латте.</li>

                            <li>в бокале с кофейной ложечкой. Если аккуратно размешать ею пенку, напиток приобретёт особенно нежную текстуру. Однако гость не нарушит этикета, если сперва при помощи ложки полакомится пенкой, а затем выпьет кофе.</li>
                        </ol><br>
                        <br>

                        Вместе с латте подают сахарницу или стикер сахара. Кофе хорошо сочетается с выпечкой, желе, муссами, десертами с маскарпоне.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Латте-арт.</h2>
            
                <div class="article__text">
                    <p>

                        Очень эффектный способ подачи кофе – латте-арт. Чёрный кофе наливают в широкую низкую керамическую чашку. Затем её наклоняют, аккуратно доливают молоко. Когда носик питчера можно будет удерживать на расстоянии 3–4 мм от поверхности кофе в чашке, молочной пеной рисуют узоры: стилизованные цветы, листья, забавных зверюшек.

                        В США с 2014 года проводят соревнования по латте-арту.

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Latte\latte-art.jpg' %}" alt="">
                                <figcaption>
                                    Лате-арт – искусство рисовать молоком на кофе
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-latte.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}