{% extends 'main/layout.html'%}
{% load static %}



{% block link %} <link rel="stylesheet" href="{% static 'main/css/Lungo.css' %}"> {% endblock %}
    

{% block title %} Lungo {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Лунго</h1>
            </div>
        </div>
        {% block slider%}

         {% endblock%}
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Lungo</h3>
                <h2 class="section__title">Лунго</h2>
                <div class="section__text">
                    <p>
                        Лунго – это чёрный кофе, приготовленный с помощью кофемашины или рожковой кофеварки. Согласно рецепту, используется столько же кофе, как и для эспрессо, но, в зависимости от способа приготовления, порция лунго больше стандартной порции эспрессо в 2–4 раза. <br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История.</h2>
            
                <div class="article__text">
                    <p>
                        Кофе лунго – изобретение XX века, появившееся на свет благодаря экспериментам с кофемашиной. Само слово lungo в переводе с итальянского означает «длинный», что как нельзя лучше описывает особенности приготовления напитка.

                        Эспрессо в качестве утреннего кофе прекрасен, но не всем хватает 30 мл напитка для того, чтобы нормально позавтракать. Можно приготовить двойную или даже тройную порцию эспрессо, но на это уйдёт в 2–3 раза больше молотого кофе, а итальянцы в тяжёлые послевоенные времена испытывали финансовые трудности и не могли себе этого позволить.

                        <p class="margin">
                            Просто добавить в эспрессо воды, получив в результате американо, для большинства итальянцев неприемлемо: слишком сильна национальная приверженность к крепкому ароматному кофе. Предприимчивые бариста всё-таки придумали, как увеличить порцию кофе, приготавливаемого с помощью кофемашины, не тратя при этом слишком много молотых зёрен.
                        </p>

                        <h3><b>Существует два способа приготовления кофе лунго, и любители кофе всего мира спорят, какой из них более правильный:</b></h3>

                        <ol class="bullet">
                            <li>увеличение порции примерно в 2 раза за счёт использования кофе крупного помола. Время приготовления – такое же, как и у эспрессо.</li>

                            <li>увеличение порции кофе в 2–4 раза за счёт удлинения срока экстракции напитка.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Lungo\prigotovlenie-lungo-v-kofemashine.jpeg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Из-за большого количества воды пенка на лунго не такая красивая и стойкая как у эспрессо
                            </figcaption>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Особенности кофе лунго.</h2>
            
                <div class="article__text">
                    <p>
                        <ol class="bullet">
                            <li>Лунго готовят с помощью кофемашины или рожковой кофеварки. Сварить напиток в джезве (турке) не получится..</li>

                            <li>Лунго содержит больше кофеина и танинов, чем классический эспрессо, из-за чего интенсивнее горчит. Поэтому для варки лунго лучше использовать смеси из чистой арабики, без добавления робусты. Следует отдавать предпочтение ароматным сортам с мягким вкусом, к примеру, кенийской или танзанийской арабике, индийскому сорту Plantation A.</li>

                            <li>Для приготовления лунго требуется кофе крупного помола. Чем мельче помол – тем больше будет горчить напиток. Если есть только кофе обычного тонкого эспрессо помола, то лунго удастся сварить лишь методом увеличения времени экстракции. Из-за длительного перегрева мелкие частицы будут попросту гореть, и у напитка появится неприятный привкус жжёных зёрен.</li>

                            <li>Одна чайная ложка или 5-граммовый стикер сахара увеличивает калорийность порции кофе на 19,35 кКал.</li>
                        </ol><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики лунго.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики лунго</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Смесь из нескольких сортов арабики с мягким вкусом, робусту добавлять не рекомендуется</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>При увеличении времени экстракции – только средняя (Полная Городская или Венская). Если время экстракции не превышает 30 секунд, то подойдёт и тёмная обжарка (Итальянская или Французская)</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Крупный или немного мельче</td>
                            </tr>

                            <tr>
                                <td>Давление в кофемашине</td>
                                <td>В эспрессо-камере – не менее 9 бар, рабочее давление помпы – не менее 15 бар</td>
                            </tr>

                            <tr>
                                <td>Температура воды в группе</td>
                                <td>Для кофе средней обжарки – от +91 до +93 °C,<br>
                                    для тёмной – от +88 до +91 °C</td>
                            </tr>


                            <tr>
                                <td>Температура готового кофе</td>
                                <td>На выходе из носика холдера — +88 ± 2 °C,<br>
                                    в чашке — +67 ± 3 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>От 25–30 до 60 секунд, в зависимости от способа приготовления</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>60–120 (вместе с пенкой)</td>
                            </tr>
                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>70–100 мг (в одной порции)</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>4</td>
                            </tr>

                            <tr>
                                <td>Калорийность порции</td>        
                                <td>2,25 кКал на порцию</td>
                            </tr>
                            <tr>
                                <td>Калорийность порции с сахаром</td>
                                <td>21,60 кКал — порция кофе с 5 г сахара (1 стикером)</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Рецепты кофе лунго.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Ингредиенты:</b></h3>
                        <ol class="bullet">
                            <li>молотый кофе – 7-9 грамм.</li>

                            <li>вода – 60-120 мл.</li>
                        </ol><br>
                        <br>

                        <h3><b>Рецепт №1 (классический).</b></h3>
                        <ol class="bullet">
                            <li>Отмерить нужное количество молотого кофе и утрамбовать его в рожке кофеварки.</li>

                            <li>Подогреть толстостенную чашку и установить её в лоток для сбора капель.</li>

                            <li>Время приготовления – 30 секунд.</li>

                            <li>Благодаря тому, что помол крупный, за 30 секунд через спрессованный молотый кофе проливается 50–60 мл воды. Частицы омывает в 2 раза больше воды, чем во время приготовления эспрессо, поэтому в чашку попадает больше кофеина и танинов.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Lungo\kofe-lungo-v-domashnix-usloviyax.jpeg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Обычно лунго подают в стаканах
                            </figcaption>
                        </div><br>
                        <br>

                        <h3><b>Рецепт №2.</b></h3>

                        При этом способе варки лунго всё делают точно так же, как и в предыдущем случае, но время экстракции увеличивают до 50–60 секунд. В чашку вымывается гораздо больше кофеина и танинов, поэтому кофе получается очень горьким. Объём порции, в зависимости от помола – 60–120 мл.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Австралийский лунго.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Австралийский бариста Мэтт Пергер предложил новый способ приготовления лунго:</b></h3>

                        <ol class="bullet">
                            <li>Сварить лунго по рецепту №1, но из молотого кофе светлой обжарки (крупного помола).</li>

                            <li>Слегка смочить бумажный фильтр для капельной кофеварки и процедить через него напиток.</li>

                            <li>В результате пенка и масла задерживаются на фильтре. Получается лунго с очень богатым ароматом, плотным телом и умеренной горечью.</li>
                        </ol><br>
                        <br>

                       

                        Если молоко не взбивают, то его добавляют в кофе тонкой струйкой, как и сливки. Если бреве подают к праздничному столу, иногда в эспрессо добавляют 5 мл сливочного ликёра.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить лунго.</h2>
            
                <div class="article__text">
                    <p>
                        Лунго принято подавать в толстостенной чашке, вместе с бокалом негазированной воды комнатной температуры, сахаром или мёдом. Вода нужна для того, чтобы освежить рецепторы перед употреблением кофе и запить его, если напиток покажется слишком горьким.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Lungo\kak-podavat-lungo.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Лунго хорошо сочетается со сладостями
                            </figcaption>
                        </div><br>
                        <br>

                        Лунго хорошо сочетается с шоколадом, выпечкой, десертами, фруктами, твёрдым сыром.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Польза и вред лунго.</h2>
            
                <div class="article__text">
                    <p>

                        Итальянцы пьют лунго только один раз в день и лишь до 11 утра. Кофе бодрит, помогает проснуться, но если его выпить позже – возможно перевозбуждение, повышенная нервозность, бессонница.<br>
                        <br>

                        Даже здоровому человеку лучше употреблять такой напиток не каждый день, а 4–5 раз в неделю. Людям с болезнями сердечно-сосудистой системы следует вообще отказаться от лунго, заменив его кофейными напитками с меньшим содержанием кофеина.<br>
                        <br>
                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-lungo.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
