{% extends 'main/layout.html'%}
{% load static %}



{% block link %} <link rel="stylesheet" href="{% static 'main/css/Macchiato.css' %}"> {% endblock %}
    

{% block title %} Macchiato {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Макиато</h1>
            </div>
        </div>
        {% block slider%}

         {% endblock%}
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Macchiato</h3>
                <h2 class="section__title">Макиато</h2>
                <div class="section__text">
                    <p>
                       Макиато – это эспрессо с небольшим количеством молочной пены. Объём молока не должен превышать ½, в крайнем случае – 3/5 объёма кофе (на 25–30 мл эспрессо – не более 15 мл молока). Все напитки, в рецептах которых молока столько же или больше, чем кофе, классическим макиато называться не могут. <br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История макиато.</h2>
            
                <div class="article__text">
                    <p>
                        
                        Кофе макиато вошёл в моду в 30-х годах XX века. В Италии как раз стал популярен эспрессо, который принято было пить в обед (с утра итальянцы любят капучино). Но многие посетители кофеен в обед заказывали эспрессо с молочной пенкой.<br>
                        <br>

                        Однако, в зависимости от пропорций и способа смешивания ингредиентов, из эспрессо и молока можно приготовить капучино или латте. Чтобы посетителям не приходилось долго объяснять, сколько именно молока добавить в кофе, бариста придумали название «макиато» (macchiato в переводе с итальянского означает «пятнистый»). На золотистой пенке эспрессо отчётливо заметно белое пятнышко молочной пены.<br>
                        <br>

                        Проблема в том, что не менее популярен латте макиато, который готовят совершенно иначе, чем классический итальянский макиато. Свою лепту в создание путаницы внесла международная сеть кофеен Starbuks, где с конца 90-х годов подают напиток под названием «карамельный макиато». Он представляет собой молочный коктейль, по способу приготовления напоминающий латте макиато.<br>
                        <br>

                        <p class="margin">
                            В результате добрая половина приведённых в Интернете рецептов кофе макиато – на самом деле рецепты латте макиато. Желая заказать настоящий макиато, нужно учитывать, что только в Италии бариста точно поймёт, чего хочет клиент. Во всех остальных странах лучше уточнить, заказав эспрессо макиато. В противном случае высока вероятность получить латте макиато или карамельный макиато.
                        </p>

                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Отличие кофе макиато от молочно-кофейных коктейлей.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Несмотря на путаницу в названиях, макиато легко отличить от капучино, латте и латте макиато:</b></h3>

                        <ol class="bullet">
                            <li>в макиато молока меньше, чем кофе, в молочных коктейлях – столько же или больше.</li>

                            <li>макиато готовят, добавляя молочную пену в эспрессо, для приготовления латте макиато кофе вливают во взбитое молоко.</li>

                            <li>в качестве кофейной основы для капучино, латте и латте макиато используют не только эспрессо, но и любой другой чёрный кофе (сваренный в турке, френч-прессе, пуровере). Макиато готовят только из эспрессо.</li>

                            <li>капучино, латте и латте макиато подают в высоких стеклянных бокалах или чашках, изредка – в больших керамических чашках. Макиато подают в обычных керамических чашках для эспрессо, а если на вынос – то в маленьких одноразовых стаканчиках.</li>
                        </ol><br>
                        <br>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Состав и пропорции кофе макиато.</h2>
            
                <div class="article__text">
                    <p>
                        Для макиато важно, чтобы у эспрессо была пышная пенка. Она получается, если кофе готовят из смеси арабики с 10–15% робусты. Больше робусты в бленде не должно быть, иначе кофе будет слишком горчить. Тем, кто не любит излишней крепости и горечи в напитке, нужно выбирать смеси из разных сортов 100%-й арабики.

                        <p class="margin">
                            Для приготовления кофейной основы необходим кофе тонкого эспрессо или немного мельче среднего помола. Предпочтительная степень обжарки – средняя, молоко не очень хорошо сочетается с кофе тёмной обжарки, такой вкус – на любителя.
                        </p>


                        Чтобы вкус кофе раскрылся как можно полнее, следует варить кофе на бутилированной воде с минерализацией 75–250 мг/л (оптимально – 150 мг/л). Вода из-под крана содержит хлор, ухудшающий вкус кофе. Кипячение не помогает, так как в процессе образуются соединения хлора. Чтобы немного улучшить качество водопроводной воды, её очищают с помощью угольного фильтра или озонатора.

                        По мнению специалистов, хорошо взбивается молоко жирностью 2,5–3,2%. Оригинальный вкус имеет макиато с топлёным молоком. Обезжиренное молоко добавлять в кофе не имеет смысла: лишние 1,5–4 калории особо на фигуру не повлияют, а взбитое молоко средней жирности значительно вкуснее. Тем, кто следит за фигурой, лучше отказаться от сахара, так как всего 5 г увеличивают калорийность порции макиато на 19,35 кКал.
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики бреве.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики бреве</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>100%-я арабика или смесь арабики с 10–15% робусты</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>Средняя (Полная Городская или Венская)</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Тонкий эспрессо или средний</td>
                            </tr>

                            <tr>
                                <td>Давление в кофемашине</td>
                                <td>В эспрессо-камере – не менее 9 бар, рабочее давление помпы – не менее 15 бар</td>
                            </tr>

                            <tr>
                                <td>Температура воды в группе</td>
                                <td>Для кофе средней обжарки – от +91 до +93 °C,<br>
                                    для тёмной – от +88 до +91 °C</td>
                            </tr>

                            <tr>
                                <td>Температура эспрессо</td>
                                <td>На выходе из носика холдера — +88 ± 2 °C,<br>
                                    в чашке — +67 ± 3 °C</td>
                            </tr>

                            <tr>
                                <td>Начальная температура молока</td>
                                <td>+4 °C</td>
                            </tr>

                            <tr>
                                <td>Температура молока после взбивания</td>
                                <td>+60 °C</td>
                            </tr>

                            <tr>
                                <td>Температура готового напитка</td>
                                <td>+64 ± 3 °C</td>
                            </tr>
                            <tr>
                                <td>Длительность приготовления</td>
                                <td>3–5 минут</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>45–65 (вместе с пенкой)</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>50–68 мг (в одной порции)</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1-2</td>
                            </tr>
                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>7</td>
                            </tr>

                            <tr>
                                <td>Калорийность</td>
                                <td>7,45–11,1 кКал на порцию (в зависимости от жирности молока)</td>
                            </tr>

                            <tr>
                                <td>Калорийность с сахаром</td>
                                <td>26,8–30,45 кКал – порция кофе с 5 г сахара (1 стикером)</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Особенности взбивания молока для макиато.</h2>
            
                <div class="article__text">
                    <p>
                        Для приготовления макиато необходимо взбить молоко в однородную пену. Лучше всего вспенивается пастеризованное молоко, охлаждённое до температуры +4 °C. Можно использовать как механический, так и автоматический капучинатор.<br>
                        <br>

                        Молоко наливают в металлический кувшин – питчер. Сопло механического капучинатора заглубляют в жидкость на 0,5 см. По мере взбивания кувшин опускают: сопло всё время должно находиться примерно на одном расстоянии от поверхности. Когда уровень пены окажется на 3–4 см ниже края питчера, парогенератор опускают на дно.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Macchiato\kak-vzbivat-moloko-dlya-kofe-makiato.jpg' %}" alt=""> 
                            </center>
                        </div><br>
                        <br>

                        Питчер поддерживают ладонью за донышко. Взбивание прекращают, когда температура молока достигнет примерно +60 °C, и металл разогреется так, что держать его станет неудобно.<br>
                        <br>

                        Чтобы спрессовать пену, питчер со взбитым молоком 2–3 раза поднимают на 30–40 см от поверхности стола и вновь ставят на неё. Затем, чтобы пена отделилась от молока, совершают питчером 2–3 вращательных движения.<br>
                        <br>
                    </p>
                </div>
            </div>

             <div class="section__header">
                <h2 class="section__title">Классический рецепт макиато.</h2>
            
                <div class="article__text">
                    <p>
                        Существует 2 варианта приготовления бреве: в одном из них молоко взбивают в пену, в другом – просто добавляют в эспрессо. Но в обоих случаях молоко и сливки должны быть разогреты до +65 °C. Молоко не нужно дополнительно подогревать, если его взбивают капучинатором. Пена должна быть такой же нежной и эластичной, как и для капучино.<br>
                        <br>

                        <h3><b>Ингредиенты:</b></h3>
                        <ol class="bullet">
                            <li>25–30 мл эспрессо (из 7 г молотых зёрен).</li>

                            <li>10–15 мл молока температурой +4 °C.</li>

                            <li>корица, тёртый шоколад, ванильный или карамельный сироп – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления.</b></h3>
                        <ol class="bullet">
                            <li>Взбивать молоко, пока оно не разогреется до +60 °C.</li>

                            <li>Сварить порцию эспрессо (налить его в тёплую керамическую чашку).</li>

                            <li>Тонкой струйкой влить молочную пенку в эспрессо. Добавить по вкусу сахар (ванильный или обычный) и карамельный сироп. Посыпать корицей или тертым шоколадом.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Macchiato\espresso-macchiato.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        Напиток с горячим молоком итальянцы называют макиато кальдо. Готовый эспрессо макиато можно украсить тёртым шоколадом, корицей, нанести несколько линий сиропом и с помощью зубочистки превратить их в рисунок в стиле латте-арт.<br>
                        <br>

                        <p class="margin">
                            Многие любят макиато на основе доппио – двойной порции эспрессо. Готовят напиток так же, как и эспрессо макиато. Количество молока, по желанию гостя, – 15–30 мл.
                        </p>

                        При аллергии на коровье молоко в макиато добавляют кокосовое, соевое, рисовое или овсяное молоко.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Виды макиато.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Макиато фредо</b></h3>

                        <h4><b>В летнюю жару итальянцы предпочитают пить макиато фредо – с холодным молоком:</b></h4>
                        <ol class="bullet">
                            <li>Сварить порцию эспрессо.</li>

                            <li>Подать эспрессо и отдельно, в маленькой керамической чашке с носиком, – холодное молоко (до 30 мл). Гость сам решает, в каких пропорциях смешивать ингредиенты.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Macchiato\macchiato-freddo.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Макиато фреддо
                            </figcaption>
                        </div><br>
                        <br>

                        <h3><b>Ристретто макиато</b></h3>

                        <h4><b>Ингредиенты:</b></h4>
                        <ol class="bullet">
                            <li>2 порции ристретто общим объёмом 30 мл (из 14 г молотого кофе).</li>

                            <li>10–15 мл молока.</li>
                        </ol><br>
                        <br>

                        Напиток смешивают так же, как и эспрессо макиато. Ристретто макиато отличается мягким, шоколадным привкусом, в нём меньше горечи, чем в обычном эспрессо макиато.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Macchiato\ristretto-macchiato.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Ристретто макиато
                            </figcaption>
                        </div><br>
                        <br>

                        <h3><b>Пикколо латте</b></h3>

                        Хотя этот кофейный напиток и называется латте, по вкусу и способу приготовления он ближе к эспрессо макиато.<br>
                        <br>

                        <h4><b>Ингредиенты:</b></h4>
                        <ol class="bullet">
                            <li>порция эспрессо.</li>

                            <li>25–30 мл молока.</li>
                        </ol><br>
                        <br>

                        Напиток готовят так же, как эспрессо макиато.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Macchiato\Piccolo-Latte-768x681.jpeg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Пикколо латте
                            </figcaption>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Состав и пропорции кофе макиато.</h2>
            
                <div class="article__text">
                    <p>
                        По поводу приготовления кортадо бариста так и не пришли к единому мнению. В Мексике так называют эспрессо макиато с топлёным молоком. В США и некоторых испаноязычных странах кортадо готовят по принципу пикколо латте: смешивают равные доли эспрессо и топлёного молока.<br>
                        <br>

                        Кортадо слаще обычного макиато, топлёное молоко придаёт напитку более нежный, сливочный привкус. Если в магазине нет топлёного молока, его можно сделать самостоятельно.<br>
                        <br>

                        <p class="margin">
                            Иногда в Интернете встречаются странные советы приготовить топлёное молоко, смешав обычное молоко со сметаной и потомив эту жидкость в духовке. Скорее всего, после тепловой обработки молоко створожится, и получится не топлёное молоко, а что-то вроде маскарпоне (для получения сливочного сыра останется жидкость только процедить). Другой «вредный» совет: в горячее молоко добавить сметану и выдержать несколько часов. По этому рецепту получится ряженка. И ряженка, и маскарпоне вкусны, но в макиато их не добавляют.
                        </p><br>
                        <br>


                        Чтобы приготовить топлёное молоко, обычное молоко жирностью 2,5–3,2% наливают в кастрюлю или миску без пластмассовых элементов и томят в духовке на небольшом огне 30–40 минут, до образования вздувшейся коричневой пенки. Затем духовку выключают и дают жидкости остыть. Топлёное молоко готово, в добавке сметаны или сливок оно не нуждается.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Macchiato\kortado-768x513.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Кортадо
                            </figcaption>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>

            <div class="section__header">
                <h2 class="section__title">Карамельный макиато.</h2>
            
                <div class="article__text">
                    <p>  

                        Карамельный макиато – вариация на тему латте макиато, ингредиенты образуют слои, поэтому напиток подают не как классический макиато, а в высоких стеклянных бокалах или чашках.<br>
                        <br>

                        <h3><b>Ингредиенты:</b></h3>
                        <ol class="bullet">
                            <li>25–30 мл эспрессо (1 порция).</li>

                            <li>175 мл молока: 25 холодного, для нижнего слоя, и 150 – для взбивания (по желанию в него добавляют 1 ч.л. ванильного сахара).</li>

                            <li>30 мл карамельного сиропа</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления.</b></h3>
                        <ol class="bullet">
                            <li>Взбить 150 мл молока.</li>

                            <li>Приготовить эспрессо.</li>

                            <li>На дно прогретого стеклянного бокала или чашки налить сироп.</li>

                            <li>Сверху налить 25 мл холодного молока и 150 мл взбитого горячего.</li>

                            <li>Тонкой струйкой влить эспрессо.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Macchiato\karamel-macchiato.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Карамельный макиато
                            </figcaption>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить эспрессо макиато.</h2>
            
                <div class="article__text">
                    <p>

                        Кофе макиато (за исключением карамельного макиато) подают в маленьких керамических чашках для эспрессо. На пенке можно сделать рисунок в стиле латте-арт. Вместе с кофе обязательно подают ложечку и сахарницу или стикер сахара. Но вкус напитка настолько нежен, что подслащивать его дополнительно обычно не требуется.<br>
                        <br>

                        <p class="margin">
                            Не рекомендуется интенсивно перемешивать эспрессо макиато. Даже если в напиток добавлен сахар, чтобы он быстрее растаял, нужно медленно сделать несколько круговых движений ложечкой, стараясь не слишком повредить пенку. Кофе макиато пьют или сразу, в несколько глотков, или при помощи ложечки съедают пенку, а затем выпивают жидкость.
                        </p>

                       Напиток гармонирует с шоколадом, сыром, ягодами и фруктами. С мясными и рыбными закусками кофе макиато сочетать нельзя.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Macchiato\kak-podavat-kofe-makiato.jpg' %}" alt=""> 
                            </center>
                        </div><br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-makiato.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
