{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href= "{% static 'main/css/Marocchino.css' %}"> {% endblock %}

{% block title %} Marocchino {% endblock %}

{% block intro%}
<!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Марочино.</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Marocchino</h3>
                <h2 class="section__title">Марочино</h2>
                <div class="article__text">
                    <p>Марочино – это кофе с молочной пеной и какао-порошком. Ближайший родственник напитка – туринский коктейль бичерин. Однако в состав последнего обязательно входит растопленный шоколад, а в марочино шоколад полностью или частично заменяют какао-порошком. Из-за маленького объёма порции марочино иногда называют мини-капучино.
                    </p>
                </div>
            </div>

        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content%}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История кофе марочино.</h2>
            
                <div class="article__text">
                    <p>
                        Пьемонт с давних пор славится великолепно выделанной овечьей или козьей кожей марочино (marocchino), из которой ещё во времена Средневековья делали перчатки и переплёты для книг. В 30-е годы XX века марочино использовали для внутренней отделки модных шляп борсалино.<br>
                        <br>

                        Фабрика Borsalino находилась в пьемонтском городе Алессандрии. Прямо напротив предприятия располагался бар Carpano. Здесь впервые приготовили бичерин с какао-порошком вместо шоколада. Цвет напитка напоминал окраску кожи марочино, посетителям это название понравилось. Вскоре в меню всех окрестных баров появилась новая строка: кофе марочино.<br>
                        <br>

                        После Второй мировой войны марочино стал популярен во всей Италии. В 2010 году на волне политкорректности итальянский сенат решил переименовать напиток (одно из значений слова marocchino – «марокканец»). Лингвисты предложили название «моретто», но оно не прижилось.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты для марочино.</h2>
            
                <div class="article__text">
                    <p>
                        В барах кофе марочино готовят на основе эспрессо. Но в домашних условиях можно сварить любой чёрный кофе. Молоко и какао скрывают как достоинства, так и недостатки кофейного вкуса Поэтому для марочино не нужны дорогие моносорта. Подойдёт как 100%-я арабика, так и покупная смесь для эспрессо, содержащая 20–30% робусты. Но в напиток с робустой придётся добавлять сахар: привкус какао-порошка усиливает кофейную горечь.<br>
                        <br>

                        Предпочтительнее средняя или тёмная обжарка, так как вкус и аромат кофейных зёрен светлой обжарки «потеряются» на фоне остальных ингредиентов напитка. Степень помола зависит от способа приготовления кофейной основы. Кофе заваривают на мягкой бутилированной воде с минерализацией в диапазоне 75–250 мг/л.<br>
                        <br>

                        Лучше всего взбивается молоко жирностью 2,5–3,2%. Для кофе марочино нужна такая же пена, как для капучино: гладкая, однородная, без крупных пузырьков.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики марочино.</h2>
            
                <div class="article__text">
                    <p>
                       <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>100%-я арабика или смесь с 5–30% робусты</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>Средняя (Венская или немного светлее) или тёмная</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Зависит от способа приготовления кофейной основы</td>
                            </tr>

                            <tr>
                                <td>Температура кофейной основы</td>
                                <td>+70 ± 5 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>5–10 минут</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>60–70 мл</td>
                            </tr>

                            <tr>
                                <td>ДСодержание кофеина (крепость)</td>
                                <td>50–68 мг (в одной порции)</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>2</td>
                            </tr>

                            <tr>
                                <td>Калорийность, кКал: </br>
                                    марочино по классическому рецепту (с какао)</td>
                                <td>29,25–31,35 кКал</td>
                            </tr>

                            <tr>
                                <td>марочино по классическому рецепту с сахаром</td>
                                <td>48,6–50,7 кКал</td>
                            </tr>

                            <tr>
                                <td>с чёрным шоколадом или нутеллой в нижнем слое</td>
                                <td>83,25–85,35 кКал</td>
                            </tr>
                        </table>

                        <p class="margin">
                            Кофе марочино не слишком калориен, но какао богат алкалоидом теобромином. Кофеин с теобромином создают значительную нагрузку на почки.
                        </p>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Классический рецепт марочино.</h2>
            
                <div class="article__text">
                    <p>
                        Марочино готовят в маленьком прозрачном бокале или чашке.<br>
                        <br>

                        <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>25–30 мл эспрессо или любого другого чёрного кофе.</li>
                            <li>20–30 мл молока.</li>
                            <li>5 г (1 чайная ложка с горкой) какао-порошка.</li>
                            <li>сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления</center></b></h3>

                        <ol class="bullet">
                            <li>В бокал высыпать половину какао-порошка.</li>
                            <li>Взбить молоко в однородную гладкую пену.</li>
                            <li>Сварить кофе, если нужно – подсластить.</li>
                            <li>Перелить кофе в бокал, перемешать.</li>
                            <li>По лезвию ножа перелить молочную пену.</li>
                            <li>Посыпать пену оставшимся какао-порошком.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Marocchino\klassicheskij-kofe-marochino.jpg" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Марочино по-швейцарски (marocchino la suissa)</h2>
            
                <div class="article__text">
                    <p>
                        Марочино готовят в маленьком прозрачном бокале или чашке.<br>
                        <br>

                        <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>25–30 мл эспрессо или любого другого чёрного кофе.</li>
                            <li>20–30 мл молока.</li>
                            <li>5 г (1 чайная ложка с горкой) какао-порошка.</li>
                            <li>10 г чёрного шоколада.</li>
                            <li>сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления</center></b></h3>

                        <ol class="bullet">
                            <li>Шоколад с 1 чайной ложкой молока растопить на водяной бане.</li>
                            <li>Вылить шоколад в бокал.</li>
                            <li>Взбить молоко.</li>
                            <li>Сварить кофе, по желанию – подсластить.</li>
                            <li>Перелить кофе поверх шоколада.</li>
                            <li>Посыпать кофе половиной какао-порошка.</li>
                            <li>По лезвию ножа или по обратной стороне ложки вылить молочную пену.</li>
                            <li>Сверху посыпать оставшимся какао-порошком.</li>
                            <li>Растопленный шоколад можно заменить шоколадным сиропом или «Нутеллой».</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Marocchino\marochino-po-shvejcarski.jpg" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить марочино</h2>
            
                <div class="article__text">
                    <p>
                        Марочино подают в стеклянных бокалах, имеющих форму перевёрнутого усечённого конуса (узкое дно и более широкое горлышко). В домашних условиях допускается подача в стеклянной чашке.<br>
                        <br>

                        Вместе с марочино гостю предлагают коктейльную соломинку и обязательно несколько бумажных салфеток. Напиток не размешивают. Его можно потягивать через трубочку или просто пить из бокала. Но в последнем варианте высока вероятность вымазать кончик носа и приобрести «усы» из какао-порошка. Поэтому и нужно много салфеток. Посетители, опасающиеся насмешек, предпочитают пользоваться коктейльной соломинкой.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Marocchino\kak-pit-kofe-marochino.jpg" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        С марочино сочетается ореховое печенье (лучше всего миндальное), орехи в глазури или шоколаде.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-marochino.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
