{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href= "{% static 'main/css/Moccachino.css' %}"> {% endblock %}

{% block title %} Moccachino {% endblock %}

{% block intro%}
<!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Моккачино</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
<!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Moccachino</h3>
                <h2 class="section__title">Мокко</h2>
                <div class="article__text">
                    <p>Мокко (моккачино) – это кофейно-молочный коктейль, похожий на латте с добавлением шоколада. Стандарта нет, поэтому изобретено немало вариантов мокко. Иногда в напиток добавляют взбитые сливки и маршмеллоу, но постоянных ингредиентов всегда три: кофе, молоко и шоколад. Кофе в мокачино должно быть не более 1/3 от объёма напитка. <br>
                    <br>
                    </p>
                </div>
            </div>

        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}



{% block content%}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История кофе мокко.</h2>
            
                <div class="article__text">
                    <p>
                        В XV–XVI веках, когда ещё не были заложены плантации в Новом Свете, Йемен вёл монопольную торговлю кофе. Арабика, которую выращивали в этой стране, обладала шоколадным привкусом. Йеменский кофе везли в Турцию через порт Моха (al-Mocha). Со временем и сорт йеменской арабики стали называть Мокко. Этот сорт до сих пор считается одним из лучших.<br>
                        <br>

                        <p class="margin">
                            Жители США известны своим пристрастием к кофейно-молочным коктейлям. В 80-х годах XX века неизвестный бариста приготовил нечто среднее между латте и капучино, но с большим количеством шоколада. По аналогии с капучино напиток окрестили моккачино (mochaccino, mochachino, устоявшегося написания пока нет). Сладкоежкам всего мира полюбился новый десертный коктейль. Его название иногда сокращают до мокко или мокка (mocha).
                        </p>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты.</h2>
            
                <div class="article__text">
                    <p>
                        Шоколад и молочные продукты скрывают тонкие ноты во вкусе и аромате кофе, поэтому не имеет смысла тратить на моккачино дорогие моносорта арабики. Сладость шоколада доминирует не только над нежной кислинкой арабики, но и над горечью робусты. Кофейную основу можно сварить из любой смеси: недорогой 100%-й арабики или бленда с робустой.<br>
                        <br>

                        Предпочтительнее средняя или тёмная обжарка: вкус зёрен светлой обжарки «потеряется» на фоне молока и шоколада. Помол зависит от способа приготовления кофейной основы. В кафе мокко готовят из двойного эспрессо, но дома разрешается использовать любой чёрный кофе. Правда, с растворимым кофе моккачино получится далеко не таким вкусным, как с натуральным.<br>
                        <br>

                        Кофейную основу заваривают на мягкой некипячёной воде с минерализацией 75–250 мг/л.<br>
                        <br>

                        Для приготовления кофе мокко подходит любой шоколад. Разница в калорийности между чёрным и молочным шоколадом невелика, а напиток в целом настолько калориен, что не имеет смысла себя ограничивать, отказываясь от чёрного шоколада в пользу молочного.<br>
                        <br>

                        В некоторых рецептах мокко молоко взбивают, в других – нет. Если по рецепту молоко требуется взбить, лучше, чтобы оно имело жирность в пределах 2,5–3,2%.<br>
                        <br>

                        Порой мокко украшают взбитыми сливками. Можно использовать натуральные сливки любой жирности или растительные из баллончика.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики кофе мокко.</h2>
            
                <div class="article__text">
                    <p>            
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>100%-я арабика или смесь арабики с робустой</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>От средней до тёмной</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Зависит от способа заваривания</td>
                            </tr>

                            <tr>
                                <td>Температура готового кофе</td>
                                <td>15–20 минут (в зависимости от времени охлаждения)</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления, секунд</td>
                                <td>25–30, в зависимости от модели кофеварки</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>160–170</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>100–136 мг в одной порции</td>
                            </tr>
                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>2</td>
                            </tr>

                            <tr>
                                <td>Калорийность</td>
                                <td>354,5–358 кКал на порцию</td>
                            </tr>

                            <tr>
                                <td>Калорийность с сахаром (5 г.)</td>
                                <td>373,85–377,35 кКал</td>
                            </tr>

                            <tr>
                                <td>Калорийность с сахаром и сливками: <br>
                                    сливки 10% жирности</td>
                                <td>397,45–400,95 кКал</td>
                            </tr>

                            <tr>
                                <td>сливки 20% жирности</td>
                                <td>414,85–418,35 кКал</td>
                            </tr>

                            <tr>
                                <td> сливки 30% жирности</td>
                                <td>432,05–435,55 кКал</td>
                            </tr>
                        </table>

                        Моккачино состоит из нескольких слоёв и выглядит очень эффектно, поэтому напиток готовят в высоких прозрачных бокалах. Если моккачино тёплый, бокал нагревают, для айс мокко – охлаждают.
                    </p>                
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Классический рецепт мокко (моккачино).</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>50 мл чёрного кофе (или двойной эспрессо).</li>

                            <li>50 мл молока +1 ст. л. для того, чтобы растопить шоколад.</li>

                            <li>60 г шоколада.</li>
                            <li>15–20 г взбитых сливок (по желанию).</li>
                            <li>сахар – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления</center></b></h3>

                        <ol class="bullet">
                            <li>Измельчить на тёрке 10 г шоколада.</li>

                            <li>Растопить на водяной бане 50 г шоколада с 1 ст. л. молока.</li>

                            <li>Вылить растопленный шоколад в бокал.</li>

                            <li>Сварить чёрный кофе (если нужно – подсластить) и перелить его в бокал. Не размешивать.</li>

                            <li>Взбить холодное молоко капучинатором (должно нагреться до +65 °C).</li>

                            <li>По лезвию ножа вылить молоко поверх кофе.</li>

                            <li>Если сливки натуральные – взбить их (с сахаром) в крутую пену.</li>

                            <li>Выложить сливки поверх молока.</li>

                            <li>Посыпать тёртым шоколадом.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Mocha\kofe-mokkachino-v-domashnix-usloviyax.jpg" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        В этом случае слой кофе будет чётко отделён от слоя молока. Сливки добавлять не обязательно, хотя с ними напиток вкуснее. Растопленный шоколад можно заменить шоколадным сиропом.

                         <p class="margin">
                            Существует и другой вариант приготовления кофе мокко: поверх шоколада выливают взбитое молоко, затем – тонкой струйкой льют кофе, который смешивается с молоком и всё равно контрастирует по цвету с белоснежной молочной пенкой.
                        </p>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Айс мокко.</h2>

                <div class="article__text">
                    <p>
                        <h3><b><center>Для приготовления айс мокко используют те же ингредиенты, что и в основном рецепте. Отличий в приготовлении только два:</center></b></h3><br>
                        <br>

                        <ol class="bullet">
                            <li>молоко взбивают не капучинатором, а блендером, чтобы оно не нагрелось.</li>

                            <li>после приготовления кофе его слегка охлаждают, затем переливают в шейкер, заполненный кубиками льда и встряхивают 20–40 секунд (лёд не должен интенсивно таять). Кофе отцеживают, затем выливают поверх растопленного шоколада.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Mocha\iced-mokkachino.png" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить мокко.</h2>

                <div class="article__text">
                    <p>
                        Мокко подают в высоком стеклянном бокале или чашке для айриш кофе. Вместе с напитком гостю предлагают коктейльную соломинку и ложечку. Кофе не перемешивают, ложечка нужна для того, чтобы съесть взбитые сливки. Моккачино нужно медленно потягивать, периодически поднимая и опуская соломинку через все слои.<br>
                        <br>

                        С кофе мокко хорошо сочетаются фрукты и ягоды (клубника, малина, черника). Напиток калориен, поэтому рекомендуется употреблять не более 1–2 порций в неделю.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="..\images\coffee_sort\Mocha\kak-pit-mokkachino.jpg" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-mokko-mokkachino.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>

{% endblock %}



    