{% extends 'main/layout.html'%}
{% load static %}

{% block link %} <link rel="stylesheet" href= "{% static 'main/css/Raf_coffee.css' %}"> {% endblock %}

{% block title %} Raf Coffee {% endblock %}

{% block intro%}
<!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Раф кофе.</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
   <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Raf coffee</h3>
                <h2 class="section__title">Раф кофе</h2>
                <div class="article__text">
                    <p>Раф кофе – это взбитая в капучинаторе смесь из чёрного кофе и сливок, приправленная ванильным сахаром. Чтобы приготовить любые другие сливочно-кофейные напитки, уже взбитые сливки выкладывают поверх кофе. Главное отличие рафа – в том, что кофе и сливки сначала соединяют, а затем взбивают в однородную гладкую пену.
                    </p>
                </div>
            </div>

        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

	
{% block content%}
     <section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История раф кофе.</h2>
            
                <div class="article__text">
                    <p>
                        Кофе раф – изобретение трёх московских бариста: Глеба Невейкина, Артёма Берестова и Галины Самохиной, – которые в 1996–1997 гг. работали в московской кофейне Coffee Bean. В этом заведении установили одну из первых кофемашин для заваривания эспрессо, и кофеманы со всей столицы съезжались сюда, чтобы попробовать кофе по непривычному рецепту.<br>
                        <br>

                        Одним из завсегдатаев кофейни был некий иностранец по имени Рафаэль. Но ему не понравился фирменный кофе, и бариста долго ломали голову, как угодить привередливому гостю. Выяснилось, что Рафаэль любит фильтр-кофе с молоком и сливками. Однажды бариста не просто смешали напиток, а взбили его в капучинаторе. Получился сдобренный ванилью кофе со сливками, состоящий из сплошной пенки и по консистенции похожий на растаявший пломбир. Напиток пришёлся посетителю по вкусу, и с тех пор он заказывал исключительно такой кофе.<br>
                        <br>

                        Другие гости заведения вскоре заметили, что в то время как им подают обычный, хотя и вкусный, капучино, для Рафаэля готовят что-то очень нежное и пышное. Всё чаще посетители стали заказывать кофе «как у Рафа», впоследствии название напитка сократилось до раф кофе (или просто раф). Сначала он вошёл в моду в Москве, затем стал популярным по всей России и СНГ, а дальше покорил весь мир.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Особенности приготовление раф кофе.</h2>
            
                <div class="article__text">
                    <p>
                        Первоначально кофе раф готовили на основе эспрессо. Но в домашнем варианте разрешается использовать любой чёрный кофе: заваренный в турке, френч-прессе, пуровере или даже в чашке.<br>
                        <br>

                        <p class="margin">
                            Главное – в кофе не должно быть частиц гущи. Поэтому если нельзя сварить эспрессо, то основу для рафа заваривают из зёрен среднего или крупного помола, затем процеживают.
                        </p>

                        Чтобы приготовить раф кофе, не нужны ни моносорта, ни дорогие смеси: сливки и ваниль скрадывают тонкие оттенки вкуса и аромата элитных блендов. Для сливочно-кофейных напитков подходят смеси как и из 100%-й арабики, так и с добавлением небольшого количества (до 20%) робусты. Но чем больше робусты в бленде – тем явственнее будет ощущаться горчинка.<br>
                        <br>

                        Предпочтительнее всего средняя (Полная Городская или Венская) степень обжарки. Если как основу взять кофе из зёрен светлой обжарки, кофейный аромат и привкус в рафе будут ощущаться слишком слабо. Кофе из зёрен тёмной обжарки горчит.<br>
                        <br>

                        Для взбивания с кофе лучше всего подходят сливки жирностью 10–15%. Более жирные сливки предварительно разбавляют молоком.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики раф кофе.</h2>
                 <div class="article__text">
                    <p>

                        <h3><b><center>Характеристики раф кофе</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Смесь из нескольких сортов арабики, возможна добавка до 20% робусты</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>Средняя (Полная Городская или Венская), но для любителей допустима и тёмная</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Для эспрессо – тонкий эспрессо или средний помол; <br>
                                    для кофейной основы, приготовленной другим способом, – не мельче среднего</td>
                            </tr>

                            <tr>
                                <td>Температура готового кофе</td>
                                <td>+55 ± 5 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>5–15 минут</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>125–180</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>50–68 мг (в одной порции)</td>
                            </tr>
                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>2</td>
                            </tr>

                            <tr>
                                <td>Калорийность</td>
                                <td>190 кКал в порции</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Взбивание раф кофе.</h2>
            
                <div class="article__text">
                    <p>
                        Чтобы сделать раф кофе как можно более пышным, используют капучинатор кофемашины. В этом случае эспрессо смешивают с холодными сливками: кофе всё равно нагреется при взбивании паром. Но есть одна тонкость: кофе со сливками можно взбивать только механическим капучинатором, так как автоматический забивается.<br>
                        <br>

                        Дома раф взбивают капучинатором, блендером для коктейлей или обычным венчиком. Напиток всё равно получается вкусным, но такой гладкой и однородной пены, как с капучинатором кофемашины, добиться сложно. В домашних условиях сливки предварительно разогревают до температуры примерно +60 °C, иначе раф получится прохладным.<br>
                        <br>
                    </p>    
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Классический рецепт раф кофе.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>черный кофе (эспрессо или другой) – 30-50 мл.</li>

                            <li>сливки (жирность 10-15%) – 100 мл.</li>

                            <li>сахар – 5 грамм.</li>

                            <li>ванильный сахар – 5 грамм.</li>
                            
                            <li>тертый шоколад – по вкусу (для украшения).</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления</center></b></h3>

                        <ol class="bullet">
                            <li>Сварить чёрный кофе любым способом. Проследить, чтобы не осталось частиц. При необходимости профильтровать.</li>

                            <li>Если кофемашины нет, разогреть сливки до температуры около +60 °C.</li>

                            <li>Смешать кофе со сливками, обычным и ванильным сахаром, взбить до образования однородной пены капучинатором, блендером или просто венчиком (используется в домашних условиях).</li>

                            <li>Перелить напиток в чашку или высокий бокал.</li>

                            <li>По желанию украсить готовый раф кофе тёртым шоколадом. Можно подавать с трубочкой.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Raf_coffee\raf_kofe.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>

                        Пропорции ингредиентов рафа можно менять. К примеру, напиток по классическому рецепту получается достаточно сладким. Чтобы насладиться бархатистостью сливочного вкуса, количество сахара лучше уменьшить.<br>
                        <br>

                        Если вместо ванильного сахара есть ванильный порошок, его добавляют на кончике ножа, иначе раф будет горчить. Также разрешается заменять ванильный сахар ванильным ликёром или сиропом (10–15 мл на порцию).<br>
                        <br>

                        Те, кто не любит ваниль, вместо неё используют корицу. В раф часто добавляют сиропы, молочные, фруктовые или ягодные ликёры, коньяк.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Виды раф кофе.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Лавандовый раф.</center></b></h3>

                        Напиток обладает успокаивающим действием.<br>
                        <br>

                        <h4><b>Ингредиенты:</b></h4>

                        <ol class="bullet">
                            <li>ч25–50 мл чёрного кофе.</li>

                            <li>100 мл сливок.</li>

                            <li>5 г сахара.</li>

                            <li>½ чайной ложки высушенных цветков лаванды.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления</center></b></h3>

                        <ol class="bullet">
                            <li>Смолоть в пыль на кофемолке цветки лаванды. Иногда встречаются рекомендации предварительно смешать их с сахаром. Делать этого ни в коем случае нельзя: при нагревании сахар плавится, налипает на винт кофемолки, из-за чего устройство ломается.</li>

                            <li>Приготовить чёрный кофе.</li>

                            <li>Смешать все ингредиенты и взбить.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Raf_coffee\kofe-lavandovyj-raf-768x546.jpg' %}" alt="">
                            </center> 
                        </div><br>
                        <br>

                        <h3><b><center>Медовый раф</center></b></h3>
                        
                        Готовят по классическому рецепту, но обычный и ванильный сахар заменяют 1 чайной ложкой мёда. Готовый медовый раф посыпают молотой корицей.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Raf_coffee\kofe-medovyj-raf-1-768x432.jpg' %}" alt="">
                            </center> 
                        </div><br>
                        <br>

                        <h3><b><center>Шоколадный раф</center></b></h3>

                        <h4><b>Ингредиенты:</b></h4>

                        <ol class="bullet">
                            <li>25–50 мл чёрного кофе.</li>

                            <li>100 мл сливок.</li>

                            <li>50 г чёрного или молочного шоколада.</li>

                            <li>ванильный сахар или молотая корица – по вкусу.</li>

                            <li>долька апельсина – для украшения.</li>
                        </ol><br>
                        <br>

                        <h4><b><center>Технология приготовления</center></b></h4>

                        <ol class="bullet">
                            <li>Растопить шоколад (на водяной бане или в микроволновой печи, используя функцию «разморозка»).</li>

                            <li>Сварить кофе.</li>

                            <li>Смешать все ингредиенты и взбить.</li>

                            <li>Подавать с долькой апельсина, посыпанной корицей.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Raf_coffee\shokoladnyj-raf-768x512.jpg' %}" alt="">
                                <figcaption>
                                    Шоколадный
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <h3><b><center>Апельсиновый раф.</center></b></h3>

                        Раф готовят по классическому рецепту, но перед взбиванием добавляют 2 чайных ложки апельсинового сока. Количество сахара желательно уменьшить вдвое.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Raf_coffee\apelsinovyj-raf.jpg' %}" alt="">
                                <figcaption>
                                    Апельсиновый
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <h3><b><center>Цитрусовый раф.</center></b></h3>

                        В классическом рецепте 5 г обычного сахара заменяют на 5 г апельсинового (ванильный сахар добавляют по желанию). Готовый напиток украшают ломтиком лимона, посыпанным сахаром.<br>
                        <br>

                        Если нет апельсинового сахара, его легко приготовить самостоятельно. Для этого 1 апельсин ошпаривают кипятком, затем цедру измельчают на тёрке. Цедру смешивают со 125 г сахара и 1 ч. л. воды, перемалывают блендером (на минимальной скорости, чтобы сахар не расплавился).<br>
                        <br>

                        Полученную массу выкладывают на противень и сушат, но в кофе можно добавлять и в свежем виде. Особенно вкусен раф с апельсиновым сахаром на основе тростникового.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Raf_coffee\citrusovyj-raf.jpg' %}" alt="">
                                <figcaption>
                                    Цитрусовый
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>
                        
                        <h3><b><center>Арахисовый раф (сникерс-раф)</center></b></h3>

                        <h4><b>Ингредиенты:</b></h4>

                        <ol class="bullet">
                            <li>25–50 мл чёрного кофе.</li>

                            <li>100 г молока (можно 100 г сливок, или 50 г молока и 50 г сливок, но напиток получится слишком калорийным).</li>

                            <li>1 ст. л. арахисовой пасты.</li>

                            <li>тростниковый сахар или карамельный сироп – по вкусу.</li>

                            <li>немного воды (для добавления в пасту).</li>
                        </ol><br>
                        <br>

                        <h4><b><center>Технология приготовления</center></b></h4>

                        <ol class="bullet">
                            <li>Арахисовую пасту смешать с небольшим количеством воды и растереть до консистенции густой сметаны.</li>

                            <li>Сварить чёрный кофе.</li>

                            <li>Подогреть молоко.</li>

                            <li>Смешать все ингредиенты и взбить.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Raf_coffee\araxisovyj-raf-768x451.jpg' %}" alt="">
                                <figcaption>
                                    Арахисовый
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        <h3><b><center>Раф чиз кофе</center></b></h3>

                        Оригинальный вариант сочетания кофе с сыром и сливками.<br>

                        <h4><b>Ингредиенты:</b></h4>

                        <ol class="bullet">
                            <li>25–50 мл чёрного кофе.</li>

                            <li>100 мл сливок.</li>

                            <li>50 г мягкого сливочного сыра (маскарпоне, рикотты, плавленного.</li>

                            <li>щепотка соли.</li>

                            <li>5 г сахара.</li>

                            <li>пряности (имбирь, корица, мускатный орех, чёрный или душистый перец, паприка) – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h4><b><center>Технология приготовления</center></b></h4>

                        <ol class="bullet">
                            <li>Смешать сыр со сливками и взбить в блендере до однородной массы.</li>

                            <li>Сварить кофе с пряностями.</li>

                            <li>Смешать кофе с сырно-сливочной массой, солью и сахаром, взбить.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Raf_coffee\raf-chiz-kofe-768x677.jpg' %}" alt="">
                                <figcaption>
                                    Раф чиз кофе
                                </figcaption>
                            </center> 
                        </div><br>
                        <br>

                        
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить раф кофе.</h2>
            
                <div class="article__text">
                    <p>
                        Раф обычно подают в высоком стеклянном бокале или чашке для айриш кофе. Иногда напиток наливают в низкую широкую чашку (как латте макиато) и сверху украшают рисунком, выполненным корицей или тёртым шоколадом. Однако в любом случае перед тем, как налить раф, сосуд прогревают. Напиток всегда подают с ложечкой.<br>
                        <br>

                         <p class="margin">
                            Раф хорошо сочетается с клубникой, лёгкими ягодными желе, муссами, десертами на основе маскарпоне.
                        </p>

                        Напиток очень калориен. Поэтому не рекомендуется баловать себя рафом слишком часто и выпивать более 1–2 порций в день. Тем, кто ведёт малоподвижный образ жизни, дневной рацион нужно уменьшить на соответствующее количество калорий (на 200–400 кКал), а лучше – совсем отказаться от ужина.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-raf-kofe.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>    
                </div>
            </div>
{% endblock %}
   

