{% extends 'main/layout.html'%}
{% load static %}



{% block link %} <link rel="stylesheet" href="{% static 'main/css/Ristretto.css' %}"> {% endblock %}
    

{% block title %} Ristretto {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Ристретто</h1>
            </div>
        </div>
        {% block slider%}

         {% endblock%}
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Ristretto</h3>
                <h2 class="section__title">Ристретто</h2>
                <div class="section__text">
                    <p>
                        Ристретто – это сваренный в кофемашине чёрный кофе. Его готовят так же, как и эспрессо, но время экстракции составляет 12–15 (иногда до 20) секунд.<br>
                        <br>

                        <b>Особенности кофе ристретто.</b> При заваривании классического эспрессо вплоть до 16–17-й секунды из молотого кофе вымывается большая часть эфирных масел и соединений, формирующих богатство вкуса напитка: кислинку, шоколадные, цитрусовые, цветочные оттенки. Кофеина в это время в чашку попадает очень мало.<br>
                        <br>

                        Начиная с 17-й секунды из кофейной гущи интенсивно выделяется кофеин, придающие напитку горечь танины и продукты разложения хлорогеновой кислоты. Неизвестно, кто первый решил провести эксперимент и посмотреть, что получится, если остановить процесс экстракции до того, как в чашку хлынет горечь, но результат превзошёл все ожидания.<br>
                        <br>

                        <p class="margin">
                            Приготовленный таким образом напиток обладает необычным, насыщенным вкусом: почти все эфирные масла, предназначенные для порции эспрессо объёмом 25–28 мл, растворяются в намного меньшем количестве воды. Этот кофе назвали ристретто: ristretto в переводе с итальянского означает «узкий». Иногда напиток именуют «корто» (corto – укороченный).
                        </p><br>
                        <br>

                        Ристретто вошёл в моду в 80-х годах XX века. Один из ярых приверженцев напитка – известный американский эксперт Дэвид Шомер, владелец кафе Espresso Vivace в Сиэтле. По утверждению Шомера, правильно приготовленный ристретто – это «лучший из кофейных экстрактов. Кофе представляет собой самую ароматную часть порции эспрессо, густую, как мёд, и умещающуюся в одном глотке».<br>
                        <br>

                        Однако проблема в том, что до сих пор нет стандартного рецепта ристретто. В каждом кафе его варят по-своему, и существует как минимум два принципиально разных способа приготовления напитка.<br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">Содержание кофеина в ристретто.</h2>
            
                <div class="article__text">
                    <p>
                        <p class="margin">
                            Из-за повышенной концентрации эфирных масел ристретто кажется крепче эспрессо. Это впечатление обманчиво: на самом деле в ристретто кофеина меньше. Поскольку экстракция кофе прекращается до того, как из гущи начинает интенсивно выделяться кофеин, то в ристретто его намного меньше, чем в половине порции эспрессо.
                        </p>

                        Сколько именно кофеина в ристретто – зависит от степени помола зёрен. Чем мельче помол, тем дольше время экстракции и тем больше кофеина вымывается из кофейной гущи. Но в любом случае в двух порциях ристретто кофеина меньше, чем в одном эспрессо. Тем, кому крепкий кофе противопоказан, лучше остановить выбор на ристретто, сваренном по классическому рецепту.
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты для ристретто.</h2>
            
                <div class="article__text">
                    <p>
                        Вкус ристретто, как никакого другого вида кофе, зависит от сорта зёрен. Из качественных зёрен действительно можно сварить потрясающе вкусный ристретто. Но если неверно выбрать бленд – получится нечто похожее на смолу и неприятно пахнущее.

                        Выбирая кофейную смесь для ристретто, следует учитывать, что в этом напитке никакие огрехи вкуса и запаха скрыть нельзя. Наилучший ристретто получается из качественной 100%-й арабики. Благодаря способу приготовления наиболее полно раскрывается вкус дорогих моносортов.

                        сли ристретто собираются готовить по классической технологии, когда время экстракции занимает не более 15 секунд, подойдёт тонкий эспрессо или немного более крупный помол (но мельче среднего).

                        Но есть и другой рецепт, согласно которому зёрна мелят тоньше, чем для эспрессо. Из-за этого увеличивается суммарная площадь поверхностей крупинок молотого кофе, омываемых водой. Вода медленнее проходит сквозь гущу, и для того, чтобы получить 15 мл кофе, время экстракции увеличивают до 18–20 секунд.

                        В Северной Италии заваривают ристретто из кофейных зёрен средней обжарки. На Юге предпочитают тёмную обжарку: в таком кофе почти нет кислинки, но хорошо ощущаются шоколадные тона.

                        Для ристретто нужна бутилированная вода с минерализацией 75–250 мг/л. Хлорированная вода из-под крана способна значительно испортить вкус напитка.

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Ristretto\kak-sdelat-ristretto.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Чтобы сделать ристретто, нужна кофемашина для эспрессо
                            </figcaption>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Содержание кофеина в ристретто.</h2>
            
                <div class="article__text">
                    <p>
                        Для приготовления ристретто требуется эспрессо-кофемашина. Напиток нельзя сварить в турке, пуровере, френч-прессе или ещё каким-либо альтернативным способом.<br>
                        <br>

                        <p class="margin">
                            Настраивая кофеварку, нужно проследить, чтобы кофе лился максимально тонкой, но непрерывной струйкой. Пенка должна быть ровной, золотисто-орехового цвета, без белых включений.
                        </p>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики ристретто.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики ристретто</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>100%-я арабика</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>От средней (Полной Городской или Венской) до тёмной (Итальянской или Французской).</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Тонкий эспрессо, немного крупнее или мельче (но не «в пыль»)</td>
                            </tr>

                            <tr>
                                <td>Давление в кофемашине</td>
                                <td>В эспрессо-камере – не менее 9 бар, рабочее давление помпы – не менее 15 бар</td>
                            </tr>

                            <tr>
                                <td>Температура воды в группе</td>
                                <td>Для кофе средней обжарки – от +91 до +93 °C,<br>
                                    для тёмной – от +88 до +91 °C</td>
                            </tr>


                            <tr>
                                <td>Температура готового кофе</td>
                                <td>На выходе из носика холдера — +88 ± 2 °C,<br>
                                    в чашке — +67 ± 3 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>12–15, при очень тонком помоле – до 20</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>15–18</td>
                            </tr>
                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>Зависит от способа приготовления, но не более 25 мг в одной порции</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1-6</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>10</td>
                            </tr>

                            <tr>
                                <td>Калорийность порции</td>        
                                <td>9 кКал на 100 мл, 1,35 кКал на порцию</td>
                            </tr>
                        </table>

                        В ристретто сахар не добавляют, но если очень хочется, следует учитывать, что 5 г (чайная ложка или стикер) увеличивают калорийность напитка на 19,35 кКал.<br>
                        <br>

                        Зёрна отмеряют и мелят непосредственно перед тем, как приготовить ристретто. Необходимо заранее прогреть дно чашки для сбора кофе. Полностью её греть не рекомендуется: если край будет слишком горячим, человек может обжечь губы и не насладиться вкусом напитка.<br>
                        <br>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Классический рецепт ристретто.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Ингредиенты:</b></h3>
                        <ol class="bullet">
                            <li>7 г кофе тонкого эспрессо или немного более крупного помола.</li>

                            <li>15 мл воды.</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления.</b></h3>
                        <ol class="bullet">
                            <li>Засыпать кофе в холдер и спрессовать темпером.</li>

                            <li>Установить холдер в кофеварку.</li>

                            <li>Установить в лоток для сбора капель чашку с подогретым дном.</li>

                            <li>Время приготовления – 12–15 секунд.</li>
                        </ol><br>
                        <br>

                        Ристретто получается густым, ароматным, но кофеина в нём очень мало. Некоторые бариста даже считают, что таким напитком можно заменить декофеинизированный кофе.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Ristretto\kofe-ristretto-v-domashnix-usloviyax-768x512.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Классический ристретто
                            </figcaption>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Альтернативный рецепт ристретто.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>7 г кофе помола более мелкого, чем тонкий эспрессо.</li>

                            <li>15 мл воды.</li>
                        </ol><br>
                        <br>

                       

                        При этом методе экстракция длится 15–18, иногда до 20 секунд, пока в чашке не соберётся 15 мл кофе. Так можно сделать ристретто более крепким, чем в классическом варианте. Но важно проследить, чтобы не забились фильтры кофеварки.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Двойной ристретто.</h2>
            
                <div class="article__text">
                    <p>
                        Напиток готовят из 14 г молотого кофе и 30 мл воды. Время экстракции – как и в основном рецепте.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Ristretto\dvojnoj-ristretto.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Двойной ристретто
                            </figcaption>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Шоколадный ристретто.</h2>
            
                <div class="article__text">
                    <p>

                        <h3><b>Ингредиенты:</b></h3>
                        <ol class="bullet">
                            <li>двойной ристретто (30 мл).</li>

                            <li>30 мл молока.</li>

                            <li>2–3 дольки чёрного шоколада.</li>

                            <li>взбитые сливки и шоколадный соус – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления.</b></h3>
                        <ol class="bullet">
                            <li>Измельчить шоколад.</li>

                            <li>На водяной бане растворить его в молоке.</li>

                            <li>Слегка взбить сливки (как для айриш кофе: не до крутых пиков, а так, чтобы пена оставалась жидкой).</li>

                            <li>Сварить двойной ристретто.</li>

                            <li>Влить молоко с растворённым в нём шоколадом в кофе.</li>

                            <li>По лезвию ножа в чашку вылить сливки, украсить шоколадным соусом.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Ristretto\shokoladnyj-ristretto-768x669.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Шоколадный ристретто
                            </figcaption>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Коктейль «Бейби Пеппино Ристретто».</h2>
            
                <div class="article__text">
                    <p>

                        <h3><b>Ингредиенты:</b></h3>
                        <ol class="bullet">
                            <li>порция ристретто (15 мл).</li>

                            <li>20 мл текилы.</li>

                            <li>10 мл ликёра Kahlua.</li>

                            <li>сливки, тростниковый сахар, тёртый шоколад – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления.</b></h3>
                        <ol class="bullet">
                            <li>На водяной бане подогреть текилу и растворить в ней сахар.</li>

                            <li>Смешать с ликёром, перелить в нагретый стеклянный стакан.</li>

                            <li>Взбить сливки до состояния однородной пены (без крутых пиков, она должна литься).</li>

                            <li>Сварить ристретто.</li>

                            <li>Вылить кофе в алкогольную смесь.</li>

                            <li>Сверху по лезвию ножа налить слой сливок.</li>

                            <li>Украсить сливки тёртым шоколадом.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Ristretto\koktejl-bejbi-peppino-ristretto-768x432.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Beby Pepino Ristretto
                            </figcaption>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить ристретто.</h2>
            
                <div class="article__text">
                    <p>

                        Ристретто подают в фарфоровых, керамических кофейных чашечках или в маленьких стеклянных стаканах без ручек. Вместе с кофе гостю обязательно предлагают стакан воды комнатной температуры. Ложечка и сахар не нужны: напиток не подслащивают и не перемешивают.<br>
                        <br>

                        Ристретто пьют только после еды. Перед тем, как выпить кофе, следует сделать глоток воды, чтобы очистить рецепторы. Запивают ристретто только в том случае, если кофе не понравился и хочется избавиться от неприятного вкуса во рту. Напиток не принято закусывать.<br>
                        <br>
                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-ristretto.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
