{% extends 'main/layout.html'%}
{% load static %}


{% block link %} <link rel="stylesheet" href="{% static 'main/css/Romano.css' %}"> {% endblock %}
    

{% block title %} Romano {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Романо.</h1>
            </div>
        </div>
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Romano</h3>
                <h2 class="section__title">Романо</h2>
                <div class="article__text">
                    <p>Кофе романо – это эспрессо с лимонным соком. К разным видам кофейных напитков иногда подают ломтики лимона, но только для романо лимонный сок – обязательный ингредиент.
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}


    {% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История кофе романо.</h2>
            
                <div class="article__text">
                    <p>
                        Некоторые историки считают, что кофе романо начали готовить сразу после Второй мировой войны. Итальянские предприятия лежали в руинах, в Рим стекались толпы беженцев. Из-за перебоев с водой и невозможности её качественно очистить в городе в любой момент могли начаться эпидемии.<br>
                        <br>

                        Лимонный сок, богатый витамином C, был единственно доступным профилактическим средством. Его добавляли в первые блюда, в воду для питья и, конечно же, в обожаемый итальянцами кофе эспрессо. Позже, когда страна немного оправилась от войны, у жителей Рима осталась привычка к кофе с лимоном. Напиток получил название caffe romano (эспрессо романо, кофе по-римски, римский кофе).<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты для романо.</h2>
            
                <div class="article__text">
                    <p>
                        Кофе романо – это почти всегда эспрессо. В домашних условиях напиток порой готовят на основе чёрного кофе, сваренного в турке или гейзерной кофеварке, но романо без пенки теряет половину очарования (и аромата, так как пенка препятствует выветриванию запаха кофе).<br>
                        <br>

                        Для заваривания кофейной основы подойдёт любая смесь для эспрессо. Конечно, наилучший напиток получается из свежеизмельчённых зёрен, но можно использовать и готовый молотый кофе средней или тёмной обжарки. Кофейную основу заваривают на мягкой бутилированной воде с минерализацией 75–250 мг/л.<br>
                        <br>

                        

                        Туристы, побывавшие в Италии в сезон сбора урожая, с удивлением обнаруживают, что местные лимоны не похожи на те, что продаются у нас. Лимоны в наших магазинах мельче, кислее и покрыты специальным воском, который месяцами защищает цитрусовые от гниения.<br>
                        <br>

                        <p class="margin">
                            Поскольку для подачи кофе романо нужна лимонная цедра, перед тем, как её срезать, фрукт рекомендуется хорошо помыть со щёточкой, затем ошпарить кипятком. У этой процедуры есть и дополнительный плюс: цедра после ошпаривания становится мягче и ароматнее.
                        </p>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики кофе романо.</h2>
                 <div class="article__text">
                    <p>

                        <h3><b><center>Характеристики кофе романо</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Смесь из нескольких сортов арабики, возможна добавка 15–20% робусты</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>От средней до тёмной</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Тонкий эспрессо или средний</td>
                            </tr>

                            <tr>
                                <td>Давление в кофемашине</td>
                                <td>В эспрессо-камере – не менее 9 бар, рабочее давление помпы – не менее 15 бар</td>
                            </tr>

                            <tr>
                                <td>Температура воды в группе</td>
                                <td>Для кофе средней обжарки – от +91 до +93 °C,<br>
                                    для тёмной – от +88 до +91 °C</td>
                            </tr>

                            <tr>
                                <td>Температура кофейной основы</td>
                                <td>На выходе из носика холдера — +88 ± 2 °C,<br>
                                    в чашке – +67 ± 3 °C</td>
                            </tr>

                            <tr>
                                <td>Температура кофе романо</td>
                                <td>+59,5 ± 3 °C (кофе охлаждается лимонным соком комнатной температуры)</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>3–5 минут (включая тщательное мытьё лимона)</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>30–35 (вместе с пенкой)</td>
                            </tr>

                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>50–68 мг (в одной порции)</td>
                            </tr>
                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1-3</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>5</td>
                            </tr>

                            <tr>
                                <td>Калорийность</td>
                                <td>3,35 кКал на порцию</td>
                            </tr>

                            <tr>
                                <td>Калорийность с сахаром</td>
                                <td>22,70 кКал — порция кофе с 5 г сахара (1 стикером)</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Рецепт романо.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Ингредиенты:</center></b></h3>

                        <ol class="bullet">
                            <li>25–30 мл эспрессо.</li>

                            <li>5 мл свежевыжатого лимонного сока.</li>

                            <li>сахар – по вкусу.</li>

                            <li>лимон, цедра – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b><center>Технология приготовления</center></b></h3>

                        <ol class="bullet">
                            <li>Помыть и ошпарить лимон кипятком.</li>

                            <li>Отрезать 2 ломтика: один – толщиной 3–5 мм, другой – как можно тоньше.</li>

                            <li>Тонкий ломтик положить на блюдце и посыпать сахаром.</li>

                            <li>Сварить порцию эспрессо (перед тем, как поставить чашку в лоток для сбора кофе, её следует нагреть).</li>

                            <li>Из толстого ломтика лимона выдавить 5 мл сока в чашку.</li>

                            <li>Подать кофе.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/\images\coffee_sort\Romano\kofe-romano-768x870.jpg' %}" alt=""> 
                            </center> 
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как пить кофе романо.</h2>
            
                <div class="article__text">
                    <p>
                        Кофе романо подают в фаянсовых или фарфоровых чашках для эспрессо. Вместе с кофе гостю предлагают ложечку, стикер сахара или сахарницу, тоненький ломтик лимона, посыпанный сахаром, на блюдце.<br>
                        <br>

                        Ломтик лимона засыпают сахаром за 3–5 минут до приготовления кофе, чтобы кислая мякоть пропиталась сладостью. Иногда встречается вариант подачи, когда ломтик острым ножом надрезают от середины к кожуре и надевают на край стенки чашки. Это негигиенично: такой лимон неприятно есть, мокрую чашку неудобно держать в руках, а сок может испачкать одежду.<br>
                        <br>

                        <p class="margin">
                            Поскольку для подачи кофе романо нужна лимонная цедра, перед тем, как её срезать, фрукт рекомендуется хорошо помыть со щёточкой, затем ошпарить кипятком. У этой процедуры есть и дополнительный плюс: цедра после ошпаривания становится мягче и ароматнее.
                        </p>

                        Каждую «ниточку» цедры накручивают на спичку или зубочистку, чтобы получился завиток (спираль). На бортик чашки надевают 3–5 завитков.<br>
                        <br>

                        Кофе романо хорошо сочетается с шоколадом, песочным печеньем, орехами, твёрдым сыром.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Польза и вред кофе романо.</h2>
            
                <div class="article__text">
                    <p>
                        Витамин C – мощный антиоксидант, который усиливает бодрящий эффект кофеина, но смягчает его воздействие на сосуды. Натощак кофе романо пить нельзя: кислота обжигает слизистую оболочку желудка, а кофеин вызывает усиленную секрецию желудочного сока.<br>
                        <br>

                        С другой стороны, благодаря кофе с лимоном улучшается переваривания пищи, ускоряются обменные процессы. Витамин C препятствует образованию целлюлитной корки. Эспрессо романо полезно выпить через 30–40 минут после еды, особенно перед тренировкой или пешей прогулкой.<br>
                        <br>

                        Однако больным гастритом и другими заболеваниями ЖКТ следует крайне осторожно относиться к напитку: в больших количествах (более 1 порции в день) он способен спровоцировать обострение болезни.<br>
                        <br>

                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-romano.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
