{% extends 'main/layout.html'%}
{% load static %}



{% block link %} <link rel="stylesheet" href="{% static 'main/css/Triplo.css' %}"> {% endblock %}
    

{% block title %} Triplo {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Трипло</h1>
            </div>
        </div>
        {% block slider%}

         {% endblock%}
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Triplo</h3>
                <h2 class="section__title">Трипло</h2>
                <div class="section__text">
                    <p>
                        Эспрессо положено выпивать за 2–3 глотка. А что делать, если хочется посидеть за чашечкой кофе, или просто одной порции эспрессо не хватает для того, чтобы проснуться? В таких случаях заказывают двойную или тройную порцию эспрессо. В Италии, где этот напиток наиболее популярен, вместо «тройной эспрессо» говорят просто «triplo» (ударение на первом слоге), что и означает «тройной». <br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">Отличия трипло от других видов кофе.</h2>
            
                <div class="article__text">
                    <p>
                        Три́пло – всегда тройная порция эспрессо. Этим напиток и отличается от американо, представляющего собой просто разбавленный водой эспрессо. Для приготовления трипло требуется утроенная доза молотого кофе.<br>
                        <br>

                        <p class="margin">
                            Следует держаться подальше от кафе, где трипло понимают как эспрессо, который готовят втрое дольше, или добиваются большего объёма напитка за счёт увеличения помола.
                        </p>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты.</h2>
            
                <div class="article__text">
                    <p>
                        В кофе трипло очень много кофеина даже в том случае, если напиток готовят из 100%-й арабики. Одновременно выпить 3 чашки эспрессо – это не то же самое, что употреблять их на протяжении дня, с перерывом хотя бы 2–3 часа. Трипло не только бодрит, но и наносит серьёзный удар по нервной системе.<br>
                        <br>

                        Богатая кофеином робуста делает пенку пышной и устойчивой, однако придаёт дополнительную горечь. В одном шоте эспрессо даже выразительная горчинка не слишком заметна, она кажется неотъемлемым свойством напитка. Но если в чашку налито 75–90 мл эспрессо – уже с третьего глотка горечь становится неприятной. Поэтому лучше заваривать трипло из чистой арабики, а если уж использовать покупную смесь с эспрессо – выбирать такую, где робусты не более 10–15%.<br>
                        <br>

                        Способ приготовления трипло позволяет оценить все оттенки вкуса и аромата кофейных зёрен. Наиболее ароматный напиток получается из зёрен, смолотых максимум за 4 минуты до заваривания кофе.<br>
                        <br>

                        Качество воды значительно влияет на вкус кофе трипло. Хлорированная или кипячёная вода не подходит. Лучше всего приобрести бутилированную воду с минерализацией 150 мг/л (или хотя бы в диапазоне 75 – 250 мг/л).<br>
                        <br>

                        Сахар скрывает не только кофейную горечь, но и богатство вкусовых оттенков напитка. К тому же следует помнить, что каждая ложка сахара увеличивает калорийность кофе на 19,35 ккал.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Характеристики кофе трипло</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b><center>Характеристики кофе трипло</center></b></h3>
                        <table class="simple-little-table" cellspacing="0">

                            <tr>
                                <td>Сорта зёрен</td>
                                <td>Предпочтительнее 100%-я арабика. Если кофе готовят из смеси с робустой, её должно быть не более 10–15%.</td>
                            </tr>

                            <tr>
                                <td>Степень обжарки</td>
                                <td>От средней (Полной Городской или Венской) до тёмной (Итальянской или Французской).</td>
                            </tr>

                            <tr>
                                <td>Помол</td>
                                <td>Тонкий эспрессо или немного крупнее, вплоть до среднего</td>
                            </tr>

                            <tr>
                                <td>Давление в кофемашине</td>
                                <td>В эспрессо-камере – не менее 9 бар, рабочее давление помпы – не менее 15 бар</td>
                            </tr>

                            <tr>
                                <td>Температура воды в группе</td>
                                <td>Для кофе средней обжарки – от +91 до +93 °C,<br>
                                    для тёмной – от +88 до +91 °C</td>
                            </tr>


                            <tr>
                                <td>Температура готового кофе</td>
                                <td>На выходе из носика холдера — +88 ± 2 °C,<br>
                                    в чашке — +67 ± 3 °C</td>
                            </tr>

                            <tr>
                                <td>Длительность приготовления</td>
                                <td>25–30, в зависимости от модели кофеварки</td>
                            </tr>

                            <tr>
                                <td>Объём порции на выходе, мл</td>
                                <td>75–90</td>
                            </tr>
                            <tr>
                                <td>Содержание кофеина (крепость)</td>
                                <td>150–204 мг (в одной порции)</td>
                            </tr>

                            <tr>
                                <td>Рекомендуемая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Предельно допустимая норма (порций в день)</td>
                                <td>1</td>
                            </tr>

                            <tr>
                                <td>Калорийность порции</td>        
                                <td>6,75–8,1 кКал на порцию</td>
                            </tr>
                            <tr>
                                <td>Калорийность порции с сахаром (5г)</td>
                                <td>26,10–27,45 кКал</td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>
             <div class="section__header">
                <h2 class="section__title">Оборудование.</h2>
            
                <div class="article__text">
                    <p>
                        Для заваривания трипло нужна рожковая кофеварка. Этот вид кофе нельзя приготовить каким-либо другим способом, к примеру, в турке, френч-прессе или пуровере.<br>
                        <br>

                        <p class="margin">
                            Самый вкусный эспрессо – свежесваренный. По мере остывания вкус и аромат кофе ухудшается. Чтобы приготовить три порции эспрессо одновременно, необходимо приобрести специальный портафильтр с тройным сливным краном.
                        </p><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Triplo\portafiltr-s-trojnym-slivnym-kranom-768x768.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Холдер кофеварки с тройным краном слива для приготовления трипло
                            </figcaption>
                        </div><br>
                        <br>

                        В такой холдер помещается 21–26 г кофе. Удобнее всего большую кофейную таблетку утрамбовывать темпером со сферическим основанием. Когда бариста совершает усилие, равное 20 кг, наиболее плотно спрессовывается молотый кофе в центре таблетки. Крупинки кофе, расположенные ближе к краю, темпер прижимает к стенкам портафильтра. В этом случае вода омывает несколько большую площадь поверхности частиц, чем при использовании темпера с плоским основанием.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Классический рецепт трипло.</h2>
            
                <div class="article__text">
                    <p>
                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>кофе – 21 грамм.</li>

                            <li>вода – 90 мл.</li>
                        </ol><br>
                        <br>

                        <h3><b>Приготовление:</b></h3>

                        <ol class="bullet">
                            <li>Включить кофеварку и подождать, пока загорится индикатор готовности.</li>

                            <li>Смолоть кофе, пересыпать его в холдер.</li>

                            <li>Утрамбовать кофейную таблетку.</li>

                            <li>Установить холдер в кофеварку.</li>

                            <li>Нагреть 3 керамических чашки и установить их в лоток для сбора капель.</li>

                            <li>Готовить кофе 25–30 секунд (объём порции в одной чашке должен быть 25–27 мл, в крайнем случае – не более 30 мл).</li>

                            <li>Перелить весь кофе в одну чашку.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Triplo\kofe-triplo-v-domashnix-usloviyax-768x491.jpg' %}" alt=""> 
                            </center>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать и пить трипло.</h2>
            
                <div class="article__text">
                    <p>
                        Кофе трипло подают с ложечкой, стикером сахара (или сахарницей) и стаканом чистой воды комнатной температуры. Перед тем, как пить кофе, нужно сделать глоток воды, чтобы очистить вкусовые рецепторы. Затем глоток воды делают перед каждым глотком кофе. Но последний глоток трипло не запивают: во рту должно остаться послевкусие.<br>
                        <br>

                        <p class="margin">
                            В Италии считается, что посетитель, запивший водой последний глоток кофе, пытается избавиться от неприятного послевкусия. Такое поведение расценивают как оскорбление для бариста.
                        </p>

                        С трипло хорошо сочетается шоколад, ягодные муссы, десерты на основе маскарпоне, песочное печенье, твёрдый сыр.<br>
                        <br>
                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kofejnyj-napitok-triplo.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
