{% extends 'main/layout.html'%}
{% load static %}



{% block link %} <link rel="stylesheet" href="{% static 'main/css/Viennese_coffee.css' %}"> {% endblock %}
    

{% block title %} Viennese Coffee {% endblock %}

{% block intro%}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__suptitle">TimeToCoffee</h2>
                <h1 class="intro__title">Классический кофе по-венски и его вариации</h1>
            </div>
        </div>
        {% block slider%}

         {% endblock%}
    </div><!-- /.intro -->
{% endblock%}

{% block about%}
    <!-- About -->
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__suptitle">Viennese Coffee</h3>
                <h2 class="section__title">Кофе по-венски</h2>
                <div class="section__text">
                    <p>
                        Вот уже 350 лет в кофейнях австрийской столицы посетителей угощают кофе по-венски. Стандартного рецепта напитка нет, поэтому везде напиток готовят по-разному. В англоязычных странах так называют чёрный крепкий кофе с шапкой взбитых сливок. В Австрии предпочитают сперва смешать кофе с жидкими сливками, а уже потом украсить напиток сливочной пеной. По вкусу в кофе добавляют корицу, тёртый шоколад, апельсиновую цедру, какао-порошок. <br>
                        <br>
                    </p>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.about -->
{% endblock%}

{% block content %}
<section class="section">
        <div class="container">

            <div class="section__header">
                <h2 class="section__title">История кофе по-венски.</h2>
            
                <div class="article__text">
                    <p>
                        Однажды сентябрьским утром 1683 года два человека бродили под стенами Вены, по брошенному турками военному лагерю. Накануне, 12 сентября, польский король Ян Собеский наголову разбил турецкую армию.<br>
                        <br>

                        Побеждённые бежали так стремительно, что оставили даже гарем великого визиря. Одного из героев обороны Вены, купца Юрия-Франца Кульчицкого, император наградил правом первым осмотреть турецкий лагерь и выбрать любые трофеи.<br>
                        <br>

                        Но ни дорогие ткани, ни благовония не интересовали купца. Наконец в одном из шатров он обнаружил что искал: мешки с какими-то тёмно-коричневыми зёрнами. Городской чиновник, поглядывавший на своего спутника со смесью зависти и недоумения, поинтересовался, что это. «Корм для верблюдов», – ответил Кульчицкий, чем окончательно убедил чиновника в своём помешательстве.<br>
                        <br>

                        На самом деле Кульчицкий обладал не только острым умом, но и авантюрным характером. Сын бедного самборского шляхтича, Юрий в 20 лет отправился на Запорожскую Сечь и угодил в плен к туркам. В неволе он в совершенстве изучил турецкий, венгерский и румынский язык. Грамотного пленника выкупил сербский купец, и несколько лет Кульчицкий прослужил переводчиком.<br>
                        <br>

                        Разбогатев, к 40 годам Юрий перебрался в Вену и даже основал собственную компанию, но началась война. Турки осадили австрийскую столицу. Стены были крепки, но в городе не хватало продовольствия, а кое-кто из магистрата поговаривал о сдаче. Кульчицкий вызвался отвезти письмо от начальника гарнизона командующему австрийскими войсками герцогу Карлу Лотарингскому.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Viennese_coffee\yurij-kulchickij-749x1024.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Юрий Кульчицкий научил пить кофе Вену
                            </figcaption>
                        </div><br>
                        <br>

                        Кульчицкий и его слуга переоделись в турецкое платье и пробрались во вражеский лагерь. Караульным Юрий представился купцом, занимающимся поставками продовольствия для войск султана. Даже высокопоставленные турецкие офицеры не заподозрили в Кульчицком лазутчика.<br>
                        <br>

                        Юрий доставил письмо герцогу Лотарингскому, а затем вернулся в осаждённую Вену с известием, что на подмогу горожанам выступило польское войско во главе с Яном Собеским. После разгрома турок император пожаловал герою дом, деньги и придворную должность.<br>
                        <br>

                        Юрий обрадовался, обнаружив в оставленном турками лагере 300 мешков кофейных зёрен. Он искренне рассчитывал, что бодрящий, ароматный напиток понравится жителям Вены. В подаренном императором доме Кульчицкий открыл кофейню «Под синей бутылкой» и принялся ждать посетителей.<br>
                        <br>

                        Гостей и вправду было немало, но приходили они в основном, чтобы поглядеть на смельчака и послушать его рассказы. Коричневое горькое пойло, столь любимое турками, избалованных столичных жителей не интересовало. Кульчицкий прекрасно осознавал, что слава проходит быстро, а угроза разорения перед ним встала нешуточная. Следовало действовать, пока о его подвиге не забыли.<br>
                        <br>

                        Чтобы смягчить непривычную для австрийцев горечь, хозяин кофейни добавлял в кофе молоко или сливки, мёд (он в те времена стоил дешевле сахара). Каждый день Кульчицкий надевал турецкую одежду, брал в руки поднос с кофейником и выходил на улицу. Там он предлагал горожанам бесплатно отведать сладкий кофе со сливками и закусить рогаликом в форме полумесяца, изображённого на турецких знамёнах.<br>
                        <br>

                        Через некоторое время в кофейне «Под синей бутылкой» уже не было отбоя от посетителей. Кое-кто из венских трактирщиков оценил перспективы нового напитка, его начали подавать и в других заведениях. Кульчицкого избрали старшиной цеха владельцев кофеен.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Ингредиенты для кофе по-венски.</h2>
            
                <div class="article__text">
                    <p>
                        Если заказать кофе по-венски в кафе, скорее всего, официант принесёт эспрессо со взбитыми сливками. Но во времена Кульчицкого кофемашин не было. Классическому рецепту больше всего соответствует чёрный кофе, сваренный в турке (на 100 г воды – не меньше 10 г молотых зёрен). Вполне допустимо приготовить напиток в гейзерной кофеварке, пуровере или во френч-прессе. Главное – чтобы кофе был крепким.<br>
                        <br>
                        
                        <h3><b>Выбор кофе</b></h3>

                        Для приготовления кофейной основы не нужны дорогие моносорта: оттенки их вкуса всё равно нельзя почувствовать из-за сливок, сахара и пряностей. Подойдёт как 100%-я арабика, так и смеси с 10–30% робусты.<br>
                        <br>

                        <p class="margin">
                            Помол зависит от способа приготовления, но даже для турки зёрна мелят не в пыль, а немного покрупнее: в готовом кофе не должно быть взвеси мелких частиц. Предпочтительнее всего средняя (Венская) обжарка.
                        </p><br>
                        <br>
                        
                        Кофе варят на бутилированной воде с минерализацией 75–250 мг/л.<br>
                        <br>

                        Перед тем, как приготовить кофе по-венски, обязательно нужно подогреть чашку.<br>
                        <br>

                        <h3><b>Сливки</b></h3>

                        Для кофе по-венски нужны сливки жирностью 30–35%. В крайнем случае допускается жирность 20%. Сливки из баллона в кофе добавлять нежелательно.<br>
                        <br>

                        <p class="margin">
                            В классическом рецепте кофе по-венски предполагается, что сливки взбивают не до крутых пиков, а в однородную, но жидкую пену. Её не накладывают ложкой, а наливают.
                        </p><br>
                        <br>

                        Есть варианты, где кофе украшают пышными сливочными шапками, возвышающимися над краем бокала. Это допустимо, если «красоту» делают из натуральных сливок, а не выдавливают пену из баллона. Следует учитывать, что кофе по-венски – не коктейль, в нём не должно быть сливок больше, чем кофейной основы.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Рецепт кофе по-венски.</h2>
            
                <div class="article__text">
                    <p>

                        Калорийность 1 порции напитка без сахара – 60–70 кКал, с сахаром – 80–90 кКал.

                        <h3><b>Ингредиенты:</b></h3>

                        <ol class="bullet">
                            <li>50 мл крепкого чёрного кофе.</li>

                            <li>20 мл сливок.</li>

                            <li>сахар, тёртый шоколад, корица, мускатный орех, апельсиновая цедра – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Технология приготовления:</b></h3>

                        <ol class="bullet">
                            <li>Взбить сливки.</li>

                            <li>Сварить кофе и перелить напиток в прогретую чашку.</li>

                            <li>При необходимости добавить сахар.</li>

                            <li>По лезвию ножа вылить сверху сливки так, чтобы они не утонули, а легли ровным слоем.</li>

                            <li>Посыпать сливки тёртым шоколадом или корицей с апельсиновой цедрой. Иногда смешивают корицу и мускатный орех, но это – на любителя</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Viennese_coffee\klassicheskij-kofe-po-venski-1.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                Юрий Кульчицкий научил пить кофе Вену
                            </figcaption>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            
             <div class="section__header">
                <h2 class="section__title">Кофе по-венски с алкоголем.</h2>
            
                <div class="article__text">
                    <p>
                        Ингредиенты – те же, что и в основном рецепте, плюс 10 мл коньяка или рома. Сваренный кофе смешивают со спиртным напитком, затем украшают слоем сливок. Сливки с алкоголем смешивать нельзя: они могут свернуться.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Viennese_coffee\kofe-po-venski-s-alkogolem-768x510.jpg' %}" alt=""> 
                            </center>
                            <figcaption>
                                С коньяком
                            </figcaption>
                        </div><br>
                        <br>

                        Внимание! Чрезмерное употребление алкоголя вредит вашему здоровью.<br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Кофе по-венски с шоколадом.</h2>
            
                <div class="article__text">
                    <p>
                        Некоторые любители именно этот рецепт считают классическим: ещё сам Кульчицкий смешивал кофе со сливками.

                        Калорийность 1 порции напитка – 115–125 кКал, если в кофе добавить сахар – то 135–145 кКал.

                        <h3><b>Ингредиенты:</b></h3>
                        <ol class="bullet">
                            <li>50 мл чёрного кофе.</li>

                            <li>20 мл сливок.</li>

                            <li>10 г чёрного шоколада (желательно горького).</li>

                            <li>сахар, корица, тёртый шоколад для украшения – по вкусу.</li>
                        </ol><br>
                        <br>

                        <h3><b>Рецепт:</b></h3>
                        <ol class="bullet">
                            <li>Измельчить 10 г шоколада на тёрке.</li>

                            <li>Взбить 15 мл сливок со щепоткой сахара.</li>

                            <li>Сварить чёрный кофе.</li>

                            <li>Смешать тёртый шоколад с 5 мл сливок.</li>

                            <li>Постоянно помешивая, подогревать сливки с шоколадом на водяной бане до тех пор, пока шоколад не расплавится.</li>

                            <li>Вылить кофе в шоколадно-сливочную смесь и, помешивая, 1–2 минуты подогревать на водяной бане.</li>

                            <li>Перелить кофе с шоколадом и сливками в тёплую чашку.</li>

                            <li>Сверху вылить взбитые сливки.</li>

                            <li>Посыпать тёртым шоколадом или корицей.</li>
                        </ol><br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Viennese_coffee\kofe-po-venski-s-shokoladom-1.jpg' %}" alt=""> 
                            </center>
                        </div><br>
                        <br>
                    </p>
                </div>
            </div>
            <div class="section__header">
                <h2 class="section__title">Как подавать кофе по-венски.</h2>
            
                <div class="article__text">
                    <p>

                        Классический кофе по-венски подают в керамических или фарфоровых кофейных чашечках. Даже вместе со взбитыми сливками объём порции не превышает 80–85 мл. Вместе с кофе гостю предлагают сахарницу или стикер, ложечку и соломинку.<br>
                        <br>

                        Некоторые ценители предпочитают сначала съесть пенку при помощи ложки, а затем выпить кофе через соломинку. Однако если сливочная пена жидкая, то можно пить кофе без соломинки.<br>
                        <br>

                        <div class="image_center">
                            <center>   
                                <img class="article__image" src="{% static 'main/images\coffee_sort\Viennese_coffee\kak-podavat-kofe-po-venski.jpg' %}" alt=""> 
                            </center>
                        </div><br>
                        <br>

                        С кофе по-венски хорошо сочетается сладкая выпечка, фруктовые, ягодные желе и муссы, десерты с маскарпоне.<br>
                        <br>
                        <p>
                            Информация была взята из Источника: <span><a href="https://coffeefan.info/kak-prigotovit-kofe-po-venski-doma.html" target="_blank">https://coffeefan.info</a></span>
                        </p>
                    </p>
                </div>
            </div>
{% endblock %}
